<section-title name="Projection of benefits" ></section-title>
<div class="section-container animate__animated animate__fadeIn">
    
    <p-table [value]="cars">
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
            </tr>
            <tr>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
            </tr>
            <tr>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
            </tr>
            <tr>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
                <td>car.vin</td>
            </tr>
        </ng-template>
    </p-table>

</div>