.section{
    margin-top: 10px;
}
.header{
    display: flex;
    align-items: center;
}
// .dynamicList_block_container{
//     padding: 2px 0px 10px 10px;
//     position: relative;
//     border-radius: 0px 0px 5px 5px;
//     .left_line{
//         position: absolute;
//         left: 3px;
//         width: 6px;
//         height: calc(100% - 23px);
//         background-color: #7a78785d;
//         border-radius: 5px;
//     }
//     .order_first{
//         background-color: rgba(5, 77, 96, 0.49);
//     }
//     .order_second{
//         background-color: rgba(163, 80, 3, 0.37);
//     }

//     .dynamicListPreviewButton{
//         display: flex;
//         justify-content: space-between;
//         // border: 1px solid red;
//         color: white;
//         border-radius: 100px;
//         padding: 5px 0px;
//         margin-left: 7px;
//         margin-bottom: 10px;
//         width: calc(100% - 7px);
//         // margin-left: auto;
//         box-sizing: border-box;
//         // margin-right: auto;
//         .dynamicListButton_texts{
//             display: flex;
//             font-weight: 500;
//             align-items: center;
//             .point{
//                 margin-right: 7px;
//                 width: 9px;
//                 height: 9px;
//                 border-radius: 10px;
//             }
//         }
//     }
//     .dynamicListButton{
//         display: flex;
//         justify-content: space-between;
//         // border: 1px solid red;
//         color: white;
//         border-radius: 5px;
//         padding: 5px 0px;
//         margin-left: 7px;
//         margin-bottom: 10px;
//         .dynamicListButton_texts{
//             display: flex;
//             font-weight: 500;
//             align-items: center;
//             .point{
//                 margin-right: 7px;
//                 width: 9px;
//                 height: 9px;
//                 border-radius: 10px;
//             }
//         }

//     }
// }

// .preview{
//     background-color: #31c9965e;
// }