.section{
    margin-top: 10px;
}
.header{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    &:hover{
        background-color: rgb(17, 17, 17) !important; 
        border-radius: 0px 10px 10px 0px;
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    }
}

.active_section{
    background-color: var( --ibdc-black-1) !important; 
    border-radius: 0px 10px 10px 0px;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
}