<section-title name="Impact area" ></section-title>
<div class="section-container animate__animated animate__fadeIn">

    <div class="check_box_with_text">
        <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
        <span>Please select this check-box if your initiative does not address this Impact Area.</span>
    </div>

    <div class="forms_container" *ngIf="checked">
        
    <div class="first_form custom_card">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <ibdc-select [options]="
                        {
                         required:true,
                         inputTitle:'Choose a breadth indicator',
                         form:pobImpactAreaForm,
                         formControlId:'action_area_id',
                         selectItemName:'index_name',
                         selectItemId:'id',
                         frontendSearchAttribute:'index_name',
                         readOnlyVariable: this._initiativesService.initiative.readonly,
                         service:{
                             serviceTS:this._initiativesService,
                             functionName:'getActionAreas'
                         }
                        }">
                        ></ibdc-select>
                    </div>
                    <div class="col-12">
                        <ibdc-select [options]="
                        {
                         required:true,
                         inputTitle:'Choose a depth scale',
                         form:pobImpactAreaForm,
                         formControlId:'action_area_id',
                         selectItemName:'index_name',
                         selectItemId:'id',
                         frontendSearchAttribute:'index_name',
                         readOnlyVariable: this._initiativesService.initiative.readonly,
                         service:{
                             serviceTS:this._initiativesService,
                             functionName:'getActionAreas'
                         }
                        }">
                        ></ibdc-select>
                    </div>
                </div>
            </div>
            <div class="col-6 center_metadata">
                <div class="metada_data_box">
                    <p><span class="metadata-title">Target  year:</span> 2030 (example)</p>
                    <p><span class="metadata-title">Unit:</span> # of people (example)</p>
                    <p><span class="metadata-title">Target value:</span> 3,000,000,000 (example)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="second_form custom_card">
        <div class="row">
            <div class="col-6">
                <ibdc-select [options]="
                {
                 required:true,
                 inputTitle:'Choose a breadth indicator',
                 form:pobImpactAreaForm,
                 formControlId:'action_area_id',
                 selectItemName:'index_name',
                 selectItemId:'id',
                 frontendSearchAttribute:'index_name',
                 readOnlyVariable: this._initiativesService.initiative.readonly,
                 service:{
                     serviceTS:this._initiativesService,
                     functionName:'getActionAreas'
                 }
                }">
                ></ibdc-select>
            </div>
            <div class="col-6">
                <ibdc-input
                [options]="{inputTitle:'Breadth - Numbers reached ', form:pobImpactAreaForm, formControlName:'contextId'
                ,readOnlyVariable: this._initiativesService.initiative.readonly, type:'text'}">
            </ibdc-input>
            </div>
        </div>
    </div>

    <div class="third_form custom_card">
        <div class="row">
            <div class="col-6">
                <ibdc-select [options]="
                {
                 required:true,
                 inputTitle:'Probability',
                 form:pobImpactAreaForm,
                 formControlId:'action_area_id',
                 selectItemName:'index_name',
                 selectItemId:'id',
                 frontendSearchAttribute:'index_name',
                 readOnlyVariable: this._initiativesService.initiative.readonly,
                 service:{
                     serviceTS:this._initiativesService,
                     functionName:'getActionAreas'
                 }
                }">
                ></ibdc-select>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                [options]="{inputTitle:'Provide a narrative containing assumptions for breadth and probability',readOnlyVariable: false, form:pobImpactAreaForm,editText:true, formControlName:'contextId', maxWords:200,
                description:'Provide results from, and method used, to set priority science (research questions, methods), innovations, activities, geographies, systems, crops or other choices relevant to the Initiative.'}">
            </ibdc-textarea>
            </div>
        </div>
    </div>
    </div>

    <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
        <ibdc-save-button [options]="{readOnlyVariable: false}"></ibdc-save-button>
    </div>

</div>