<h2 mat-dialog-title>Add new key partner</h2>
<div mat-dialog-content class="dialog-content">
    <div class="modal-container">
        <custom-select 
        [options]="
        {
         required:true,
         readonly:false,
         inputTitle:'Select key partner',
         form:keyPartnersForm,
         formControlName:'key_partner_id',
         selectList:this.keyPartnersListExample,
         selectItemName:'name',
         selectItemId:'id'
        }">
        ></custom-select>

        <p class="add-partner-text">If you do not find the key partner as part of the drop-down list, please request to
            add it by clicking here.</p>

        <custom-textarea [options]="{required:true, readonly:false, form:keyPartnersForm, formControlName:'description',
        inputTitle:'Describe how the partner fits within the overall Theory of Change',maxWords:250}"></custom-textarea>


    </div>
</div>
<div mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button color="primary" (click)="OnClickNo()" >close</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="keyPartnersForm.value" [disabled]="keyPartnersForm.invalid">save</button>
</div>

