h2 {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.5rem 0;
}

.dialog-content {
    padding: 1rem 5rem;
}

.dialog-actions {
    padding: 1rem 2rem;
}

.modal-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50rem;
    margin: 0.5rem 0;
}



.asterisk {
    color: #ff0000;
}

.add-partner-text {
    font-style: italic;
    font-size: 0.8rem;
    text-decoration: underline;
}

.close {
    color: #fff;
}

.save {
    background: #6AA84F;
    color: #fff;
}