<h2 class="background-color-primary" mat-dialog-title>Add new key partner</h2>
<div mat-dialog-content class="dialog-content">
    <div class="modal-container">
        <span style="position: relative;">
            <custom-select *ngIf="this._dataControlService.institutions"
            [options]="
            {
             required:true,
             readonly:false,
             inputTitle:'Select key partner',
             form:keyPartnersForm,
             formControlId:'key_partner_id',
             formControlName:'key_partner_name',
             selectList:this._dataControlService.institutions,
             selectItemName:'acronym_name',
             selectItemId:'code',
             toDisableList: this.toDisableList
            }">
            ></custom-select>
            <p class="color-secondary" *ngIf="!this._dataControlService.institutions"><strong>Loading instituions...</strong></p>
            <mat-progress-bar style="margin-bottom: 10px;" *ngIf="!this._dataControlService.institutions" mode="indeterminate"></mat-progress-bar>

        </span>


        <p class="add-partner-text">If you do not find the key partner as part of the drop-down list, please request to
            add it by clicking here.</p>

        <custom-textarea [options]="{required:true, readonly:false, form:keyPartnersForm, formControlName:'description',
        inputTitle:'Describe how the partner fits within the overall Theory of Change',maxWords:250}"></custom-textarea>


    </div>
    <br>
    <br>
    <br>
</div>
<div mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button color="primary" (click)="OnClickNo()" >close</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="keyPartnersForm.value" [disabled]="keyPartnersForm.invalid">save</button>
</div>

