h2 {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.5rem 0;
}


.dialog-actions {
    padding: 1rem 2rem;
    bottom: 0;
    right: 0;

}

.dialog-content{
    // padding: 0px;
    // overflow: hidden;
    width: 100%;
    position: relative;
    // background-color: #3b000088 !important;
    // border: solid 5px blue ;
    // height: 100%;
    // height: 40vh;
}



.modal-container-1,.modal-container-2 {
    overflow: hidden;
    width: 100%;
    // height: 50%;
    padding: 50px 50px 0px 50px;
    transition: all .3s ease;
    // border: solid 5px rgb(230, 143, 45) ;
}





.asterisk {
    color: #ff0000;
}

.add-partner-text {
    font-style: italic;
    font-size: 0.8rem;
    text-decoration: underline;
    cursor: pointer;
}

.close {
    color: #fff;
}

.save {
    background: #6AA84F;
    color: #fff;
}