@import '~@angular/material/theming';
.bar{

    width: 100%;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 0;
}

mat-card{
    @include mat-elevation(7);
    background-color: #fafafafa;
}