<h1 mat-dialog-title >Manage Access
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="botton_close" mat-dialog-close>cancel</mat-icon>
</h1>
<div class="dialog_cont">

    <div class="custom-container-dialog">

        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">person_add</mat-icon>
                    Assign coordinators
                </ng-template>


                <!-- <br> -->
                <div class="custom-container-dialog">
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Add users</mat-label>
                                <input matInput placeholder="Search users" animate__fadeInLeft>
                            </mat-form-field>
                            <div class="scroll_container">
                                <mat-card class="no_selected_users" *ngFor="let user of allUsers">
                                    <div class="row">
                                        <span class="title_card col-sm-6"> <strong>{{user.first_name}}
                                                {{user.last_name}}</strong></span>
                                        <span class="title_card col-sm-6">{{user.email}}</span>
                                    </div>
                                    <mat-icon class="person_add">person_add</mat-icon>
                                </mat-card>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <h2 class="color-primary">Users added</h2>
                            <div class="scroll_container">

                                <mat-accordion class="example-headers-align" style="background-color: #fafafafa;" *ngFor="let user of [1]">
                                    <mat-expansion-panel  hideToggle>
                                      <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Manuel Almanzar
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            Roles: ( PI - SGD  )
                                          <mat-icon>edit</mat-icon>
                                        </mat-panel-description>
                                      </mat-expansion-panel-header>

                                      <mat-form-field>
                                        <mat-label>Rol</mat-label>
                                        <mat-select>
                                            <mat-option [value]="rol.id" *ngFor="let rol of allRoles">{{rol.acronym}} -
                                                {{rol.description}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Rol</mat-label>
                                        <mat-select>
                                            <mat-option [value]="rol.id" *ngFor="let rol of allRoles">{{rol.acronym}} -
                                                {{rol.description}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-button color="primary">
                                        <mat-icon>add</mat-icon>Add rol
                                    </button>
                                      
                                    </mat-expansion-panel>
                                </mat-accordion>

                            </div>



                        </div>

                    </div>
                </div>




            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">add_circle_outline</mat-icon>
                    Register users
                </ng-template>


                <app-create-users [allRoles]="allRoles"></app-create-users>

            </mat-tab>
        </mat-tab-group>
    </div>

</div>


<!-- 
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="addCoordinator()"><mat-icon>person_add</mat-icon><strong>Add coordinator</strong></button>
  <button mat-button><mat-icon>add_circle_outline</mat-icon><strong>Create coordinator</strong></button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Close</button>
</div>
 -->