<section-title name="Gender, diversity and inclusion in the workplace" ></section-title>
<form  (ngSubmit)="saveSection()" class="general-information-form">
    <div class="section-container animate__animated animate__fadeIn" >
        <div class="row" *ngIf="showForm">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="secionForm" [extraValidation]="this.extraValidation"></app-section-alerts-pack>
            </div>
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Gender, diversity and inclusion in the workplace',readOnlyVariable: this._initiativesService.initiative.readonly, form:secionForm,editText:true, formControlName:'example', maxWords:250,
                    description:'Demonstrate how GDI considerations have been considered in the Team composition and operations Confirm that the Initiative team is comprised of individuals from diverse origins and backgrounds and meets CGIAR’s gender target of a minimum of 40% women in professional roles. If not, demonstrate how this will be achieved during the lifespan of Initiative. Describe how women and other under-represented groups hold leadership roles in the Initiative team. If they do not, provide a rationale and demonstrate how this will be achieved during the lifespan of Initiative.'}">
                </ibdc-textarea>
            </div>

        </div>
        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
        </div>
    </div>
    
    
</form>
