<div>
    <br>
    <p class="readonly_text_title"><strong class="color-secondary">{{options.inputTitle}}: </strong><span
            class="asterisk">* </span></p>
    <p class="readonly_text">Lorem ipsum dolor sit amet.</p>
    <br>


    <div class="card_container">
        <div class="custom-card animate__animated animate__fadeInRight animate__faster" *ngFor="let item of linkList">
            <div class="blue_flag"></div>
            <div class="inputs_container">
                <div class="input_container">
                    <p class="readonly_text_title"><strong class="color-secondary">Citation: </strong><span
                            class="asterisk">* </span></p>

                    <input class="custom_input" type="text">
                </div>

                <div class="input_container" style="margin-top: 8px;">
                    <p class="readonly_text_title" style="width: 65px;"><strong class="color-secondary">Link:
                        </strong><span class="asterisk">* </span></p>
                    <input class="custom_input" type="text" #myInput>
                </div>
            </div>
            <div class="delete_button center_flex">
                <div class="delete_options">
                    <div style="display: flex;">
                        <mat-icon>delete</mat-icon>
                        <span class="message">Are you sure?</span>
                    </div>

                    <button class="confirm" mat-button type="button">Yes</button>
                </div>
            </div>
            <div class="open_link_button center_flex">
                <a [href]="myInput.value" target="_blank">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="button_add_container center_flex">
        <button (click)="addLink()" class="button_add" type="button" mat-raised-button color="accent">Add link<mat-icon style="margin-left: 5px;">add</mat-icon></button>
    </div>

    <br>
</div>