<div class="section-container animate__animated animate__fadeIn">
    <section-title name="Open and FAIR data assets" ></section-title>
    <ibdc-textarea
    [options]="{inputTitle:'Provide details', description:'Please provide details on how you will implement the Open and FAIR Data Assets Policy and specify any data asset management requirements, e.g. support and tools'
    , form:openAndFairDataAssetsForm, formControlName:'details',maxWords:250}">
    </ibdc-textarea>

    <div class="general-information-save">
        <ibdc-save-button [options]="{underConstruction:true}"></ibdc-save-button>
    </div>

</div>