node_modules
build
dist
docs
coverage
ormconfig.json
src/config/*
/nodemon.json
/todo.txt
/docs/DB/DB.sql
/.env
/logs
public

# nyc test coverage
.nyc_output
# TypeScript v1 declaration files
typings/