.full_container {
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    z-index: 1005;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .bg_close {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

    .contact_modal {
        position: relative;
        background-color: white;
        padding: 50px 20px;
        position: relative;
        z-index: 2;
        max-width: 70vw;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-left: #0aa375 10px solid;
        border-right: #0aa375 10px solid;
        .icon_container{
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            border: 5px solid #0aa375;
            border-radius: 100px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            i{
                color: #2c2c2c !important;
                font-size: 4em;
            }
        }
        .close_icon{
            position: absolute;
            top: 0;
            right: 0;
            margin: 5px 5px;
            cursor: pointer;
        }
        strong{
            font-size: 1.2em;
        }
    }

    .desc{
        .email{
            color: rgb(66, 169, 230);
            font-weight: 500;
        }
    }

}