<div class="full_container" *ngIf="showModal">

    <div class="bg_close" (click)="onclose();">
    </div>

    <div class="contact_modal animate__animated  animate__fadeIn">
        <div class="icon_container">
            <i class="material-icons">support_agent</i>
        </div>
        <div class="close_icon" (click)="onclose();">
            <i class="material-icons">close</i>
        </div>
        <strong>Please do not hesitate to contact us:</strong>
        <div class="desc">For technical questions related to the OST and the Theory of Change board, please contact <span class="email">OSTTechSupport@cgiar.org</span></div>
        <div class="desc">For content questions related on how to fill different sections, please contact <span  class="email">projectcoordinationunit@cgiar.org</span></div>
    </div>
    
</div>