<div class="card">
    <p-table #dt1 [value]="this.listStatus" [globalFilterFields]="['name','official_code']" [scrollable]="true" scrollHeight="calc(80vh - 100px)">
        <ng-template pTemplate="caption">
            <div style="display: flex; justify-content: space-between;">
                <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
    
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
    
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code" style="width: 100px;">Official Code 
                    <p-sortIcon field="official_code"></p-sortIcon>
                    <p-columnFilter type="text" field="official_code" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="name" style="width: 400px;">Initiative Name 
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="comments">Total Comments 
                    <p-sortIcon field="total_comments"></p-sortIcon>
                    <p-columnFilter type="text" field="total_comments" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="responses">Responses
                    <p-sortIcon field="responses"></p-sortIcon>
                    <p-columnFilter type="text" field="responses" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="pending">Pending
                    <p-sortIcon field="pending"></p-sortIcon>
                    <p-columnFilter type="text" field="pending" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="average">Average
                    <p-sortIcon field="average"></p-sortIcon>
                    <p-columnFilter type="text" field="average" display="menu"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-init>
            <tr>
                <td style="width: 100px;">{{init.official_code}}</td>
                <td style="width: 400px;">{{init.name}}</td>
                <td class="col_num"><strong>{{init.total_comments}}</strong></td>
                <td class="col_num">{{init.responses}}</td>
                <td class="col_num">{{init.pending}}</td>
                <td>
                    <p-progressBar class="customProgress"  [value]="init.average | number:'1.0-0'"></p-progressBar>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>