<div class="card-container">
    <section-title name="ISDC Comments status"></section-title>
    <div class="section-container animate__animated animate__fadeIn">
        <div class="card">
            <p-table #dt1 [value]="this.listStatus" styleClass="p-datatable-gridlines" [globalFilterFields]="['name','official_code']" [scrollable]="true"
                scrollHeight="calc(80vh - 100px)">
                <ng-template pTemplate="caption">
                    <div style="display: flex; justify-content: space-between;">
                        <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="clear(dt1)"></button>
                        <button style="margin-left: 10px;" type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>

                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="official_code" style="width: 100px;">
                            <div class="flex justify-content-center align-items-center">
                                ID
                                <p-sortIcon field="official_code"></p-sortIcon>
                                <p-columnFilter type="text" field="official_code" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="name" style="width: 350px;">
                            <div class="flex justify-content-center align-items-center">
                                Initiative Name
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="total_comments" class="col_num">
                            <div class="flex justify-content-center align-items-center">
                                Total Comments
                                <p-sortIcon field="total_comments"></p-sortIcon>
                                <p-columnFilter type="text" field="total_comments" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="responses" class="col_num">
                            <div class="flex justify-content-center align-items-center">
                                Responses
                                <p-sortIcon field="responses"></p-sortIcon>
                                <p-columnFilter type="text" field="responses" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="pending" class="col_num">
                            <div class="flex justify-content-center align-items-center">
                                Pending
                                <p-sortIcon field="pending"></p-sortIcon>
                                <p-columnFilter type="text" field="pending" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="average" style="width: 200px;">
                            <div class="flex justify-content-center align-items-center">
                                Average
                                <p-sortIcon field="average"></p-sortIcon>
                                <p-columnFilter type="text" field="average" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-init>
                    <tr>
                        <td style="width: 100px;"><strong>{{init.official_code}}</strong></td>
                        <td style="width: 350px;">{{init.name}}</td>
                        <td class="col_num"><strong>{{init.total_comments}}</strong></td>
                        <td class="col_num">{{init.responses}}</td>
                        <td class="col_num">{{init.pending}}</td>
                        <td style="width: 200px;">
                            <p-progressBar class="customProgress" [value]="init.average | number:'1.0-0'">
                            </p-progressBar>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>