/one-cgiar-front/dist/*
/uploads
/one-cgiar-front/src/environments/environment.ts
/one-cgiar-front/src/environments/environment.prod.ts
/todo.txt
/one-cgiar-front/src/proxy.conf.json
/submission-data.txt