/one-cgiar-front/dist/*
/uploads
/one-cgiar-front/src/environments/environment.ts
/one-cgiar-front/src/environments/environment.prod.ts
/todo.txt
/one-cgiar-front/src/proxy.conf.json
/submission-data.txt
/submission-request-test.http
/one-cgiar-back/.env
/one-cgiar-back/src/config/config.ts
/one-cgiar-back/ormconfig.json
/one-cgiar-back/node_modules
/one-cgiar-back/docs/DB
/docs/api_data.json
/docs/api_project.json