/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$variable-page-primary: mat-palette($mat-blue-gray, 800);
$variable-page-accent: mat-palette($mat-green, 600);
// The warn palette is optional (defaults to red).
$variable-page-warn: mat-palette($mat-red, 700);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$variable-page-theme: mat-light-theme(
  (
    color: (
      primary: $variable-page-primary,
      accent: $variable-page-accent,
      warn: $variable-page-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($variable-page-theme);
/* You can add global styles to this file, and also import other style files */
html *:not(.pi,mat-icon,.material-icons) {
  font-family: "Poppins", sans-serif !important;
}
html,
body {
  height: 100%;
  font-size: 13px !important;
  p{
    font-size: 12.5px !important;
  }
}

.mat-list-base .mat-list-item, .mat-expansion-panel, .mat-expansion-panel-content, .mat-expansion-panel-header {
  font-size: 1em !important;
}
body {
  margin: 0;
}

.custom-dialog-container .mat-dialog-container {
  overflow-x: hidden;
  padding: 0px 0px 24px 0px;
  width: 100%;
}

.dialog-no-padding-no-scroll .mat-dialog-container {
  overflow-x: hidden;
  overflow-y: none !important;
  padding: 0px 0px 24px 0px;
}

.dialog-no-padding-no-scroll .mat-dialog-content{
  overflow-y: none !important;
}

.alert_text_red{
  color: rgb(221, 73, 73) !important;
}

span,
button {
  outline: none !important;
}

// mat-sidenav-content {
//   background-color: #fafafa !important;
// }

.mat-tab-body-content { overflow: hidden!important}

.icon_verify {
  position: absolute !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 35px !important;
  color: #c5c5c5;
}

.icon_verify_valid {
  color: #4caf50;
}
.ibdc_button_template_container{
  // display: flex;
  // justify-content: center;
  // margin-left: 55px;
  .ibdc_button_template{
    border-radius: 50px;
    background-color: var(--ibdc-tertiary-color);
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: all ease .3s;
    &:hover{
      box-shadow: 0 3px 10px #aedab0b2, 0 3px 10px #aedab0b2;
      transition: all ease .3s;
      background-color: #6bd16f;
    }
  }
}


//primary
.color-primary{
  color: mat-color( $variable-page-primary) !important;
}

.color-primary-2{
  color: #023e52 !important;
}

.color-primary-3{
  color: #014d66 !important;
}

.background-color-primary{
  // #37474F
  background-color: var(--ibdc-secondary-color) !important;
}

.background-color-primary-2{
  background-color: #023e52 !important;
}

.background-color-primary-3{
  background-color: var(--ibdc-secondary-color)!important;
}
//secondary
.color-secondary{
  color: #087b83 !important;
}

.background-color-secondary{
  background-color: #087b83 !important;
}
//tertiary
.color-tertiary{
  color: #0aa375 !important;
}

.background-color-tertiary{
  background-color: #0aa375 !important;
}

.background-color-main-1{

}

.background-color-main-2{
  background-color: #f6f6f4 !important;
}

.color-accent{
  color: mat-color( $variable-page-accent) !important;
}

.background-color-accent{
  background-color: mat-color( $variable-page-accent) !important;
}

.color-warn{
  color: mat-color( $variable-page-warn) !important;
}

.background-color-warn{
  background-color: mat-color( $variable-page-warn) !important;
}


//ibdc Colors

.ibdc_primary_color{
  color: mat-color( $variable-page-primary) !important;
}

.ibdc_secondary_color{
  color: #087b83 !important;
}

.ibdc_bg_secondary_color{
  background-color: #5cc560 !important;
}

.ibdc_asterisk{
  color: #ff0000;
}

.ibdc_text_color{
  color: #797979;
}

.ibdc_basic_title{
  color: var(--ibdc-tertiary-color);
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.ibdc_basic_description{
  color: rgb(80, 80, 80);
  // margin-bottom: 10px;
  font-size: 12px;
}

.ibdc_green_gradient{
  background: rgb(91,189,147);
  background: linear-gradient(131deg, rgba(91,189,147,1) 0%, rgba(210,225,200,1) 100%);
}

//ibdc colors end


.items_container{
  width: 100%; 
  box-sizing: border-box;
  margin-top: -58px; 
  border-radius: 10px;
  // margin-left: 10px;
  padding: 10px 12px; 
  background-color: #ededed;
  box-shadow: 0px 0px 5px rgb(230, 230, 230);
  .items{
      width: max-content; 
  }
}

.viewer-backdrop{
  // background-color: rgb(255, 255, 255) !important;
  background-image: url('/assets/images/platform_background.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.table-container{
  .p-datatable-header{
      background-color: var(--ibdc-secondary-color);
  }
  .p-datatable{
    border-radius: 10px !important;
    overflow: hidden;
    border: 2px solid white;
  }
}
.viewer-close{
  background-color: var(--ibdc-secondary-color) !important;
}


.section_title{
  font-weight: 700 !important;
}


.ia-1,.ia-2,.ia-3,.ia-4,.ia-5{
  width: 8px;
  height: 25px;
  margin-right: 7px;
}

.ia-1{
  background-color: #F07E27;
}

.ia-2{
  background-color: #055F6B;
}

.ia-3{
  background-color: #EB5B47;
}

.ia-4{
  background-color: #00A772;
}

.ia-5{
  background-color: #74B959;
}

.custom_scroll::-webkit-scrollbar {
  width: 10px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.custom_scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.eoi-item{
  // display: flex;
  margin-top: 12px;
  .eoi-item-title{
    color: rgb(17, 17, 17);
    font-weight: 700;
    margin-right: 5px;
    width: max-content;
  }
  
  .eoi-item-description{
    color: rgb(109, 109, 109);
  }
}

.eoi-list{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
}


.ql-editor {
  resize: vertical !important;
}

.p-editor-content.ql-container.ql-snow {
  height: unset !important;
}