/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$variable-page-primary: mat-palette($mat-blue-gray, 800);
$variable-page-accent: mat-palette($mat-green, 600);
// The warn palette is optional (defaults to red).
$variable-page-warn: mat-palette($mat-red, 500);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$variable-page-theme: mat-light-theme(
  (
    color: (
      primary: $variable-page-primary,
      accent: $variable-page-accent,
      warn: $variable-page-warn,
    ),
  )
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($variable-page-theme);
/* You can add global styles to this file, and also import other style files */
html *:not(mat-icon) {
  font-family: "Poppins", sans-serif !important;
}
html,
body {
  height: 100%;
  font-size: 14px !important;
}
.mat-list-base .mat-list-item, .mat-expansion-panel, .mat-expansion-panel-content, .mat-expansion-panel-header {
  font-size: 1em !important;
}
body {
  margin: 0;
}

.custom-dialog-container .mat-dialog-container {
  overflow-x: hidden;
  padding: 0px 0px 24px 0px;
  width: 100%;
}

.dialog-no-padding-no-scroll .mat-dialog-container {
  overflow-x: hidden;
  overflow-y: none !important;
  padding: 0px 0px 24px 0px;
}

.dialog-no-padding-no-scroll .mat-dialog-content{
  overflow-y: none !important;
}

.pointer {
  cursor: pointer;
}
span,
button {
  outline: none !important;
}

mat-sidenav-content {
  background-color: #fafafa !important;
}

@media screen and (min-width: 1400px) {
  .custom-container {
    max-width: calc(100% - 200px);
    // background-color: greenyellow !important;
  }
}

@media screen and (max-width: 1400px) {
  .custom-container {
    max-width: 1140px;
    // background-color: orange !important;
  }
}

@media screen and (max-width: 1200px) {
  .custom-container {
    max-width: 1140px;
    // background-color: orange !important;
  }
}

@media screen and (max-width: 992px) {
  .custom-container {
    max-width: 960px;
    // background-color: red !important;
  }
}

@media screen and (max-width: 768px) {
  .custom-container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}

.custom-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon_verify {
  position: absolute !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 35px !important;
  color: #c5c5c5;
}

.icon_verify_valid {
  color: #4caf50;
}

.mat-form-field-aux{
  .mat-form-field-wrapper{
      .mat-form-field-flex,.mat-form-field-underline{
          position: absolute !important;
      }
  }

}


ngx-editor {
  .NgxEditor {
    border-radius: 0px !important;
    border: none!important;
    border-bottom: 1px solid #a7a7a7 !important;
    background-color: transparent !important;
    p{
      margin: 0px;
      background-color: transparent !important;
    }

    .NgxEditor__Content{
      padding: 0px !important;
      p{
        background-color: transparent !important;

      }
        background-color: transparent !important;
      
    }
  }
}

ngx-editor-menu{
  .NgxEditor__MenuBar{
    background-color: transparent !important;
  }
}


//primary
.color-primary{
  color: mat-color( $variable-page-primary) !important;
}

.color-primary-2{
  color: #023e52 !important;
}

.color-primary-3{
  color: #014d66 !important;
}

.background-color-primary{
  // #37474F
  background-color: #013243 !important;
}

.background-color-primary-2{
  background-color: #023e52 !important;
}

.background-color-primary-3{
  background-color: #014d66 !important;
}
//secondary
.color-secondary{
  color: #006b57 !important;
}

.background-color-secondary{
  background-color: #0aa375 !important;
}
//tertiary
.color-tertiary{
  color: #2d4b00 !important;
}

.background-color-tertiary{
  background-color: #85af45 !important;
}

.background-color-main-1{

}

.background-color-main-2{
  background-color: #f6f6f4 !important;
}



.color-accent{
  color: mat-color( $variable-page-accent) !important;
}

.background-color-accent{
  background-color: mat-color( $variable-page-accent) !important;
}

.color-warn{
  color: mat-color( $variable-page-warn) !important;
}

.background-color-warn{
  background-color: mat-color( $variable-page-warn) !important;
}

.marginSnackTop{
  margin-top: 200px !important;
}

.outline_none{
  outline: none !important;
}

// .mat-dialog-container {
//   padding: 0px !important;
// }