<div class="navbar-content" *ngIf="_interactionsService.showHeader">
    <div class="navbar-options">
        <div class="cgiar-logo">
            <app-cgiar-logo-svg></app-cgiar-logo-svg>
        </div>
        <div class="platform-name"><strong>One CGIAR </strong><div class="outline-font">Submission Tool</div></div>
        <!-- <i class="cgiar-logo"></i> -->

        <div class="navbar-title" routerLink="/home" routerLinkActive="active" (click)="_interactionsService.collapseHeader = false">Initiatives</div>
        <div class="navbar-title" routerLink="/bi" routerLinkActive="active" (click)="_interactionsService.collapseHeader = false">BI</div>
        <div class="navbar-title">Users online {{count}}</div>
    </div>
    <div class="navbar-opt">
        <div class="user-information">
            <i class="material-icons">account_circle</i>
            <div class="navbar-name">{{name}}</div>
            <div class="navbar-role ibdc_bg_secondary_color">{{role?.toUpperCase()}}</div>
        </div>
        <div class="navbar-logout" (click)="onExit()">
            <div class="text">Logout</div>
            <i class="material-icons">logout</i>
        </div>
    </div>
</div>