.navbar-content {
    align-items: center;
    display: flex;
    width: 100%;
    height: 65px;
    font-size: 1.2em;
    justify-content: space-between;
    padding: 0 3rem 0 5rem;
    background-color: #898e8966;
}
.navbar-title.active{
    background-color: #666;
}
.navbar-title {
    border-radius: 5px;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    padding: 1.3rem 1rem;
    transition: all ease .3s;
    &:hover{
        transition: all ease .3s;
        background-color: #616161a8;
        border-radius: 5px;
    }
}

.isActive {
    background: #066D94; 
}

.navbar-opt {
    display: flex;
    align-items: center;
    color: #fff;
}

.user-information {
    display: block;
    text-align: center;
    padding: 0.7rem 3.5rem;
    background-color: #313131a8;
    border-radius: 5px;
}

.navbar-name {
    margin: 0;
    font-size: 0.80em;
}

.navbar-role {
    border-radius: 20px;
    margin: 0;
    font-size: 0.80em;
}

.navbar-logout {
    color: #fff;
    text-decoration: none;
    background: #444;
    padding: 0 1rem;
    font-size: 0.9em;
    font-weight: lighter;
    border-radius: 10px;
    margin: 0 0 0 1rem;
}

.navbar-logout:hover {
    background: #666;
}