.table-container {
    padding: 2rem 4rem;
}

table {
    width: 100%;
}
  
td, th {
    width: auto;
}

th {
    background-color: #465a64;
    color: #fff;
}

.mat_row{
    transition: all .3s ease;
    &:hover{
        background-color: #f5f5f5;
        transition: all .3s ease;

    }
}

::ng-deep .mat-sort-header-arrow {
    color: #fff;
}