.table-container {
    padding: 2rem 4rem;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}

th {
    background-color: #0779A4;
    color: #fff;
}
  