<footer class="footer">
  <div class="note-login">
    <span><strong>PLEASE NOTE:</strong> that by using the system, you consent to the information being used by the
      System Management Office. The information you input should therefore be complete and suitable for an external
      audience and funders.</span>
  </div>
  <span class="title-research-center">Research Centers:
    <div class="research-centers">
      <i class="africarice-logo"></i>
      <i class="alliance-logo"></i>
      <i class="cgiar-logo"></i>
      <i class="cifor-logo"></i>
      <i class="cimmyt-logo"></i>
      <i class="cip-logo"></i>
      <i class="icarda-logo"></i>
      <i class="icirsat-logo"></i>
      <i class="icraf-logo"></i>
      <i class="ifpri-logo"></i>
      <i class="iita-logo"></i>
      <i class="ilri-logo"></i>
      <i class="irri-logo"></i>
      <i class="iwmi-logo"></i>
      <i class="worldfish-logo"></i>
    </div>
  </span>
</footer>