.footer {
  bottom: 0;
  background-color: #fff;
  padding: 0 12rem 2rem 12rem;
}

.note-login {
  padding:  0 0 2rem 0;
  font-size: 0.8rem;
  line-height: 1.2;
}

.title-research-center {
  color: #b9b6b6;
}

.research-centers {
  padding: 0 5rem;
}

.africarice-logo {
  content: url("../../../../assets/images/africarice_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.alliance-logo {
  content: url("../../../../assets/images/alliance_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.cgiar-logo {
  content: url("../../../../assets/images/cgiar_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.cifor-logo {
  content: url("../../../../assets/images/cifor_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.cimmyt-logo {
  content: url("../../../../assets/images/cimmyt_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.cip-logo {
  content: url("../../../../assets/images/cip_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.icarda-logo {
  content: url("../../../../assets/images/icarda_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.icirsat-logo {
  content: url("../../../../assets/images/icirsat_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.icraf-logo {
  content: url("../../../../assets/images/icraf_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.ifpri-logo {
  content: url("../../../../assets/images/ifpri_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.iita-logo {
  content: url("../../../../assets/images/iita_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.ilri-logo {
  content: url("../../../../assets/images/ilri_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.irri-logo {
  content: url("../../../../assets/images/irri_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.iwmi-logo {
  content: url("../../../../assets/images/iwmi_logo.png");
  width: 5rem;
  padding: 0 5px;
}

.worldfish-logo {
  content: url("../../../../assets/images/worldfish_logo.png");
  width: 5rem;
  padding: 0 5px;
}
