.ibdc-tabs{
    display: flex;
    .ibdc-tab{
        // border-radius: 10px;
        border-radius: 10px 10px 0px 0px;
        font-weight: 500;
        color: white;
        margin-right: 5px;
        .ibdc-tab_name{
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}

.ibdc-tab{
    .selected{
        background-color: var(--ibdc-secondary-color) !important;
        border-bottom: 3px solid var(--ibdc-tertiary-color) !important;
        transition: all ease .3s !important;
    }
    .notSelected{
        background-color: rgb(179, 179, 179);
        transition: all ease .3s;
        border-bottom: 2px solid rgb(179, 179, 179);;
    }
}

.ibdc-tabs_container{
    background-color: rgb(255, 255, 255);
    border: 1px solid #cececefa;
    padding: 30px 20px;
    position: relative;
}

:root{
    --ibdc-primary-color: #272A30;
    --ibdc-secondary-color: #5cc560;
    --ibdc-active-color: #9ef1a1;
    --ibdc-tertiary-color: #087b83;
    --ibdc-text-color: #797979;
    --ibdc-black-1: #1A1C1E;
    --ibdc-black-2: #2b2d2e;
    --ibdc-gray-1: #757575;
    --ibdc-gray-2: #757575;
  }