<div class="toggle-view-button-container">
    <div class="toggle-view-button" (click)="this.onbuttonViewEvent()">
        <span>{{this.showTableViewVariable ? 'Table view' : 'Editable view'}} </span>
     </div>
</div>

<table *ngIf="this.list.length && this.showTableViewVariable">
    <tr>
        <th *ngFor="let item of this.attr_list_config">{{item['name']}}</th> <th></th>
    </tr>
    <tr *ngFor="let item of this.list">
        <td *ngFor="let key of this.attr_list_config">{{item[key?.attribute]}}</td> <th><div class="material-icons" (click)="edit(item)">edit</div></th>
    </tr>
</table>