<br>
<br>
<br>       
          <div class="container">
            <mat-card style="padding: 10px 50px;">
                <h2 class="color-secondary">Register user</h2>
                <form [formGroup]="createUserForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field style="width: 100%;">
                                <mat-label >Email</mat-label>
                                <input type="email" matInput formControlName="email" (input)="cleanCheckedCgiar()">
                                <mat-error *ngIf="createUserForm.get('email').hasError('email')">
                                    Please enter a valid email address
                                  </mat-error>
                                  <mat-error *ngIf="createUserForm.get('email').hasError('required')" >
                                    Email is <strong>required</strong>
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <button mat-raised-button color="primary" (click)="validateEmail()" [ngClass]="{'animate__animated animate__infinite animate__pulse': checkedCgiar == false}">Check email</button>
                        </div>
                        <div class="col-sm-6" *ngIf="showInitial">
                            <h3 class="color-accent" style="display: inline-block;" *ngIf="isCgiar">
                                <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon" class="center-icon">email</mat-icon>
                                This e-mail belongs to the <strong>CGIAR</strong> Active Directory.
                            </h3> 
                            
                            <h3 class="color-accent" style="display: inline-block;" *ngIf="!isCgiar">
                                <mat-icon aria-hidden="false" color="primary"  aria-label="Example home icon" class="center-icon">email</mat-icon>
                                This e-mail does not belong to the <strong>CGIAR</strong> Active Directory.
                            </h3> 
                            <!-- <mat-radio-group aria-label="Select an option" formControlName="is_cgiar">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group> -->
                        </div>

                        <div class="col-sm-6" *ngIf="showInitial">
                            <mat-form-field class="example-full-width">
                                <mat-label >First name</mat-label>
                                <input [readonly]="isCgiar" matInput formControlName="first_name">
                              </mat-form-field>
                        </div>
                        <div class="col-sm-6" *ngIf="showInitial">
                            <mat-form-field class="example-full-width">
                                <mat-label >Last name</mat-label>
                                <input [readonly]="isCgiar" matInput formControlName="last_name">
                              </mat-form-field>
                        </div>
                        <div class="col-sm-6" *ngIf="!isCgiar && showInitial">
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input minlength="8" matInput type="password" formControlName="password">
                                <mat-hint>min. 8 characters</mat-hint>

                                <mat-error *ngIf="createUserForm.get('password').errors?.minlength">
                                    password less than <strong>8</strong> 
                                  </mat-error>
                                  <mat-error *ngIf="createUserForm.get('password').hasError('required')">
                                    password is <strong>required</strong>
                                  </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                        </div>
                        <div class="col-sm-12" align="end">
                            <button (click)="createUser()"  mat-raised-button color="accent" [disabled]="createUserForm.invalid || (!checkedCgiar)">Register user<mat-icon class="tab-icon">add_circle_outline</mat-icon></button>
                        </div>
                    </div>
                </form>


  
            </mat-card>
          </div>