.general-information-full-width {
    width: 100%;
}



.asterisk {
    color: #ff0000;
}
.readonly_text,.readonly_text_title{
    margin: 0;
}
.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.editText{
    p{
        margin: 0px;
    }
}