<div class="card-container">
    <section-title name="Users reporting"></section-title>
    <div class="section-container animate__animated animate__fadeIn">
        <p-table #dt1 [loading]="loading" [globalFilterFields]="['official_code','initiative_name','user_name','email','generalRole', 'initRole']" styleClass="p-datatable-gridlines" [value]="usersList"
            scrollHeight="calc(80vh - 100px)" [scrollable]="true">
            <ng-template pTemplate="caption">
                <div style="display: flex; justify-content: space-between;">
                    <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                        <button style="margin-left: 10px;" type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>

                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            ID
                            <p-columnFilter type="text" field="official_code" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Initiative name
                            <p-columnFilter type="text" field="initiative_name" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            User name
                            <p-columnFilter type="text" field="user_name" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-center align-items-center">
                            Email
                            <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="generalRole">
                        <div class="flex justify-content-center align-items-center">
                            Role
                            <p-sortIcon field="generalRole"></p-sortIcon>
                            <p-columnFilter type="text" field="generalRole" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="last_login">
                        <div class="flex justify-content-center align-items-center">
                            Last login
                            <p-sortIcon field="last_login"></p-sortIcon>
                            <p-columnFilter type="text" field="last_login" display="menu"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td class="routerInit" *ngIf="user.official_code" routerLink="/initiatives/{{user.initId}}/stages/{{this._dataControlService.getStageRouteByStageId(user.stageId)?.route}}/general-information">
                        <strong>
                            {{user.official_code}}
                        </strong>
                    </td>
                    <td *ngIf="!user.official_code">
                        <i style="font-size: 10px;">
                            Not applicable
                        </i>
                    </td>
                    <td class="routerInit" *ngIf="user.initiative_name" routerLink="/initiatives/{{user.initId}}/stages/{{this._dataControlService.getStageRouteByStageId(user.stageId)?.route}}/general-information">
                        {{user.initiative_name}}
                    </td>
                    <td *ngIf="!user.initiative_name">
                        <i style="font-size: 10px;">
                            Not applicable
                        </i>
                    </td>
                    <td>{{user.user_name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <p>
                            <strong>General Role: </strong> {{user.generalRole}}
                        </p>
                        <p>
                            <strong>Initiative Role: </strong>{{user.initRole?user.initRole:'Not applicable'}}
                        </p>
                    </td>
                    <td>
                        <app-toggle-format-date *ngIf="user?.last_login" [date]="user.last_login">
                        </app-toggle-format-date>
                        <span *ngIf="!user?.last_login">No login</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>