<p-table #dt1 [globalFilterFields]="['first_name']"  styleClass="p-datatable-gridlines" [value]="usersList" scrollHeight="calc(80vh - 100px)" [scrollable]="true">
    <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: space-between;">
            <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
            </span>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>              
                <div class="flex justify-content-center align-items-center">
                    Name
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-center align-items-center">
                    email
                    <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-center align-items-center">
                    Init id
                    <p-columnFilter type="text" field="initiative_code" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-center align-items-center">
                    Role
                    <p-columnFilter type="text" field="role" display="menu"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.initiative_code}}</td>
            <td>{{user.role}}</td>
        </tr>
    </ng-template>
</p-table>
