<section-title name="Management plan" ></section-title>
<form  (ngSubmit)="saveSection()" class="general-information-form">

    <div class="section-container animate__animated animate__fadeIn">
        <div class="row" *ngIf="showForm">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="managementPlanForm" [extraValidation]="this.extraValidation"></app-section-alerts-pack>
            </div>
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Management plan narrative',readOnlyVariable: false, form:managementPlanForm,editText:true, formControlName:'example', maxWords:250,
                    description:'Describe how your Initiative will be adaptively managed to navigate towards impact during the three years of implementation'}">
                </ibdc-textarea>
            </div>
        </div>
        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
        </div>
    </div>

</form>