<section-title name="Work package"></section-title>

<div class="section-container animate__animated animate__fadeIn" >

  <div class="tabs">
    <div class="tab">
      <div class="tab_name notSelected" routerLinkActive="selected" routerLink="wp-general-information">
        General information
      </div>
    </div>
    <div class="tab">
      <div class="tab_name notSelected" routerLinkActive="selected" routerLink="wp-toc">
        Theory of change
      </div>
    </div>
  </div>

  <div class="tabs_container">
    <router-outlet></router-outlet>
  </div>
  





</div>