<div class="partners-container animate__animated animate__fadeIn">
    <strong class="partners-title">Key partners</strong>
    <form [formGroup]="partnershipForm" class="partners-form" (submit)="savePartnership()" >
        <custom-textarea *ngIf="partnershipForm.value.comparativeAdvantage != null"
        [options]="{ form:partnershipForm,formControlName:'comparativeAdvantage',maxWords:250,inputTitle:'Comparative advantage',
         description:'Evidence of why and how CGIAR and the partnership arrangement will deliver a unique or more cost-effective set of results compared to other credible partnerships or service providers'}">
        </custom-textarea>

        <table>
            <tr class="center">
                <th>Key Partner</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of partnership.key_partners ; let i = index" [style.display]="item.active?'':'none'">
                <td [style.color]="item.active == true?'black':'red'">{{item.key_partner_name}}</td>
                <td [style.color]="item.active == true?'black':'red'">{{item.description}}</td>
                <td class="center"><mat-icon class="edit" (click)="openDialog(i,item)">edit</mat-icon></td>
                <td class="center"><mat-icon class="delete" (click)="removeKeyPartner(i)">delete</mat-icon></td>
            </tr>
        </table>
        <div class="set-data-container">
            <button type="button" mat-raised-button class="set-data-button" (click)="addNewKeyPartner()">
                add new key partner
            </button>
        </div>
        <div class="partners-save">
            <button type="submit" mat-raised-button class="save-button">
                Save
            </button>
        </div>
    </form>
</div>