<div class="partners-container animate__animated animate__fadeIn">
    <strong class="partners-title">Key partners</strong>
    <form [formGroup]="_requests.keyPartnersCs" class="partners-form">
        <mat-form-field class="partners-full-width">
            <p><strong>Comparative advantage: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Evidence of why and how CGIAR and the partnership arrangement will deliver a unique or more cost-effective set of results compared to other credible partnerships or service providers</i></p>
            <textarea matInput type="text" formControlName="advantage" required (keydown)="wordCounter()" #text cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"></textarea>
            <mat-hint align="start"><strong>Max 250 words</strong> </mat-hint>
            <mat-hint align="end"><strong>{{words}} / 250</strong></mat-hint>
        </mat-form-field>
        <table>
            <tr class="center">
                <th>Key Partner</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr *ngFor="let item of partnership.key_partners; let i = index">
                <td [style.color]="item.active == true?'black':'red'">{{item.key_partner_name}}</td>
                <td [style.color]="item.active == true?'black':'red'">{{item.description}}</td>
                <td class="center"><mat-icon class="edit" (click)="openDialog(i,item)">edit</mat-icon></td>
                <td class="center"><mat-icon class="delete" (click)="removeKeyPartner(i)">delete</mat-icon></td>
            </tr>
        </table>
        <div class="set-data-container">
            <button type="submit" mat-raised-button class="set-data-button" (click)="addNewKeyPartner()">
                add new key partner
            </button>
        </div>
        <div class="partners-save">
            <button type="submit" (click)="savePartnership()" mat-raised-button class="save-button">
                Save
            </button>
        </div>
    </form>
</div>