<div class="local_container  {{expand ? 'expand-local-container' : 'no-expand-local-container'}}">
  <div class="eoi_card {{expand ? 'expand-card' : 'no-expand-card'}}" [style.height]="expand ? 'auto' : '100%'">
    <div class="title_container"  [style.background]="this.colors['WP']">
      <div class="title">{{this.eoiData?.result_title}}</div>
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="material-icons close_icon" *ngIf="expand" (click)="expand = !expand">cancel</div>
    </div>
    <div class="content">
  
      <div class="normal_content">
        <div class="c-info" style="margin-top: 8px;">
          <div class="c-title">Type name: </div>
          <div [style.color]="this.colors['WP']">{{this.eoiData?.type_name}}</div>
        </div>
    
        <div class="c-info" *ngIf="this.eoiData?.indicators?.length">
          <div class="c-title">Number of indicators: </div>
          <div class="c-value">{{this.eoiData?.indicators?.length}}</div>
        </div>
  
        <div class="c-info" *ngIf="this.eoiData?.result_description">
          <div class="c-title">Result description: </div>
        </div>
  
        <div class="c-info" style="margin-top: 0px;" *ngIf="this.eoiData?.result_description">
          <div class="c-value">{{this.eoiData?.result_description}}</div>
        </div>
      </div>

      <div class="expanded_content" *ngIf="expand">

        <div class="c-info" *ngIf="this.eoiData?.wp_name">
          <div class="c-title">Work Package name: </div>
          <div class="c-value">{{this.eoiData?.wp_name}}</div>
        </div>

        <div class="c-info" *ngIf="this.eoiData?.wp_acronym">
          <div class="c-title">Work Package acronym: </div>
          <div class="c-value">{{this.eoiData?.wp_acronym}}</div>
        </div>

        <div class="indicators" *ngIf="this.eoiData?.indicators?.length">
          <div class="title">Indicators: </div>
          <div class="indicators_list">
            <div class="indicator" *ngFor="let indicator of this.eoiData?.indicators">
              {{indicator?.indicator_name}}
            </div>
          </div>
        </div>
      </div>
  
      <div class="button_container" *ngIf="!expand">
        <div class="expand_button" (click)="expand = !expand">
          See more
        </div>
      </div>
  
    </div>
  
  
  
  </div>
</div>

