<div class="local_container {{expand ? 'expand-local-container' : 'no-expand-local-container'}}">
  <div class="eoi_card  {{expand ? 'expand-card  animate__animated animate__bounceIn' : 'no-expand-card'}}" [ngStyle]="{'z-index': expand ? 3 : 'unset', 'position': expand ? 'relative' : 'unset'}" [style.height]="expand ? 'auto' : '100%'">
    
    <div class="title_container"  [style.background]="this._dataControlService.EOIcolors[this.result_type]">
      <div class="title"><ng-content select="[title]"></ng-content></div>
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="icon_container"  *ngIf="expand" (click)="expand = !expand">
        <i class="material-icons close_icon">cancel</i>
      </div>
    </div>

    <div class="content custom_scroll" >

      <div style="height:auto">
        <div class="normal_content">
          <ng-content select="[visible-content]"></ng-content>
        </div>
  
        <div class="expanded_content" *ngIf="expand">
          <ng-content select="[expanded-content]"></ng-content>
        </div>
      </div>
  
    </div>
  
    <div class="button_container" *ngIf="!expand && this.seemore">
      <div class="expand_button" (click)="expand = !expand" [style.background-color]="this._dataControlService.EOIcolors[this.result_type]">
        See more
      </div>
    </div>
  
  </div>
  <div class="bg-closer" *ngIf="expand" (click)="expand = !expand">

  </div>
</div>