.card-container{
    border-radius: 10px;
    overflow: hidden;
}

.active{
    text-align: center !important;
}

.inactive{
    background-color: #939393 !important;
    color: #FFFFFF !important;
}

.inactive-btn{
    color: #FFFFFF !important;
}