.button-container {
    padding: 0 4rem 2rem 4rem;
}

.initiative-button {
    border-radius: 20px;
    outline: none;
}

.local_container{
    display: grid;
    max-height: calc(100vh - 50px );
    height: 100vh;
    overflow-y: scroll;
    // border: 1px;
}