.theory-of-change-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
}
  
.theory-of-change-title {
    font-size: 1.4em;
    padding: 1rem 0;
}
  
.theory-of-change-form {
    width: 100%;
}
    
.theory-of-change-full-width {
    width: 100%;
}

p {
    color: #0779A4;
}

.asterisk {
    color: #ff0000;
}
  
.theory-of-change-save {
    display: flex;
    justify-content: flex-end;
}

.download-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.download-button {
    background-color: #6AA84F;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 1.5rem 0;
    width: 9em;
}

.download-button:hover {
    background-color: #7bc45d;
}

.uploaded-files {
    border: 2px solid #b1b0b0;
    margin: 2rem 10rem;
}

.files {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.delete-icon {
    color: #d30000;
    cursor: pointer;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    border: 2px dotted #b1b0b0;
    background-color: #FAFAFA;
    margin: 2rem 10rem;
    height: 10rem;
    .nonstylefile {
        position: absolute;
        text-decoration: none;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
  
.save-button {
    background-color: #0779A4;
    text-decoration: none;
    color: #fff;
    width: 100px;
    margin: 1.5rem 0;
}

.save-button:hover {
    background-color: #0c96c9;
}

textarea {  
    overflow: hidden;
    display: block;
    width: 100%;
}