<div class="theory-of-change-container animate__animated animate__fadeIn">
    <strong class="theory-of-change-title">Initial theory of change</strong>
    <form [formGroup]="_requests.theoryOfChangeFormCs" class="theory-of-change-form">
        <mat-form-field class="theory-of-change-full-width">
            <p><strong>Provide a narrative which explains further the TOC Diagram attached </strong><span class="asterisk">* </span></p>
            <textarea type="text" formControlName="narrative" matInput required></textarea>
        </mat-form-field>
        <div class="download-container">
            <button type="submit" (click)="_requests.submitForm()" mat-raised-button class="download-button">
                Download guide
            </button>
        </div>
        <div class="upload-container">
            <mat-icon>cloud_upload</mat-icon>
            Click here to choose a file or drag it here
        </div>
        <div class="theory-of-change-save">
            <button type="submit" (click)="_requests.saveTheoryOfChange()" mat-raised-button class="save-button">
                Save
            </button>
        </div>
    </form>
</div>