<div class="theory-of-change-container animate__animated animate__fadeIn">
    <strong class="theory-of-change-title color-primary-3">Initial theory of change</strong>
    <form [formGroup]="theoryOfChangeForm" (ngSubmit)="uploadFiles()" class="theory-of-change-form">


        <!-- <mat-form-field class="theory-of-change-full-width">
            <p><strong>Provide a narrative which explains further the TOC Diagram attached </strong><span
                    class="asterisk">* </span></p>
            <textarea matInput type="text" formControlName="narrative" required (keydown)="wordCounter()" #text
                cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="30"></textarea>
            <mat-hint align="start"><strong>Max 500 words</strong> </mat-hint>
            <mat-hint align="end"><strong>{{words}} / 500</strong></mat-hint>
        </mat-form-field> -->


        <div class="col-sm-12" *ngIf="showForm">
            <custom-textarea
                [options]="{inputTitle:'Provide a narrative which explains further the TOC Diagram attached',maxWords:500, form:theoryOfChangeForm, formControlName:'narrative'}">
            </custom-textarea>
        </div>



        <a class="download-container" href="/assets/example.pdf" target="_blank" *ngIf="!this._initiativesService.initiative.readonly">
            <button type="button" mat-raised-button color="accent" class="download-button">
                Download guide
            </button>
        </a>

        <div class="file_custom_container">
            <mat-card>
                <mat-list>
                    <div mat-subheader><strong>Saved files</strong></div>
                    <mat-list-item *ngIf="listOfFiles.length == 0"> 
                        <mat-icon mat-list-icon color="accent">find_in_page</mat-icon>
                        <div mat-line><strong>No files saved</strong></div>
                    </mat-list-item>
                    <mat-list-item *ngFor="let selected of listOfFiles; let index = index " [hidden]="listOfFiles.length == 0">
                      <mat-icon mat-list-icon color="accent">folder</mat-icon>
                      <div mat-line><strong>{{selected.name ? selected.name : selected}}</strong></div>
                      <div mat-line>{{selected.updated_at|date}}</div>
                      <button *ngIf="!this._initiativesService.initiative.readonly" type="button" class="delete_icon" (click)="dialogConfirmDeleteSaved(index)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                    </mat-list-item>
                    <mat-divider *ngIf="!this._initiativesService.initiative.readonly"></mat-divider>
                    <div mat-subheader *ngIf="!this._initiativesService.initiative.readonly"><strong>Files to upload</strong></div>
                    <mat-list-item *ngIf="filesToUpload.length == 0 && !this._initiativesService.initiative.readonly" > 
                        <mat-icon mat-list-icon>find_in_page</mat-icon>
                        <div mat-line><strong>No files to upload</strong></div>
                    </mat-list-item>
                    <mat-list-item  *ngFor="let selected of filesToUpload; let index = index " [hidden]="filesToUpload.length == 0 && !this._initiativesService.initiative.readonly">
                        <mat-icon mat-list-icon>folder</mat-icon>
                        <div mat-line><strong>{{selected.name ? selected.name : selected}}</strong></div>
                        <div mat-line>{{selected.updated_at|date}}</div>
                        <button *ngIf="!this._initiativesService.initiative.readonly" type="button" class="delete_icon" (click)="dialogConfirmDeleteTosave(index, filesToUpload)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                          <mat-icon color="warn">delete</mat-icon>
                      </button>
                      </mat-list-item>
                      <mat-divider *ngIf="!this._initiativesService.initiative.readonly"></mat-divider>
                    <div *ngIf="!this._initiativesService.initiative.readonly" mat-subheader>Note: Read the <a class="color-accent" href="/assets/example.pdf" target="_blank" style="margin: 0px 3px;"> guide </a>  for more information on how to create the diagram.</div>
                  </mat-list>
            </mat-card>
        </div>

        <!-- <div *ngIf="filesToUpload && filesToUpload.length > 0" class="mb-2" class="uploaded-files">
            <h2>Files to upload</h2>
            <div class="files" *ngFor="let selected of filesToUpload; let index = index ">
                <strong>{{selected.name ? selected.name : selected}}</strong>
                <mat-icon class="delete-icon" (click)="removeFile(index, filesToUpload)">delete</mat-icon>
            </div>
        </div> -->

<!-- 
        <mat-card *ngIf="listOfFiles.length > 0" class="uploaded-files">
            <div class="files" *ngFor="let selected of listOfFiles; let index = index ">
                <ng-container *ngIf="selected.active">
                    <strong>{{selected.name ? selected.name : selected}}</strong>
                    <mat-icon class="delete-icon" (click)="removeSelectedFile(index)">delete</mat-icon>
                </ng-container>
               
            </div>
        </mat-card> -->

        <div class="upload-container" *ngIf="!this._initiativesService.initiative.readonly">
            <mat-icon color="accent">cloud_upload</mat-icon>
            Click here to choose a file or drag it here
            <input class="nonstylefile" #attachments type="file" required (change)="onSelectFiles($event)" #fileInput
                multiple="true">
            <!-- <input class="nonstylefile" #attachments type="file" required (change)="onFileChanged($event.target.files)"
                #fileInput multiple="true"> -->
        </div>

        <div class="theory-of-change-save">
            <ibdc-save-button [options]="{ readOnlyVariable: this._initiativesService.initiative.readonly}" ></ibdc-save-button>
        </div>
    </form>
    <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='tocs'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>

</div>