

<mat-expansion-panel style="margin-top: 5px;" [expanded]="!workPackageData.name" >
    <mat-expansion-panel-header style="overflow: hidden;" (click)="animationSizeActive =  !animationSizeActive" >
        <!-- <button mat-raised-button color="" class="WP_id">Id: {{workPackageData.id}}</button> -->
        <div class="figure background-color-primary" 
        [style.width.px]="animationSizeActive ? 500: 2000" 
        [style.height.px]="animationSizeActive ? 500: 2000"
        [style.borderRadius]="animationSizeActive ? '45%': '0px'"
        >
        </div>
        <!-- [style.backgroundColor]="workPackageData.name ? '#': '#ec4b4b'" -->
        <mat-panel-title style="z-index: 1; color: white;">
            {{workPackageData.name || "untitled"}}
        </mat-panel-title>
        <button mat-icon-button class="icon_verify"  aria-label="Verified icon">
        <mat-icon [ngClass]="{'icon_verify_valid': !createWorkPackageForm.invalid}">verified</mat-icon>
       </button>
    </mat-expansion-panel-header>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="General information">
    
            <form [formGroup]="createWorkPackageForm" (ngSubmit)="onUpdate()" class="narratives-form">
                <div class="form" *ngIf="showform">
                    <custom-textarea  
                    [options]="{form:createWorkPackageForm,maxWords:50,formControlName:'name',inputTitle:'Name'}">
                    </custom-textarea>
    
                    <custom-textarea  
                    [options]="{form:createWorkPackageForm,maxWords:500,formControlName:'pathwayContent',inputTitle:'Ensure both science/research and innovation/impact pathway content'}">
                    </custom-textarea>
    
                    <custom-textarea  
                    [options]="{form:createWorkPackageForm,maxWords:500,formControlName:'results',inputTitle:'Results'}">
                    </custom-textarea>    
                </div>




                <div class="narratives-save">
                    <save-button [disabled]="createWorkPackageForm.invalid"></save-button>
                </div>
            </form>
    
        </mat-tab>
        <mat-tab label="Geographic scope">
        <form action="" *ngIf="true">
            <app-geographic-scope [workPackageData]="workPackageData"></app-geographic-scope>

            <br>
            <div class="row">
                <div class="col-sm horizontal_padding">
                    <div class="box_container">
                        <custom-multiple-choice [options]="{
                            required:true,
                            inputTitle:'Select regions',
                            selectList:this.regionsList,
                            selectedList:this.regionsSelectedList,
                            selectItemName:'name',
                            selectItemId:'um49Code',
                            selectedItemId:'um49Code'
                           }"></custom-multiple-choice>
                    </div>

                </div>
                <div class="col-sm horizontal_padding">
                    <div class="box_container">
                    <custom-multiple-choice [options]="{
                        required:true,
                        inputTitle:'Select countries',
                        selectList:this.countriesList,
                        selectedList:this.countriesSelectedList,
                        selectItemName:'name',
                        selectItemId:'code',
                        selectedItemId:'code'
                       }"></custom-multiple-choice>
                    </div>
                </div>
            </div>

            <br>

            </form>
        </mat-tab>
        <mat-tab label="Projection of benefits">
    
            <div class="projection-benefits-container">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                        *ngFor="let impactArea of _requests.impactAreas">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{impactArea.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
    
                        <div class="contribution-container" *ngFor="let contribution of _requests.contributions">
                            <div class="remove-contribution-container">
                                <mat-icon (click)="_requests.removeContribution(contribution)">delete</mat-icon>
                            </div>
                            <mat-form-field appearance="standard">
                                <p><strong>Indicate a common impact indicators attributable to CGIAR: </strong><span
                                        class="asterisk">* </span></p>
                                <mat-select>
                                    <mat-option value="" *ngFor="let indicator of impactArea.indicators">{{indicator.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <table>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let item of projectionRanges">{{item.year}}</th>
                                </tr>
                                <tr>
                                    <td>Low scenario</td>
                                    <td *ngFor="let item of projectionRanges">{{item.low}}</td>
                                </tr>
                                <tr>
                                    <td>High scenario</td>
                                    <td *ngFor="let item of projectionRanges">{{item.high}}</td>
                                </tr>
                            </table>
    
                            <div class="set-data-container">
                                <button type="submit" mat-raised-button color="primary" (click)="openDialog()">
                                    set ranges and years
                                </button>
                            </div>
    
                            <mat-form-field>
                                <p><strong>Add any notes on methodology and sources here: </strong></p>
                                <input type="text" matInput required />
                            </mat-form-field>
    
                        </div>
    
                        <div class="set-data-container">
                            <button type="submit" mat-raised-button color="primary"
                                (click)="_requests.addContribution()">
                                add new contribution
                            </button>
                        </div>
    
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
    
        </mat-tab>
    </mat-tab-group>
    
</mat-expansion-panel>