.local_grid{
    display: grid;
    grid-gap: 15px;
    margin-bottom: 10px;
}

.see_container{
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 10px 0px;
    .icon{
        cursor: pointer;
        color: rgb(65, 65, 65);
        font-size: 20px;
    }
}

.grid-box{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.grid-column{
    grid-template-columns: 1fr;
}