<div class="collapsible_container">
    <div class="header" style="cursor: pointer;" (click)="toggleCollapse()">
        <ng-content select="[header]"></ng-content>
        <div class="icon">
            <i class="material-icons" [style.transform]="'rotate('+(this.collapse?0:180)+'deg)'">expand_more</i>
        </div>
    </div>  
    <div class="content" [@expandable]="this.collapse?'collapse':'expand'">
        <div class="content-container">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>

</div>