<section-title name="Full initiative Toc" ></section-title>
<div class="section-container animate__animated animate__fadeIn">
  <app-edit-toc-button url="https://toc.mel.cgiar.org/"></app-edit-toc-button>
  <ibdc-alert [options]="{text: 'This information is provided by the ToC tool', type:'info'}"></ibdc-alert>
  <div class="toc_list">
    <p class="no-data-text" *ngIf="serviceIsConsumed && !this.tocitem">No information saved</p>
    <div class="toc_item" *ngIf="tocitem">
  
      <div class="tex_container">
        <ibdc-simple-text [options]="{inputTitle:'TOC ID',value: tocitem?.narrative}">
        </ibdc-simple-text>
      </div>

      <div class="loading-container rotating" [id]="'loading'">
        <div class="material-icons">cached</div>
      </div>
  
  
      <div class="col-12 toc_image" [id]="'diagram'">
        <div class="image_container">
          <section-sub-title name="Diagram"></section-sub-title>
          <img id="image" (load)="imageLoaded('diagram')" (error)="imageError()" [src]="this.tocitem?.diagram" alt="" srcset="" width="100%">
        </div>
      </div>
  
    </div>
  </div>
  
</div>
