<section-title name="Full initiative Toc" ></section-title>
<div class="section-container animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12">
            <ibdc-textarea 
            [options]="{inputTitle:'Narrative ',readOnlyVariable: _initiativesService.initiative.readonly, form:sectionForm,editText:true, formControlName:'example', maxWords:1000,
            description:'Provide a narrative to your TOC expanding the one already provided in the pre-concept (250 words). This level describes the high-level outcomes and impacts that the Initiative is contributing to. The impact description includes the SDG and the CGIAR Impact Areas, the action area outcomes, the specific initiative level outcomes and how the workpackages are positioned. The description of the theory of change should explain the types of partnerships and the roles of partners needed for outcomes and impacts to be realized.'}">
            </ibdc-textarea>
        </div>
    </div>
</div>
