.initiative-container {
    padding: 2rem 4rem 0 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #6AA84F;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 1.5rem 0;
    width: 9em;
}

.card-container {
    background-color: #fff;
    padding: 0;
    margin-top: 3rem;
    width: 100%;
}

.initiative-identification {
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.initiative-id {
    font-size: 1.2em;
}

.manage-button {
    border-radius: 20px;
    outline: none;
}