.capsule-header{
    width: calc(100% - 4px);
    height: 45px;
    background-color: white;
    border-radius: 100px;
    margin-top: 10px;
    left: 4px;
    display: flex;
    // justify-content: space-between;
    .inner-capsule{
        position: relative;
        left: -4px;
        border-radius: 100px;
        min-width: 230px;
        height: 100%;
        box-shadow: 0 14px 28px rgba(53, 53, 53, 0.25), 0 10px 10px rgba(71, 71, 71, 0.22);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        .initIdContainer{
            .text-description{
                color: white;
                font-weight: 700;
                margin-left: 15px;
                font-size: 1.1em;
                // margin-top: 12px;
                position: relative;
                top: 2px;
            }
            .initiative-id{
                font-size: 1.2em;
                background-color: white;
                border-radius: 25px;
                color: rgb(92, 92, 92);
                font-weight: 700;
                padding: 5px 15px;
                font-size: .9em;
                margin-left: 10px ;
            }  
        }
      
    }

    .capsule_right_content{
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: yellow;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        .users_online{
            max-height: 100%;
            width: 100%;
            max-width: 100%;
            display: flex;
            gap: 5px;
            overflow-x: auto;
            overflow-y: hidden;
            // background-color: red;
            .description{
                min-width: 120px;
                max-width: 120px;
                line-height: 1;
                padding-left: 10px;
                color: #696969;
                font-style: italic;
            }

            .firstUser{
                background-color: #965cc57c !important;
            }

            .user{
                // width: 50px;
                background-color: #5cc5607c ;
                border-radius: 3px;
                display: flex;
                overflow: hidden;
                min-width: max-content;
                .nameinitials{
                        overflow: hidden;
                }
                .fullName{
                    overflow: hidden;
                    width: 0px;
                    height: 0px;
                }
                &:hover{
                    .nameinitials{
                        width: 0px;
                        height: 0px;
                    }
                    .fullName{
                        width: max-content;
                        height: auto;
                    }
                }
                .index{
                    height: 100%;
                    // width: 10px;
                    background-color: #4b4b4b;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 10px;
                }
                .name{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgb(58, 58, 58);
                    padding: 0px 5px;
                    font-size: 13px;
                    i{
                        position: relative;
                        font-size: 18px;
                        animation: example 1s infinite;
                    }
                }
   
            }

        }
        .manage_access_button_container{
            margin-right: 4px;
            .manage-button {
                border-radius: 20px;
                outline: none;
                background-color: #5cc560;
                color: white;
            }
        }
    }
    


}

@keyframes example {
    0% {left: 2px;}
    50% {left: -2px;}
    100% {left: 2px;}
}

.submission-container{
    margin-top: 5px;
    justify-content: end;
    .inner-capsule{
        left: 0;
    }
}

.elements_container{
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
 
    .left_menu{
        max-height: 100%;
    }

    .right_container{
        max-height: calc( 100vh - 50px);
        // overflow-y: hidden;
        position: relative;
        z-index: 0;
        scroll-behavior: smooth;
        .footer{
            margin-top: 100px;
            position: relative;
            z-index: -1;
        }
    }
}

.platform_backgorund{
    background-image: url('/assets/images/platform_background.jpg');
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: .7;
}
.initiative-container {
    padding: 2rem 4rem 0 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #6AA84F;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin: 1.5rem 0;
    width: 9em;
}

.card-container {
    position: relative;
    background-color: #f7f8f9ff;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(34, 34, 34, 0.25), 0 10px 10px rgba(49, 49, 49, 0.22);
    min-height: calc(100vh - 240px);
}

.initiative-identification {
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}


.no-edit-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .alert{
        padding: 100px 50px;
        background-color: white;
        color: #696969;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 35px;
                margin-bottom: 20px;
            }
        }
        .description{
            font-size: 15px;
            padding: 0px 20px;
            text-align: center;
            strong{
                cursor: pointer;
                transition: all ease-out .3s;

            }
            &:hover{
                strong{
                    color: #2196f3;
                    transition: all ease-out .3s;
                }
            }
        }
    }
}



// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .left_menu{
//         display: none;
//     }
// }

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {

// }
.users_online::-webkit-scrollbar {
    // width: 5px;
    height: 5px;
  }
  
  .users_online::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  .users_online::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .users_online::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
    .left_menu{
        // display: none;
        position: absolute;
        left: -400px;
        top: 120px;
        z-index: 10000;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    }
    .open_menu_icon_container{
        // transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
        position: absolute;
        right: -50px;
        top: -55px;
        background-color: rgba(255, 255, 255, 0.938);
        border-radius: 100px;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        .open_menu_icon{
            font-size: 2em;
            color: #505050;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1000px) {
    .open_menu_icon_container{
        display: none;
    }
}

.showMenu{
    left: 0px !important;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    .open_menu_icon_container{
        right: 350px !important;
    }
}



@media only screen and (max-width: 1300px) {
    .right_container_content{
        padding: 5px 10px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1300px) {

    .right_container_content{
        padding: 10px 20px 0px; 
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1550px) {

    .right_container_content{
        padding: 10px 40px 0px; 
    }
}
