
<div class="elements_container">
    <div class="platform_backgorund"></div>
   
        <div class="left_menu">
            <app-menu></app-menu>
            <div class="button-container">
                <!-- <button type="submit" 
                    mat-raised-button class="submit-button" [disabled]="true">
                    Submit
                </button> -->
            </div>
        </div>
        <div class="right_container">
            <div class="capsule-header">
                <div class="inner-capsule ibdc_bg_secondary_color">
                    
                </div>
            </div>
            <div class="card-container">
                <div class="initiative-identification ibdc_bg_secondary_color" style="position: relative; z-index: 10;">
                    <div>
                        <span class="initiative-id">Initiative ID: {{this.initiativesSvc.initvStgId}}</span>
                        <span style="margin:0px 5px;" *ngIf="this._dataControlService.breadcrumbItemTwo"> / </span>
                        <span class="initiative-id" *ngIf="this._dataControlService.breadcrumbItemTwo">{{this._dataControlService.breadcrumbItemTwo}}</span>
                    </div>
                    <button class="manage-button" mat-raised-button (click)="openDialog()" *ngIf="!initiativesSvc.initiative.readonly">
                        Manage access
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
  
    
</div>

<app-footer></app-footer>

