.local_container{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    position: relative;
    .alert{
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #0187CA;
        padding: 10px 20px;
        color: white;
        border-radius: 10px;
        pointer-events: none;
    }
    .edit-toc-button{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgb(216, 216, 216);
        position: relative;
        cursor: pointer;
        transition: all .3s ease-out;

        &::before{
            content: '';
            width: 300px;
            height: 200px;
            background-color: #0187CA;
            position: absolute;
            transform: rotate(120deg);
            z-index: 1;
            left: -160px;
            transition: all .3s ease-out;
        }
        &:hover{
            text-decoration: none;
            &::before{
                transition: all .3s ease-out;
                left: -150px;
                transform: rotate(90deg);
            }
            transition: all .3s ease-out;

            box-shadow: 0px 0px 7px rgb(146, 146, 146);

        }
        .title{
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #ca0101;
            height: 100%;
            padding: 0px 40px;
            color: white;
            font-size: 1.2em;
        }
        .image_container{
            z-index: 2;
            padding: 5px;
            .image{
                height: 50px;
            }
        }
    }
}

.hide{
    opacity: 0;
    height: 0px;
    width: 0px;
    overflow: hidden;
}