.tawk-to-button{
    position: fixed;
    position: fixed;
    bottom: 1.25em;
    left: 1.25em;
    height: 3.75em;
    width: 3.75em;
    border-radius: 50%;
    z-index: 1000;
}

.chat-icon {
  padding-top: 0.3em;
}
