<body style="background-color: black;">
  <header>
    
    <div class="one-header">
      <span class="animate__animated animate__fadeInLeft"><strong>One CGIAR </strong><span class="outline-font">Submission Tool</span></span>
      <span class="spacer"></span>
      <i class="cgiar-logo animate__animated animate__fadeInRight"></i>
    </div>

  </header>
  <app-login-card></app-login-card>
  <div class="center_flex absolute_floating_CP"  [style.left.vw]="this._dataControlService.x_position_login_animation + 100"  style="height: 100%; width: 100%;">
    <div class="card card-change-password animate__animated  animate__backInUp animate__fast" >
      <div class="card_custom_header background-color-tertiary center_flex">
        <h5 class="card-title text-center">Change password</h5>
      </div>
      <br>
      <br>
      <br>
      <div class="card-body">
        <!-- <h5 class="card-title text-center">Sign In</h5> -->
        <app-change-password (action)="this._dataControlService.x_position_login_animation = 0" *ngIf="this._dataControlService.x_position_login_animation!=0"></app-change-password>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><small>This background photography belongs to <a rel="license" href="https://www.cgiar.org/" target="_blank">CGIAR System Organization</a></small></p>
  </div>
  <ngx-spinner bdColor="#00151da1" size="medium" color="#fff" type="timer" name="login_spinner"> <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
</body>