<body style="background-color: black;">
  <header>
    
    <div class="one-header">
      <span class="animate__animated animate__fadeInLeft"><strong>One CGIAR </strong><span class="outline-font">Submission Tool</span></span>
      <span class="spacer"></span>
      <i class="cgiar-logo animate__animated animate__fadeInRight"></i>
    </div>

  </header>
  <div class="center_flex absolute_floating_login" [style.left.vw]="x_position"  style="height: 100%; width: 100%;">
    <div class="card card-signin animate__animated  animate__backInUp animate__fast" >
      <div class="card_custom_header background-color-tertiary center_flex">
        <h5 class="card-title text-center">Sign In</h5>
      </div>
      <br>
      <br>
      <br>
      <div class="card-body">
        <!-- <h5 class="card-title text-center">Sign In</h5> -->
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field class="full-width-input">
            <input text="text" formControlName="email" matInput placeholder="Email" required />
            <mat-error *ngIf="loginForm.get('email').hasError('email')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('required')" >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div style="margin-top: 5px;"></div>
          <mat-form-field class="full-width-input separator">
            <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="Password" required />
            <mat-error *ngIf="loginForm.get('password').errors?.minlength">
              The password must be longer than <strong>8</strong> characters 
            </mat-error>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
              password is <strong>required</strong>
            </mat-error>
            <div mat-icon-button matSuffix>
              <mat-icon (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </div>
            <mat-error >
              <!-- {{ loginForm.errorMessage }} -->
            </mat-error>
          </mat-form-field>
          <button [disabled]="loginForm.invalid" mat-raised-button type="submit" color="primary">Sign in</button>
          <br><br>
          <!-- <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button> -->
          <p class="color-tertiary change-password-text" (click)="x_position = - 100"> change password </p>
          <hr class="my-4">
          <div class="note">
            <span><strong>PLEASE NOTE:</strong> that by using the system, you consent to the information being used
              by the
              System Management Office. The information you input should therefore be complete and suitable for an
              external
              audience and funders.</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="center_flex absolute_floating_CP"  [style.left.vw]="x_position + 100"  style="height: 100%; width: 100%;">
    <div class="card card-change-password animate__animated  animate__backInUp animate__fast" >
      <div class="card_custom_header background-color-tertiary center_flex">
        <h5 class="card-title text-center">Change password</h5>
      </div>
      <br>
      <br>
      <br>
      <div class="card-body">
        <!-- <h5 class="card-title text-center">Sign In</h5> -->
        <app-change-password (action)="this.x_position = 0" *ngIf="x_position!=0"></app-change-password>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><small>This background photography belongs to <a rel="license" href="https://www.cgiar.org/" target="_blank">CGIAR System Organization</a></small></p>
  </div>
  <ngx-spinner bdColor="#00151da1" size="medium" color="#fff" type="timer" name="login_spinner"> <p style="font-size: 20px; color: white">Please wait...</p>
</ngx-spinner>
</body>