.example-action-buttons {
    padding-bottom: 20px;
  }
  

  .delete-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 1rem;
}


button{
  outline: none;
}
.WP_id{
    position: absolute;
    z-index: 100;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}
mat-panel-title{
    justify-content: unset !important;
    margin-left: 10px;
}

.work-packages-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem auto;
}
  
.work-packages-title {
    font-size: 1.4em;
    padding: 1rem 0;
}

.narratives-form {
    width: 90%;
    margin: 1rem auto;
}
    
.narratives-full-width {
    width: 100%;
}
  
.narratives-save {
    display: flex;
    justify-content: flex-end;
}
  
.save-button {
    outline: none;
    color: #fff;
    width: 100px;
}

.save-button:hover {
    background-color: #0c96c9;
}



.set-data-button {
    outline: none;
    color: #fff;
}

.set-data-button:hover {
    background-color: #0c96c9;
}

.horizontal_padding{
    padding: 0px 20px;
}
.a_route{
    &:hover{
        color: unset;
        text-decoration: none;
    }
}

.work_package_info{
    width: 100%;
    // height: 100px;
    background-color: rgb(8, 2, 26);
    color: white;
    padding: 5px 10px ;
}


.delete_icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}