<div class="general-information-container animate__animated animate__fadeIn">

    <strong class="general-information-title color-primary-3">General information</strong>
    <form [formGroup]="generalInformationForm" (ngSubmit)="upsertGeneralInfo()" class="general-information-form"
        *ngIf="showForm">
        <div class="row">
            <div class="col-sm-12" >
                <custom-textarea
                    [options]="{inputTitle:'Initiative name', form:generalInformationForm, formControlName:'name'}">
                </custom-textarea>
            </div>

            <div class="col-sm-6">
                <mat-card>
                    <div class="row icon_cont">
                        <div class="col-sm-6">
                            <custom-text [options]="{inputTitle:'Lead name', value:leads.lead_name||'Not available'}"></custom-text>
                        </div>
                        <div class="col-sm-4">
                            <custom-text [options]="{inputTitle:'Lead email', value:leads.lead_email||'Not available'}"></custom-text>
                        </div>
                        <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                        
                    </div>
                </mat-card>
                <br>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-6">
                <mat-card>
                    <div class="row">
                        <div class="col-sm-6">
                            <custom-text [options]="{inputTitle:_dataControlService.general_information.secondLeadName, value:leads.co_lead_name||'Not available'}"></custom-text>
                        </div>
                        <div class="col-sm-4">
                            <custom-text [options]="{inputTitle:_dataControlService.general_information.secondLeadEmail, value:leads.co_lead_email||'Not available'}"></custom-text>
                        </div>
                        <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Co-Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                    </div>
                </mat-card>
                <br>
            </div>

            <div class="col-sm-12" *ngIf="showFormActionArea">

                <custom-select [options]="
            {
             required:true,
             inputTitle:'Primary CGIAR Action Area',
             form:generalInformationForm,
             formControlId:'action_area_id',
             description:'Indicate to which CGIAR Action Area this initiative is contributing to',
             selectList:this.actionAreas,
             selectItemName:'index_name',
             selectItemId:'id'
            }">
                    ></custom-select>

            </div>
        </div>

        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

        <div class="general-information-save" *ngIf="!_initiativesService.initiative.readonly">
            <save-button [underConstruction] = "_dataControlService.general_information.secondLeadEmail == 'Deputy email' "></save-button>
        </div>
    </form>
    <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='general-information'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>
</div>