<div class="general-information-container animate__animated animate__fadeIn">
    
    <strong class="general-information-title">General information</strong>
    <form [formGroup]="generalInformationForm" (ngSubmit)="upsertGeneralInfo()" class="general-information-form">
        <custom-textarea *ngIf="generalInformationForm.value.name != null" 
           [options]="
           {
            required:true,
            readonly:false,
            inputTitle:'Initiative name:',
            form:generalInformationForm,
            formControlName:'name'
           }">
        </custom-textarea>
        <!-- <mat-form-field class="general-information-full-width">
            <p><strong>Initiative name: </strong><span class="asterisk">* </span></p>
            <input type="text" formControlName="name" matInput required />
        </mat-form-field> -->
        <mat-form-field class="general-information-full-width">
            <p><strong>Lead name: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Indicate the leadership of this Initiative</i>
            </p>
            <mat-select formControlName="lead_id">
                <mat-option *ngFor="let user of usersByInitiative" [value]="user.userId">
                    {{user.first_name}} {{user.last_name}}
                </mat-option>
            </mat-select>
            <input type="text" matInput />
        </mat-form-field>
        <mat-form-field appearance="standard" class="general-information-full-width">
            <p><strong>Primary CGIAR Action Area: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Indicate to which CGIAR Action Area this initiative is contributing to</i>
            </p>
            <mat-select formControlName="action_area_id">
                <mat-option *ngFor="let actionArea of actionAreas" [value]="actionArea.id">{{actionArea.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="general-information-save">
            <button type="submit" mat-raised-button [disabled]="generalInformationForm.invalid" class="save-button">
                Save
            </button>
        </div>
        <ngx-spinner [fullScreen]="false" name='general-information'></ngx-spinner>
    </form>
</div>