<div class="general-information-container animate__animated animate__fadeIn">

    <strong class="general-information-title">General information</strong>
    <form [formGroup]="generalInformationForm" (ngSubmit)="upsertGeneralInfo()" class="general-information-form"
        *ngIf="showForm">
        <div class="row">
            <div class="col-sm-12">
                <custom-textarea
                    [options]="{readonly:false, inputTitle:'Initiative name', form:generalInformationForm, formControlName:'name'}">
                </custom-textarea>
            </div>

            <div class="col-sm-6">
                <mat-card>
                    <div class="row icon_cont">
                        <div class="col-sm-6">
                            <custom-text [options]="{inputTitle:'Lead name', value:leads.lead_name||'Not available'}"></custom-text>
                        </div>
                        <div class="col-sm-4">
                            <custom-text [options]="{inputTitle:'Lead email', value:leads.lead_email||'Not available'}"></custom-text>
                        </div>
                        <button (click)="openDialog();setExpandWithUserId('Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                        
                    </div>
                </mat-card>
                <br>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-6">
                <mat-card>
                    <div class="row">
                        <div class="col-sm-6">
                            <custom-text [options]="{inputTitle:'Co-Lead name', value:leads.co_lead_name||'Not available'}"></custom-text>
                        </div>
                        <div class="col-sm-4">
                            <custom-text [options]="{inputTitle:'Co-Lead email', value:leads.co_lead_email||'Not available'}"></custom-text>
                        </div>
                        <button (click)="openDialog();setExpandWithUserId('Co-Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                    </div>
                </mat-card>
                <br>
            </div>

            <div class="col-sm-12">

                <custom-select [options]="
            {
             required:true,
             readonly:false,
             inputTitle:'Primary CGIAR Action Area',
             form:generalInformationForm,
             formControlId:'action_area_id',
             description:'Indicate to which CGIAR Action Area this initiative is contributing to',
             selectList:this.actionAreas,
             selectItemName:'index_name',
             selectItemId:'id'
            }">
                    ></custom-select>

            </div>
        </div>



        <div class="general-information-save">
            <button mat-raised-button class="save-button" type="submit" color="primary"
                [disabled]="generalInformationForm.invalid" mat-raised-buttonclass="save-button">
                Save
            </button>
        </div>
    </form>
    <ngx-spinner [fullScreen]="false" name='general-information'></ngx-spinner>
</div>