<div style="position: relative;">
  <app-button-edit-or-delete type="delete" (action)="deleteCurrentWP()" [confirmDeleteModal]="true"></app-button-edit-or-delete>
</div>

<section-title name="Work packages and Geographic focus"></section-title>
<div class="section-container animate__animated animate__fadeIn" >

    <div class="section-container animate__animated animate__fadeIn" *ngIf="true">
        <app-fp-work-package-sekelton></app-fp-work-package-sekelton>
      </div>
      
            <div class="row">
              <div class="col-sm-5">
                <ibdc-text-area-field 
                inputTitle="Short title"
                [objectItem]="workPackageBody" 
                objectAtributteName="acronym">
                </ibdc-text-area-field>
              </div>
              <div class="col-sm-7">
                <ibdc-text-area-field 
                inputTitle="Title"
                [objectItem]="workPackageBody" 
                objectAtributteName="name">
                </ibdc-text-area-field>
              </div>
              <div class="col-sm-12">
                <br>
                <ibdc-text-area-field 
                inputTitle="Main focus and prioritization"
                [objectItem]="workPackageBody" 
                objectAtributteName="pathway_content">
                </ibdc-text-area-field>
              </div>
              <div class="col-sm-12">
                <br>

                <!-- <app-geographic-scope [localForm]="workPackageForm"
                  [regionsSelectedList]="[]"
                  [countriesSelectedList]="[]"></app-geographic-scope> -->

              </div>
            </div>
            <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
              <ibdc-save-button (click)="this.saveWpFp()" [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
            </div>
   
        
      
       
      
</div>