@import '~@angular/material/theming';

.user_cont{
    @include mat-elevation(2);
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    .user_data_title{
        color: white;
        padding: 10px 20px;
        margin: 0px;
    }
    .user_shadow{

        width: auto;
        // padding: 5px 20px;
        margin: 10px 40px 20px 40px;
        border-radius: 10px 10px 0px 0px;
    }
    
}

.top_bar{
    background-color: var(--ibdc-secondary-color);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.custom-dialog-actions{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    button{
        margin-left: 10px;
    }
}

.close_icon{
    cursor: pointer;
    margin-right: 10px;
}

.create_button_disabled{
    background-color: #8f8f8f7e !important;
    border: 1px solid #afafaf7e !important;
    transition: all ease .3s;
}

.create_button{
    background-color: var(--ibdc-secondary-color) !important;
    border: 1px solid var(--ibdc-secondary-color) !important;
    transition: all ease .3s;
}