<div class="container">
    <div class="row" *ngIf="showForm">
        <div class="col-4">
            <custom-textarea  
            [options]="{form:partnersRequestForm,formControlName:'acronym',inputTitle:'Acronym',required:false}">
            </custom-textarea>
        </div>
        <div class="col-8">
            <custom-textarea  
            [options]="{form:partnersRequestForm,formControlName:'name',inputTitle:'Name'}">
            </custom-textarea>
        </div>
        <!-- <div class="col-12">
            <custom-textarea  
            [options]="{form:partnersRequestForm,formControlName:'acronym_cgiar_entity',inputTitle:'Acronym of cgiar entity'}">
            </custom-textarea>
        </div> -->
        <div class="col-6">
            
            <custom-select [options]="
            {
             required:true,
             inputTitle:'Type',
             form:partnersRequestForm,
             formControlId:'institutionTypeCode',
             selectList:this.categoryList,
             selectItemName:'name',
             selectItemId:'id'
            }">
            ></custom-select>
        </div>
        <div class="col-6">
            <custom-textarea  
            [options]="{form:partnersRequestForm,formControlName:'hqCountryIso',inputTitle:'Headquarter country'}">
            </custom-textarea>
        </div>
        <div class="col-12">
            <custom-textarea  
            [options]="{form:partnersRequestForm,formControlName:'websiteLink',inputTitle:'Website',required:false}">
            </custom-textarea>
        </div>
        <div class="user_cont">
            <h3 class="user_data_title background-color-primary">User information</h3>
            <div class="user_shadow row">
                <div class="col-6">
                    <custom-textarea  
                    [options]="{form:partnersRequestForm,formControlName:'externalUserMail',inputTitle:'User Mail',required:false, readonly:true}">
                    </custom-textarea>
                </div>
                <div class="col-6">
                    <custom-textarea  
                    [options]="{form:partnersRequestForm,formControlName:'externalUserName',inputTitle:'User Name',required:false, readonly:true}">
                    </custom-textarea>
                </div>
                <div class="col-12">
                    <custom-textarea  
                    [options]="{form:partnersRequestForm,formControlName:'externalUserComments',inputTitle:'User comments',required:false}">
                    </custom-textarea>
                </div>
                <br><br>
            </div>
        </div>
        <div class="col-12">
            <br>
            <br>
            <br>
        <div mat-dialog-actions align="end" class="dialog-actions" >
            <button mat-raised-button color="primary" class="animate__animated animate__fadeIn" (click)="backAddNewKeyPartner()">back</button>
            <button mat-raised-button color="accent"  class="animate__animated animate__fadeIn" (click)="onCreatePartner()"  [disabled]="partnersRequestForm.invalid">Create</button>
        </div>   
        <br>     
        </div>
    </div>
    
</div>
