.box{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 80vh !important;
    position: relative;

    .title{
        padding: 7px 0px;
        background-color: rgb(75, 75, 75);
        color: white;
        text-align: center;
        font-weight: 500;
        position: sticky;
        top: 0;
        left: 0;
    }
    .no-data{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .result_title{
        font-weight: 500;
        background-color: rgb(156, 156, 156);
        padding: 5px 10px;
        text-align: center;
        color: white;
    }
    .values{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .value-item{
            border: 1px solid rgb(223, 223, 223);
            border-top: 10px solid rgb(75, 75, 75);
            padding: 10px;
            font-size: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            .data_container{
                padding: 10px;

                
                

            }
        }
    }
}

table{
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #eeeeee;
      }
}

.t_col_1{
    min-width: 300px;
}

.t_col_2{
    min-width: 300px;
}

.t_col_3{
    min-width: 300px;
}

.t_col_4{
    min-width: 200px;
}

.t_col_5{
    min-width: 100px;
}

.t_col_6{
    min-width: 100px;
}

.t_col_7{
    min-width: 200px;
}

.t_col_8{
    min-width: 100px;
}

.t_col_9{
    min-width: 100px;
}

.t_col_10{
    min-width: 100px;
}

.orange, .blue, .green{
    transition: all ease-in .3s;
    &:hover{
        transition: all ease-in .3s;
    }
}

.orange{
    border-top: 5px solid orange;
    outline: 2px solid transparent;
    &:hover{
        outline: 2px solid orange;
    }
}

.blue{
    border-top: 5px solid #465bb5;
    outline: 2px solid transparent;
    &:hover{
        outline: 2px solid #465bb5;
    }
}

.green{
    border-top: 5px solid green;
    outline: 2px solid transparent;
    &:hover{
        outline: 2px solid green;
    }
}