

        <div class="projection-benefits-container" >
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let impactArea of impactAreas">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{impactArea.name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h1 *ngIf="!impactArea.projectedBenefits?.length" class="noPOB">There are not contributions...</h1>
                    <div class="contribution-container" *ngFor="let contribution of impactArea.projectedBenefits">
                        <app-pob-contribution [indicators]="impactArea.indicators" [contribution]="contribution" ></app-pob-contribution>
                        <!-- <div class="remove-contribution-container">
                            <mat-icon (click)="_requests.removeContribution(contribution)">delete</mat-icon>
                        </div>
                        
                        <custom-select [options]="
                        {
                         required:true,
                         inputTitle:'Indicate a common impact indicators attributable to CGIAR',
                         form:this.workPackageGeneralInfoForm,
                         formControlId:'impactAreaIndicatorId',
                         selectList:impactArea.indicators,
                         selectItemName:'indicatorStatement',
                         selectItemId:'indicatorId'
                        }">
                        ></custom-select>

                        <table>
                            <tr>
                                <th></th>
                                <th *ngFor="let item of projectionRanges">{{item.year}}</th>
                            </tr>
                            <tr>
                                <td>Low scenario</td>
                                <td *ngFor="let item of projectionRanges">{{item.low}}</td>
                            </tr>
                            <tr>
                                <td>High scenario</td>
                                <td *ngFor="let item of projectionRanges">{{item.high}}</td>
                            </tr>
                        </table>
                        <br>
                        <div class="set-data-container">
                            <div>
                                <button type="button" mat-raised-button color="primary" (click)="openDialog(impactArea.indicators)">
                                    set ranges and years
                                </button>
                            </div>

                        </div>

                        <custom-textarea  
                        [options]="{form:this.workPackageGeneralInfoForm,formControlName:'notes',inputTitle:'Add any notes on methodology and sources here'}">
                        </custom-textarea>

                        <div class="set-data-container">
                            <div>
                                <saveree-button></save-button>
                            </div>

                        </div>
                        <br> -->

                    </div>

                    <div class="set-data-container">
                        <button type="submit" mat-raised-button color="primary"
                            (click)="addNewLocalContribution(impactArea)">
                            Add new contribution
                        </button>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <br>
            <br>
            <br>
        </div>

 

    

