

<!-- <ibdc-alert [options]="{text: 'This information is provided by the ToC tool', type:'info'}"></ibdc-alert> -->
<app-edit-toc-button *ngIf="!this.tocList.length" (click)="this._utilsService.goToEditToc()"></app-edit-toc-button>

<div class="toc_list">

  <p class="no-data-text" *ngIf="serviceIsConsumed && !this.tocList.length">No information saved</p>
  <div class="toc_item" *ngFor="let toc of this.tocList; let i=index">
  <app-edit-toc-button (click)="this._utilsService.goToEditToc()"></app-edit-toc-button>
  <!-- <button (click)="this._utilsService.goToEditToc()">Example Toc Button {{toc?.toc_id}}</button> -->

    <div class="tex_container">
      <ibdc-simple-text [options]="{inputTitle:'ToC narrative',value: toc.narrative, required: false}">
      </ibdc-simple-text>
      <div class="updated_at">
        <strong>Updated on:</strong> {{toc?.updated_at | date:'d MMMM, y - h:mm:ss a':'UTC'}} - <strong>(UTC)</strong>
      </div>
    </div>

    <div class="loading-container rotating" [id]="'loading'+i">
      <div class="material-icons">cached</div>
    </div>

    <div class="col-12 toc_image" [id]="'diagram'+i">
      <div class="image_container">
        <section-sub-title name="Diagram"></section-sub-title>
        <img [id]="'image'+i" (load)="imageLoaded('diagram'+i,i)" (error)="imageError(i)" [src]="this.toc.diagram" alt="" srcset="" width="100%">
      </div>
    </div>

  </div>
  
</div>