.all{
    position: relative;
    box-shadow: 0 10px 20px #087b8327, 0 6px 6px #087b8328;
    width: auto;
    border-radius: 10px; 
    border: solid 3px #087b8362;
    overflow: hidden;
    .local_container{
        
        padding: 25px;

    
    }
 }
