<section-title name="Melia studies and activities" ></section-title>

<div class="section-container animate__animated animate__fadeIn">

    <app-compact-information-table-view 
    (buttonViewEvent)="this.getdasd($event)"
    (onEdit)="this.getItemToExpand($event)"
    [list]="this.list"
    [attr_list_config]="this.attr_list_config"
    [showTableViewVariable]="this.showTableViewVariable"
    
    ></app-compact-information-table-view>

    <div class="items animate__animated animate__fadeIn" *ngIf="!showTableViewVariable">
        <div class="item" *ngFor="let item of list; let i=index">


            <app-collapsible-container [collapse]="item?.collapse">
                <div header>Melia studies and activity {{i+1}}</div>
                <div content>
                    <app-button-edit-or-delete *ngIf="!this._initiativesService.initiative.readonly" [ngCustomStyle]="{'margin-top':'12px'}"  type="delete" (action)="deleteItem(item, i)" [confirmDeleteModal]="true"></app-button-edit-or-delete>
                    <br><br>
                    <div class="fields">
                        <div class="field" *ngFor="let field of attr_list_config">
                            <ibdc-text-area-field 
                            [inputTitle]="field.name" 
                            [objectItem]="item"  
                            [objectAtributteName]="field?.attribute"
                            [readOnlyVariable]="this._initiativesService?.initiative.readonly"
                            [maxWords]="50"
                        ></ibdc-text-area-field>
                        </div>
                    </div>
                </div>
            </app-collapsible-container>



        </div>
    </div>

    <div style="margin-top: 20px;" *ngIf="!this._initiativesService.initiative.readonly">
        <app-add-button  name="Add Melia studies and activity" (click)="addItem()"></app-add-button>
    </div>


    <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly" (click)="saveSection()">
        <ibdc-save-button [options]="{readOnlyVariable: this._initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
    </div>

</div>