<section-title name="Melia studies and activities" ></section-title>
<div class="section-container animate__animated animate__fadeIn">

    <form (ngSubmit)="saveSection()">

        <ibdc-upload-files *ngIf="showForm" [options]="{
            inputTitle:'Provide document(s)',filesList:this.filesList,filesSavedList:this.filesSavedList}">
        </ibdc-upload-files>

        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: false}"></ibdc-save-button>
        </div>
    </form>


</div>