<section-title name="Melia studies and activities"></section-title>

<div class="section-container animate__animated animate__fadeIn">

    <div class="alert_container" style="margin: 20px 0 35px 0;">
        <ibdc-alert
            [options]="{text: 'If you are planning to carry out the same study in different years, please report every MELIA study separately.', type:'info'}"></ibdc-alert>
    </div>
    <div style="padding-bottom: 2em;">
        <app-compact-information-table-view (buttonViewEvent)="this.getTabIndex($event)"
            (onEdit)="this.getItemToExpand($event)" [list]="this.list" [attr_list_config]="this.attr_list_config"
            [showTableViewVariable]="this.showTableViewVariable"></app-compact-information-table-view>
    </div>


    <h1 style="text-align: center;" *ngIf="!this.list?.length && this._initiativesService.initiative.readonly">No data
    </h1>

    <div class="items animate__animated animate__fadeIn" *ngIf="!showTableViewVariable">
        <div class="item" *ngFor="let item of list; let i=index">


            <app-collapsible-container [collapse]="item?.collapse">
                <div header>Melia studies and activity {{i+1}}</div>
                <div content>
                    <app-button-edit-or-delete *ngIf="!this._initiativesService.initiative.readonly"
                        [ngCustomStyle]="{'margin-top':'12px'}" type="delete" (action)="deleteItem(item, i)"
                        [confirmDeleteModal]="true"></app-button-edit-or-delete>
                    <br><br>
                    <div class="fields">

                        <div class="alert_container" style="margin: 20px 0 35px 0;">
                            <ibdc-alert [options]="{htmlText: htmlTextMeliaAlert, type:'info'}"></ibdc-alert>
                        </div>

                        <div class="mb-4">
                            <ibdc-select-field class="field"
                                [readOnlyVariable]="this._initiativesService.initiative.readonly" [objectItem]="item"
                                [objectAtributteName]="'type_melia'" [objectAtributteId]="'type_melia_id'"
                                [inputTitle]="this.attr_list_config[1].name" selectableListAtributteName='name'
                                selectableListAtributteId='id' [selectableList]="this.meliaStudyTypes"
                                frontendSearchAttribute="name">
                            </ibdc-select-field>
                        </div>
                        <div class="mb-4" *ngIf="item.type_melia_id == 8">
                            <ibdc-text-area-field inputTitle="Specify the MELIA study or activity" [objectItem]="item"
                                [objectAtributteName]="'other_melia'"
                                [readOnlyVariable]="this._initiativesService?.initiative.readonly" [maxWords]="50">
                            </ibdc-text-area-field>
                        </div>

                        <div class="results_toc_container">

                            <ibdc-alert
                                *ngIf="item[this.attr_list_config[2].attribute] || this._dataControlService.isAdmin"
                                [options]="{text: 'Text information available in this field will no longer be used. Please link this MELIA study/activity to a specific result from the Initiatives TOC from the list below', type:'info'}"></ibdc-alert>

                            <ibdc-text-area-field [inputTitle]="this.attr_list_config[2].name" [objectItem]="item"
                                *ngIf="item[this.attr_list_config[2].attribute] || this._dataControlService.isAdmin"
                                [objectAtributteName]="this.attr_list_config[2].attribute"
                                [readOnlyVariable]="this._initiativesService?.initiative.readonly   || !this._dataControlService.isAdmin"
                                [maxWords]="50"
                                [inputDescription]="'Text information available in this field will no longer be used. Please link this MELIA study/activity to a specific result from the Initiatives TOC from the list below'">
                            </ibdc-text-area-field>

                            <!-- <ibdc-simple-text
                                [options]="{inputTitle:'Text information available in this field will no longer be used. Please link this MELIA study/activity to a specific result from the Initiatives TOC from the list below.'}"
                                textAlign='justify'></ibdc-simple-text> -->

                            <ibdc-select-multiple (onSelectOptionE)="resultToHtml()" [options]="{
                                                    inputTitle:this.attr_list_config[7].name,
                                                    selectList: item.resultsByMeliaList || [],
                                                    description:'If there is no item in the list, it is probably because information is missing in the TOC, please go to (table c) section and add information',
                                                    selectItemName:'fullResultTitle',
                                                    selectItemId:'resultId',
                                                    selectItemNameBold:'wpName',
                                                    intermediateText:'- WP:',
                                                    shadow: false,
                                                    frontendSearchAttribute:'fullResultTitle',
                                                    readOnlyVariable: this._initiativesService.initiative.readonly,
                                                    closeWhenSelect: true,
                                                    savedList:{
                                                        list: item.selectResults,
                                                        selectItemId:'resultId',
                                                        selectItemName:'fullResultTitle',
                                                        idToSave:'id',
                                                        labelName:'resultTitle'
                                                    }
                                                }">
                            </ibdc-select-multiple>

                            <!-- <div *ngIf="this._initiativesService.initiative.readonly" style="height: 30px;"></div> -->
                            <!-- <div class="items_container" *ngIf="checkActives(item.selectResults)">
                                <div class="items">
                                    <div>
                                        <div *ngFor="let selectResultItem of item.selectResults">
                                            <app-multiple-select-item [object]="selectResultItem" [attr]="'resultTitle'" [selectList]="item.resultsByMeliaList" ></app-multiple-select-item>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="alert_container" style="margin: -40px 0 35px 20px;" *ngIf="!item?.resultsByMeliaList?.length">
                                <ibdc-alert [options]="{text: 'If there is no item in the list  in the (TOC EIO Outcomes, WP Outcomes, WP Outputs this MELIA study/activity contribute to) field, it is probably because information is missing in the TOC, please go to (table c) section and add information', type:'info'}"></ibdc-alert>
                            </div> -->
                        </div>


                        <!-- <ibdc-select-multiple [options]="{
                            inputTitle:'Choose multiple depth scale',
                            selectList: this.depthScalesList,
                            selectItemName:'depthScaleName',
                            selectItemId:'depthScaleId',
                            hideSavedList: true,
                            shadow: false,
                            frontendSearchAttribute:'acronym_name',
                            readOnlyVariable: this._initiativesService.initiative.readonly,
                            savedList:{
                                list: this.indicatorsListPOBSavediItem.depthScaleList,
                                selectItemId:'depthScaleId',
                                selectItemName:'depthScaleName',
                                idToSave:'depthScaleId',
                                labelName:'depthScaleName'
                            }
                        }"></ibdc-select-multiple> -->

                        <div class="mb-4">
                            <ibdc-select-field class="field"
                                [readOnlyVariable]="this._initiativesService.initiative.readonly" [objectItem]="item"
                                [objectAtributteName]="'anticipated_year_completion'"
                                [objectAtributteId]="'anticipated_year_completion'"
                                [inputTitle]="this.attr_list_config[3].name" selectableListAtributteName='year'
                                selectableListAtributteId='year' [selectableList]="this.years"
                                frontendSearchAttribute="year">
                            </ibdc-select-field>
                        </div>

                        <ibdc-text-area-field [inputTitle]="this.attr_list_config[5].name" [objectItem]="item"
                            [objectAtributteName]="this.attr_list_config[5].attribute"
                            [readOnlyVariable]="this._initiativesService?.initiative.readonly" [maxWords]="50">
                        </ibdc-text-area-field>

                        <ibdc-select-multiple [options]="{
                            required: null,
                            inputTitle: this.attr_list_config[4].name,
                            selectItemName:'displayName',
                            selectItemId:'initiativeId',
                            frontendSearchAttribute:'displayName',
                            readOnlyVariable: this._initiativesService.initiative.readonly,
                            description: 'Message',
                            closeWhenSelect: true,
                            savedList:{
                                list:item.initiatives,
                                selectItemName:'displayName',
                                selectItemId:'initiativeId',
                                idToSave:'id',
                                labelName:'initiatives'
                            },
                            service:{
                                serviceTS:this._initiativesService,
                                functionName:'getInitiativesList',
                                objectName:['response','initiatives']
                            }
                           }"></ibdc-select-multiple>

                        <div class="col-sm-12">
                            <app-geographic-scope [localForm]="this.geographicScopes[i]"
                                [regionsSelectedList]="item.regions" [countriesSelectedList]="item.countries"
                                [subject]="'MELIA Study'">
                            </app-geographic-scope>
                        </div>
                    </div>
                </div>
            </app-collapsible-container>



        </div>
    </div>

    <div style="margin-top: 20px;" *ngIf="!this._initiativesService.initiative.readonly">
        <app-add-button name="Add Melia studies and activity" (click)="addItem()"></app-add-button>
    </div>


    <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly" (click)="saveSection()">
        <ibdc-save-button
            [options]="{readOnlyVariable: this._initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}">
        </ibdc-save-button>
    </div>

</div>