mat-dialog-content {
    padding: 1rem 5rem;
}

mat-dialog-actions {
    padding: 1rem 2rem;
}

mat-icon {
    color: #ff0000;
}

.close {
    background: #3D85C6;
    color: #fff;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}