.one-header {
  font-family: Poppins;
  color: #e2e2e2;
  background: rgb(46,56,55);
  background: linear-gradient(142deg, rgba(46,56,55,1) 0%, rgba(58,63,69,1) 35%, rgba(49,52,57,1) 100%);
  // margin: 2rem 0;
}

.outline-font {
  font-weight: 200;
}

.cgiar-logo {
  content: url("/assets/images/cgiar_logo.png");
  filter: contrast(0) brightness(5);
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #fff;
}


.collapseHeader{
  font-size: 1em;
  padding: 0px 80px;
  .cgiar-logo{
    width: 2.5rem;
    transition: all .3s ease-in;
    }
    height: 55px !important;
  transition: all .3s ease-in;
}

.noCollapseHeader{
  font-size: 2em;
  padding: 50px 80px;
  .cgiar-logo{
  width: 4rem;
  transition: all .3s ease-in;
  }
  height: 64px !important;
  transition: all .3s ease-in;
}