<mat-toolbar *ngIf="_interactionsService.showHeader" class="one-header" [ngClass]="{'collapseHeader': _interactionsService.collapseHeader,'noCollapseHeader':!_interactionsService.collapseHeader}">
  <ng-container *ngIf="isAdmin === 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <span routerLink="/home" class="pointer" (click)="_interactionsService.collapseHeader = false"><strong>One CGIAR </strong><span class="outline-font">Submission Tool</span></span>
  <span class="spacer"></span>
  <i class="cgiar-logo"></i>
</mat-toolbar>

<app-tawk-to *ngIf="_interactionsService.showHeader"></app-tawk-to>

<!-- <mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <span>One CGIAR Submission Tool</span>
  <span class="spacer"></span>
  <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a *ngIf="isLogged" mat-button (click)="onLogout()">Logout</a>
</ng-template> -->