<div class="section-container animate__animated animate__fadeIn">

    <section-title name="Challenge statement"></section-title>
    <form [formGroup]="challengeStatementForm" (ngSubmit)="upserInfo()" class="general-information-form">

        <div class="row">
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Challenge statement', form:challengeStatementForm, formControlName:'challengeStatement', maxWords:500,
                    description:'Please provide a detailed problem statement, expanding on the text on challenge provided in the pre-concept:'}">
                </ibdc-textarea>
            </div>
        </div>

        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

        <div class="general-information-save" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{underConstruction:true}"></ibdc-save-button>
        </div>
    </form>
</div>

