h2 {
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.5rem 0;
}

mat-dialog-content {
    padding: 1rem 5rem;
}

mat-dialog-actions {
    padding: 1rem 2rem;
}

h3 {
    margin: 0;
}

.asterisk {
    color: #ff0000;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.coordinators {
    display: flex;
    justify-content: space-between;
}

.coordinators-container {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    border: 2px dotted #b1b0b0;
    padding: 1rem;
    width: 50rem;
}

.add-coordinator {
    color: #38761D;
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
    cursor: pointer;
}

.add-coordinator:hover {
    color: #469424;
}

mat-icon {
    color: #d30000;
    cursor: pointer;
}

mat-icon:hover {
    color: #ff0000;
}

.add-button {
    background-color: #4c7939;
    text-decoration: none;
    color: #fff;
    width: 100px;
    margin: 1.5rem 0;
}

.add-button:hover {
    background-color: #6AA84F;
}

.close-button {
    text-decoration: none;
    color: #fff;
    width: 100px;
    margin: 1.5rem 1rem;
}

.close-button:hover {
    background-color: #0c96c9;
}

.save-button {
    background-color: #4c7939;
    text-decoration: none;
    color: #fff;
    width: 100px;
    margin: 1.5rem 0;
}

.save-button:hover {
    background-color: #6AA84F;
}

.btns-coordinator-modal {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3.1rem;
}