h2 {
    background-color: #0779A4;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 0.5rem 0;
}

mat-dialog-content {
    padding: 1rem 5rem;
}

mat-dialog-actions {
    padding: 1rem 2rem;
}

h3 {
    color: #0779A4;
    margin: 0;
}

.asterisk {
    color: #ff0000;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.coordinators {
    display: flex;
    justify-content: space-between;
}

.coordinators-container {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    border: 2px dotted #b1b0b0;
    padding: 1rem;
    width: 50rem;
}

.add-coordinator {
    color: #38761D;
    display: flex;
    justify-content: center;
    padding: 3rem 0 0 0;
    cursor: pointer;
}

mat-icon {
    color: #ff0000;
    cursor: pointer;
}

.close {
    background: #3D85C6;
    color: #fff;
}

.save {
    background: #6AA84F;
    color: #fff;
}