<h2 mat-dialog-title>Manage access</h2>
<mat-dialog-content class="mat-typography">
  <h3>Coordinators: <span class="asterisk">* </span></h3>
  <p class="description-field"><i>The following persons will also have access to edit this initiative</i></p>
  <div class="coordinators-container">
    <div class="coordinators" *ngFor="let coordinator of _requests.addedCoordinator">
      <span>{{coordinator.name}}</span>
      <span>{{coordinator.email}}</span>
      <mat-icon (click)="_requests.removeCoordinator(coordinator)">delete</mat-icon>
    </div>
    <div class="add-coordinator">
      <strong (click)="openDialog()">+ Assign coordinator</strong>
    </div>
  </div>
</mat-dialog-content>
<div class="btns-coordinator-modal">
  <div>
    <button mat-raised-button class="add-button" (click)="openCreateUser()">Create user</button>
  </div>
  <div>
    <button mat-raised-button class="close-button" mat-dialog-close>close</button>
    <button mat-raised-button class="save-button" [mat-dialog-close]="true" cdkFocusInitial>save</button>
  </div>
</div>