<div class="button_container" *ngIf="this._dataControlService.isAdmin">
  <app-add-button name="Create new" (click)="showDialog()" color="primary"></app-add-button>
</div>

<div class="customdialog">
  <p-dialog *ngIf="this.renderDilog" header="Create an Initiative/platform" [(visible)]="display" [modal]="true" [style]="{ width: '70vw' }" [draggable]="false" [resizable]="false" styleClass="customdialog">
    <br />
    <div class="row">
      <div class="col-sm-12 custom-radiobutton">
        <div class="title">What do you want to create? <span class="asterisk">*</span></div>
        <mat-radio-group aria-label="Select an option" class="custom-radio-group" [(ngModel)]="this.createBody.type">
          <mat-radio-button value="1">Initiative</mat-radio-button>
          <mat-radio-button value="3">Platform</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-sm-6" *ngIf="this.createBody.type">
        <ibdc-input-field inputTitle="Short name" [objectItem]="this.createBody" [objectAtributteName]="'acronym'" [readOnlyVariable]="false" [maxWords]="3"> </ibdc-input-field>
      </div>

      <div class="col-sm-12" *ngIf="this.createBody.type">
        <ibdc-text-area-field inputTitle="Initiative name" [objectItem]="this.createBody" [objectAtributteName]="'name'" [readOnlyVariable]="false" [maxWords]="50"> </ibdc-text-area-field>
      </div>

      <div class="col-sm-6" *ngIf="this.createBody.type == 1">
        <ibdc-select-field [objectItem]="this.createBody" [objectAtributteId]="'action_area_id'" [objectAtributteName]="'action_area_description'" inputTitle="Primary CGIAR Action Area" selectableListAtributteName="index_name" selectableListAtributteId="id" [selectableList]="this.actionAreasList"></ibdc-select-field>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <button pButton (click)="display = false" type="button" label="Cancel" class="p-button-secondary"></button>
      <button pButton [disabled]="fieldsValidations()" (click)="createInitiative(); display = false" type="button" label="Create" class="p-button-success"></button>
    </ng-template>
  </p-dialog>
</div>
