<div class="narratives-container">
    <strong class="narratives-title">Narratives</strong>
    <form [formGroup]="" class="narratives-form">
        <mat-form-field class="narratives-full-width">
            <input type="text" formControlName="challenge" matInput placeholder="Challenge" required />
        </mat-form-field>
        <mat-form-field class="narratives-full-width">
            <input type="text" formControlName="objectives" matInput placeholder="Objectives" required />
        </mat-form-field>
        <mat-form-field class="narratives-full-width">
            <input type="text" formControlName="results" matInput placeholder="Results" required />
        </mat-form-field>
        <mat-form-field class="narratives-full-width">
            <input type="text" formControlName="activities" matInput placeholder="Activities" required />
        </mat-form-field>
        <mat-form-field class="narratives-full-width">
            <input type="text" formControlName="highlights" matInput placeholder="Highlights" required />
        </mat-form-field>
        <div class="narratives-save">
            <button type="submit" mat-raised-button class="save-button">
                Save
            </button>
        </div>
    </form>
</div>