<div class="container">

    <div class="row">
        <div class="col-sm-12">
                <mat-form-field floatLabel="false">
                    <p><strong class="color-secondary">{{options.inputTitle}}: </strong><span [hidden]="options.required === false" class="asterisk">* </span></p>
                    <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i></p>
                    <input type="text" aria-label="Number" placeholder="Write to search" matInput [matAutocomplete]="auto" [(ngModel)]="searchText" [disabled]="removeFocus">
                    <mat-label [hidden]="true"></mat-label>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of options.selectList|regionsFilter:searchText:options.attributeNameToSearch" [value]="option.name" (click)="addItem(option,disableOption(option))" [disabled]="disableOption(option)">
                        <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">{{disableOption(option)?'radio_button_checked':'radio_button_unchecked'}}</mat-icon> {{option[options.selectItemName]}}
                      </mat-option>
                      <mat-option *ngIf="(options.selectList|regionsFilter:searchText:options.attributeNameToSearch).length == 0" [value]=""  [disabled]="false">
                        No matches found...
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-chip-list class="example-chip" *ngIf="!(options.showChips === false)">
                    <mat-chip class="example-box" color="accent" selected *ngFor="let item of this.options.selectedList;let i = index">
                        {{options.chipName?item[options.chipName]:item[options.selectItemName]}}
                        <mat-icon matChipRemove (click)="removeItem(i)">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
        </div>
    </div>
    <br>
</div>