<section-title name="Summary management plan Gantt table" ></section-title>




<div class="section-container animate__animated animate__fadeIn">
    <app-section-alerts-pack [extraValidation]="this._dataValidatorsService.validateFilesArray(this.filesList,this.filesSavedList)" ></app-section-alerts-pack>
    <ibdc-alert [options]="{htmlText: this._dataControlService.fileSteps, type:'info'}"></ibdc-alert>
    <div class="row">        
        <div class="col-12">
            <br>
            <div class="ibdc_button_template_container">
                <a [href]="this.templatesUrlBase+'/templates/Section 7.2 - Summary management plan Gantt - Submission Tool Template.xlsx'" target="_blank" class="ibdc_button_template">
                    Download template
                </a>
            </div>
        </div>
    </div>

    <br>

    <form (ngSubmit)="saveSection()">

        <ibdc-upload-files *ngIf="showForm" [options]="{
            inputTitle:'Provide document(s)',filesList:this.filesList,filesSavedList:this.filesSavedList, readOnlyVariable: this._initiativesService.initiative.readonly}">
        </ibdc-upload-files>

        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
        </div>
    </form>

</div>