<section-title name="Projection of benefits - Impact area" ></section-title>
<div class="section-container animate__animated animate__fadeIn">
    <!-- <div class="top_bar"></div> -->
    <form (ngSubmit)="saveForm()">


   
            <div  *ngIf="indicatorsListLoaded">
                <div *ngFor="let item of IndicatorsListPOBSavedList;let i=index">
                    <app-pob-indicator 
                    [indicatorsListPOBSavediItem]="item" 
                    [indicatorsList]="indicatorsList" 
                    [index]="i"
                    ></app-pob-indicator>
                </div>
            </div>
          
                <br>
                <div class="button_add_container center_flex" [hidden]="!indicatorsListLoaded">
                    <button 
                    pButton pRipple 
                    type="button" label="Add Indicator" 
                    class="p-button-success save-button"     
                    icon="pi pi-plus" iconPos="right" 
                    (click)="addIndicator()" 
                    ></button>
                </div>
          
     

        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember:5}"></ibdc-save-button>
        </div>
    <!-- <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
        <ibdc-save-button [options]="{readOnlyVariable: false,remember:true, minutesToRemember:5}"></ibdc-save-button>
    </div> -->
</form>
</div>