.section{
    margin-top: 8px;
    .header{
        display: grid;
        grid-template-columns: 20px 1fr auto;
        grid-gap: 10px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
        &:hover{
            background-color: var(--ibdc-black-2) !important; 
            transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
            // padding: 10px 10px 10px 0px;
            .line{
                background-color: var(--ibdc-black-2)!important;
                transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
            }
        }
        .line{
            height: 5px;
            width: auto;
            background-color: var(--ibdc-primary-color);
            align-self: center;
            border-radius: 0px 5px 5px 0px;
            transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
        }
        .title{
            align-self: center;
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            .expand_more_icon{
                transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
                font-size: 30px;
                user-select: none;
            }
        }
    }
    .content{
        overflow: hidden;
        background-color: var(--ibdc-primary-color);
    }
}

.active_section{
    background-color: var(--ibdc-primary-color) !important;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    padding: 10px 10px 10px 0px;
}

// .sub-section{
//     position: relative;
//     backdrop-filter: blur(3px);
//     background-color: #5c5c5c5d;
//     color: white !important;
//     margin-bottom: 15px;
//     padding: 7px 7px 7px 10px;
//     border-radius: 5px;
//     border-bottom: 1px solid rgb(168, 168, 168);
//     padding-right: 2.5em;
// }

// .sub-section-with-dynamicList{
//     position: relative;
//     backdrop-filter: blur(3px);
//     background-color: #5c5c5c5d;
//     margin-bottom: 10px;
//     color: white !important;
//     padding: 5px 5px 5px 10px;
//     border-radius: 5px;
//     border-bottom: 1px solid rgb(168, 168, 168);
//     padding-right: 2.5em;
// }