.section{
    margin-top: 2px;
    .header{
        display: grid;
        grid-template-columns: 15px 1fr;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;

        .line{
            height: 5px;
            width: auto;
            background-color: var(--ibdc-primary-color);
            align-self: center;
            border-radius: 0px 5px 5px 0px;
            transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
        }
        .button_information{
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 10px;
            transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;

            &:hover{
                background-color: var(--ibdc-black-2) !important; 
                transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
                border-radius: 10px;
            }
            .title{
                padding: 4px 0px;
                padding-left: 10px;
                align-self: center;
                
                font-weight: 400;
 
            }
            .icons{
                display: flex;
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .expand_more_icon{
                        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
                        font-size: 25px;
                    }
                }
            }
        }

    }
    .content{
        margin: 0px 0px 0px 15px;
        overflow: hidden;
        background-color: var(--ibdc-primary-color);
        border-radius: 0px 0px 4px 4px;
    }
}

.active_text{
    color: var(--ibdc-active-color);
}

.active_section{
    background-color: var(--ibdc-black-2) !important; 
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    border-radius: 10px;
}

.active_section_content{
    background-color: var(--ibdc-primary-color) !important;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    padding: 0px 10px 10px 0px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--ibdc-primary-color);
}

