.section{
    margin-top: 2px;
    .header{
        display: grid;
        grid-template-columns: 20px 1fr auto;
        grid-gap: 10px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0);
        transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;

        .line{
            height: 5px;
            width: auto;
            background-color: var(--ibdc-primary-color);
            align-self: center;
            border-radius: 0px 5px 5px 0px;
            transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
        }
        .title{
            padding: 4px 0px;
            padding-left: 10px;
            align-self: center;
            border-radius: 10px;
            font-weight: 300;
            &:hover{
                background-color: var(--ibdc-black-2) !important; 
                transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
            }
        }
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            .expand_more_icon{
                transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
                font-size: 30px;
                user-select: none;
            }
        }
    }
    .content{
        margin: 0px 10px;
        overflow: hidden;
        background-color: var(--ibdc-primary-color);
    }
}

.active_section{
    background-color: var(--ibdc-primary-color) !important;
    transition: all cubic-bezier(0.23, 1, 0.320, 1) .5s;
    padding: 10px 10px 10px 0px;
    color: var(--ibdc-active-color);
}