

<div class="section">

    <a 
    [attr.href]="this.haveContent ? null : this.customRouterLink" 
    class="header section_title" 
    (click)="this.haveContent?this.collapse = !this.collapse : this._utilsService.navigate(this.customRouterLink)" [routerLink]="this.haveContent ? null : this.customRouterLink">
        <div class="line"></div>
        <div [ngStyle]="this.type == 'sub-section' ?'':{'background' : '#5cc5602e', 'border-radius':'10px'}" class="button_information 
        {{this._utilsService.validateCurrrentSection(this.customRouterLink) ? 'active_text active_section' : ''}}  
        {{ !this.collapse && this.haveContent ? 'active_section_content':''}}">
            <div class="title">
                <ng-content select="[title]"></ng-content>
            </div>
            <div class="icons">
                <div class="icon" *ngIf="this.haveContent">
                    <i class="material-icons expand_more_icon" [style.transform]="'rotate('+(this.collapse?0:180)+'deg)'" [ngStyle]="{'opacity': this.haveContent ? 1 : 0}">expand_more</i>
                </div>
                <div class="icon icon_toc" *ngIf="this.showTocIcon">
                    <img width="20px" src="/assets/images/ToC_Icon.png" alt="Toc tool">
                    <div class="pop_text">
                        Section related to "ToC Tool"
                    </div>
                 </div>
                <div class="icon" style="margin-left: 2px;">
                    <i class="material-icons-outlined material-icons" [style.color]="fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'">{{this.type == 'sub-section' ?'task_alt':'analytics'}}</i>
                </div>
            </div>
        </div>
    </a>

    <div *ngIf="this.haveContent" class="content" [@expandable]="haveContent ? (this.collapse?'collapse':'expand') : null">
        <div style="padding: 0px 10px 10px 10px;">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>
    
</div>
