<section-title name="Impact area" ></section-title>
<app-ia-visual-reference [impactAreId]="this.iaID" ></app-ia-visual-reference>
<div class="section-container animate__animated animate__fadeIn">


    <div class="ibdc-tabs">
        <div class="ibdc-tab" (click)="firstTab = true;">
          <div class="ibdc-tab_name notSelected" [ngClass]="{'selected': firstTab}">
            General information
          </div>
        </div>
        <div class="ibdc-tab" (click)="firstTab = false;">
          <div class="ibdc-tab_name notSelected " [ngClass]="{'selected': !firstTab}">
            Partners
          </div>
        </div>
      </div>
    
      <div class="ibdc-tabs_container">
        
    <form>

        <div class="row animate__animated animate__fadeIn" *ngIf="showForm && firstTab">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="sectionForm" [extraValidation]="this._dataValidatorsService.validateIfArrayHasActiveFalseEstrict(this.savedList,'code') * this.extraValidation"></app-section-alerts-pack>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                    [options]="{inputTitle:'Challenges and prioritization',readOnlyVariable: this._initiativesService.initiative.readonly, editText:true, form:sectionForm,editText:true, formControlName:'challenge_priorization', maxWords:150,
                    description:'Provide an evidence-based statement identifying the Impact Area challenge(s) the Initiative will address, and how those informed the priority-setting for the Initiative’s research and innovation. If the Initiative does not address this Impact Area, provide a justification'}">
                </ibdc-textarea>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                    [options]="{inputTitle:'Research questions',readOnlyVariable: this._initiativesService.initiative.readonly, editText:true, form:sectionForm,editText:true, formControlName:'research_questions', maxWords:150,
                    description:'Note the key research questions that deliver on this Impact Area.'}">
                </ibdc-textarea>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                    [options]="{inputTitle:'Components of Work Packages',readOnlyVariable: this._initiativesService.initiative.readonly, editText:true, form:sectionForm,editText:true, formControlName:'component_work_package', maxWords:150,
                    description:'Highlight the specific Work Packages or components of Work Packages (research and associated work, outputs, outcomes) that deliver on the Impact Area.'}">
                </ibdc-textarea>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                    [options]="{inputTitle:'Measuring performance and results',readOnlyVariable: this._initiativesService.initiative.readonly, editText:true, form:sectionForm,editText:true, formControlName:'performance_results', maxWords:150,
                    description:'Describe the 3-year (End-of-Initiative) outcomes and metrics for this Impact Area.'}">
                </ibdc-textarea>
            </div>
            <div class="col-12">
                <ibdc-textarea 
                    [options]="{inputTitle:'Human resources and capacity development of Initiative team',readOnlyVariable: this._initiativesService.initiative.readonly, editText:true, form:sectionForm,editText:true, formControlName:'human_capacity', maxWords:150,
                    description:'Highlight dedicated human resources to achieve the Work Package components and targets for this Impact Area. Refer/link to any strategy to improve capacity via internal capacity-building or through partnership'}">
                </ibdc-textarea>
            </div>
        </div>

        <div class="row animate__animated animate__fadeIn" *ngIf="showForm && !firstTab">
            <div class="col-sm-12" *ngIf="this.institutionsLoaded && this.typesLoaded">
                <app-global-partners-request 
                [institutions]="this.institutionsList" 
                [savedList]="this.savedList" 
                [institutionsTypes]="this.institutionsTypes"
                [institutionsTypesSavedList]="this.institutionsTypesSavedList"
                [institutionsTypesDisableList]="this.institutionsTypesDisableList"
                ></app-global-partners-request>
            </div>
        </div>
        
        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

    </form>
      </div>
      
    
    


    <div class="justify_content_end" (click)="saveSection()" *ngIf="!_initiativesService.initiative.readonly">
        <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember:10}"></ibdc-save-button>
    </div>

</div>