<div class="delete-container">
    <mat-icon (click)="_requests.removeWorkPackage()">delete</mat-icon>
</div>
<div class="work-packages-container">
    <strong class="work-packages-title">Work package</strong>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Information">

        <form [formGroup]="_requests.workPackageInformationCs" class="narratives-form">
            <mat-form-field class="narratives-full-width">
                <p><strong>Name: </strong><span class="asterisk">* </span></p>
                <textarea type="text" formControlName="name" matInput required></textarea>
            </mat-form-field>
            <mat-form-field class="narratives-full-width">
                <p><strong>Ensure both science/research and innovation/impact pathway content: </strong><span
                        class="asterisk">* </span></p>
                <textarea type="text" formControlName="description" matInput required></textarea>
            </mat-form-field>
            <mat-form-field class="narratives-full-width">
                <p><strong>Results: </strong><span class="asterisk">* </span></p>
                <textarea type="text" formControlName="results" matInput required></textarea>
            </mat-form-field>
            <div class="narratives-save">
                <button type="submit" (click)="_requests.saveWorkPackageInformation()" mat-raised-button
                    class="save-button">
                    Save
                </button>
            </div>
        </form>

    </mat-tab>
    <mat-tab label="Geographic scope">

        <app-geographic-scope></app-geographic-scope>

    </mat-tab>
    <mat-tab label="Projection of benefits">

        <div class="projection-benefits-container">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Nutrition, health & food security
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="contribution-container" *ngFor="let contribution of _requests.contributions">
                        <div class="remove-contribution-container">
                            <mat-icon (click)="_requests.removeContribution(contribution)">delete</mat-icon>
                        </div>
                        <mat-form-field appearance="standard">
                            <p><strong>Indicate a common impact indicators attributable to CGIAR: </strong><span class="asterisk">* </span></p>
                            <mat-select>
                                <mat-option value="1">Action Area 1: Systems Transformation</mat-option>
                                <mat-option value="2">Action Area 2: Sustainable Production</mat-option>
                                <mat-option value="3">Action Area 3: Genetic Gains</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <table>
                            <tr>
                                <th></th>
                                <th>2020</th>
                                <th>2022</th>
                                <th>2024</th>
                            </tr>
                            <tr>
                                <td>Low scenario</td>
                                <td>50</td>
                                <td>50</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>High scenario</td>
                                <td>94</td>
                                <td>94</td>
                                <td>94</td>
                            </tr>
                        </table>

                        <div class="set-data-container">
                            <button type="submit" mat-raised-button class="set-data-button" (click)="openDialog()">
                                set ranges and years
                            </button>
                        </div>

                        <mat-form-field>
                            <p><strong>Add any notes on methodology and sources here: </strong></p>
                            <input type="text" matInput required />
                        </mat-form-field>

                    </div>

                    <div class="set-data-container">
                        <button type="submit" mat-raised-button class="set-data-button" (click)="_requests.addContribution()">
                            add new contribution
                        </button>
                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Poverty reduction, livelihoods & jobs
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>I'm visible because I am open</p>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Gender equality, youth & social inclusion
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>I'm visible because I am open</p>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Climate adaptation & mitigation
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>I'm visible because I am open</p>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Environmental health & biodiversity
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <p>I'm visible because I am open</p>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </mat-tab>
</mat-tab-group>