table {
  width: 100%;
}
h1{
    font-family: "Poppins", sans-serif;
  }

.noWp{
    text-align: center;
    margin: 80px;
    font-weight: 500;
    color: #3f3f3f;
}

.custom_container_table{
  margin: 50px;
}
.mat_row{
  transition: all .3s ease;
  &:hover{
      background-color: #f5f5f5;
      transition: all .3s ease;

  }
}