.delete-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 1rem;
}

mat-icon {
    color: #d30000;
    cursor: pointer;
    font-size: 1.8rem;
}

mat-icon:hover {
    color: #ff0000;
}

.work-packages-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem auto;
}
  
.work-packages-title {
    font-size: 1.4em;
    padding: 1rem 0;
}

.narratives-form {
    width: 90%;
    margin: 1rem auto;
}
    
.narratives-full-width {
    width: 100%;
}

p {
    color: #0779A4;
}

.asterisk {
    color: #ff0000;
}
  
.narratives-save {
    display: flex;
    justify-content: flex-end;
}
  
.save-button {
    background-color: #0779A4;
    outline: none;
    color: #fff;
    width: 100px;
}

.save-button:hover {
    background-color: #0c96c9;
}

.projection-benefits-container {
    width: 90%;
    margin: 1rem auto;
}

mat-panel-title {
    justify-content: center;
}

.contribution-container {
    display: flex;
    background-color: #FAFAFA;
    flex-direction: column;
    border: 2px dotted #b1b0b0;
    padding: 0 1.5rem;
    margin: 1rem 0;
}

table, th, td {
  border: 1px solid #0779A4;
  border-collapse: collapse;
}

.set-data-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
}

.remove-contribution-container {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0 0 0;
}

.set-data-button {
    background-color: #0779A4;
    outline: none;
    color: #fff;
}

.set-data-button:hover {
    background-color: #0c96c9;
}

h1{
    font-family: "Poppins", sans-serif;
  }

.noWp{
    text-align: center;
    margin: 80px;
    font-weight: 500;
    color: #3f3f3f;
}