
<div class="container" style="margin: 20px 0px">
    <mat-accordion class="example-headers-align" multi>
        <app-work-package [validateAllWP]="validateWorkPackages()"  [regionsList]="regionsList"  [workPackageData]="item" [workPackagesList]="workPackagesList" [index]="i"   *ngFor="let item of workPackagesList; let i = index"></app-work-package>
    </mat-accordion>
    <h1 *ngIf="noWp" class="noWp">There are not work packages...</h1>
    <br>
    <div class="button-container" [style.display]="'flex'" [style.justifyContent]="noWp?'center':'initial'">
        <button mat-raised-button (click)="addWorkPackage()" *ngIf="this.initiativesSvc.initvStgId != null" ><mat-icon>add</mat-icon>Add Work Package</button>

    </div>
    <ngx-spinner [fullScreen]="false" name='work-packages'></ngx-spinner>
</div>
<br>

