<ibdc-alert *ngIf="sectionForm.status == 'INVALID'" [options]="{htmlText: this._dataControlService.fieldAsteriskInfo, type:'alert'}"></ibdc-alert>
<ibdc-alert *ngIf="sectionForm.status == 'INVALID'" class="animate__animated animate__bounceIn"  [options]="{htmlText: this._dataControlService.incompleteFieldsText, type:'warning'}"></ibdc-alert>
<ibdc-alert *ngIf="sectionForm.status == 'VALID'" class="animate__animated animate__bounceIn"  [options]="{text: 'This section is complete', type:'success'}"></ibdc-alert>
<br>