<section-title name="Risk assessment"></section-title>

<div class="section-container animate__animated animate__fadeIn">

    <form (ngSubmit)="saveSection()" *ngIf="showForm">


        <!-- <div class="progress_information">
            select top 5 risk - narratives
            <hr>
        </div> -->
        
        <ibdc-alert 
            *ngIf="this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') < 5 && this.stepNumber == 1" 
            [options]="{htmlText: 'Please select all 5 risks to be able to display the save button and be able to edit the five risks', type:'warning'}"></ibdc-alert>

        <div [ngSwitch]="stepNumber">


            <div class="step_one" *ngSwitchCase="1">
                <div class="row">



                    <div class="col-12">
                        <div class="grid_selectors">
                            <div>
                                <ibdc-select-multiple *ngIf="riskListIsLoaded"
                                [hidden]="this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') > 4" [options]="{
                            hideSavedList: true,
                            inputTitle:'Select top 5 risks',
                            selectList: this.risksList,
                            selectItemName:'risks_achieving_impact',
                            selectItemId:'idBd',
                            frontendSearchAttribute:'risks_achieving_impact',
                            readOnlyVariable: this._initiativesService.initiative.readonly,
                            savedList:{
                                list:this.managementPlan.riskassessment,
                                selectItemId:'idBd',
                                selectItemName:'risks_achieving_impact',
                                idToSave:'idBd',
                                labelName:'regions'
                            }
                           }"></ibdc-select-multiple>
                            </div>
                            <div class="or" *ngIf="this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') < 5 && this.stepNumber == 1">
                                <div>or</div>
                            </div>
                            <div>
                                <div (click)="addRiskInTopFive()" class="createMyOwn" *ngIf="this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') < 5 && this.stepNumber == 1">create my own "initiative team item"</div>
                            </div>
                        </div>

                        



                    </div>
                    <div class="col-9">
                        <div class="ibdc_basic_title" *ngIf="this.managementPlan?.riskassessment.length">Confirm top 5</div>
                        <div class="item_top_five" [hidden]="!item.selected" *ngFor="let item of addIdxToSelected(this.managementPlan?.riskassessment)">


                            <div class="index_tag ibdc_green_gradient"><div class="tag">Top {{this.item.idx}} </div></div>

                            <div class="ibdc_basic_description">
                                
                                <div class="readyOnlyElement" *ngIf="!item.editable">{{item.generic_risks}}</div> 
                                <div class="editableElement" *ngIf="item.editable">
                                  
                                    <div class="ibdc-input-field-container">
                                        <ibdc-input-field inputTitle="Risks achieving impact" [rows]="1" [objectItem]="this.item"  [objectAtributteName]="'risks_achieving_impact'"></ibdc-input-field>
                                    </div>
                                    <br>
                                    <div class="ibdc-input-field-container">
                                        <ibdc-select-field
                                           [objectItem]="this.item"  [objectAtributteName]="'risks_theme'" inputTitle="Risk theme" selectableListAtributteName = 'categoryName'
                                           [selectableList]="[{id:1,categoryName:'Research'},{id:2,categoryName:'Research support'}]"
                                         ></ibdc-select-field>
                                     </div>

                                </div>
                            </div>

                            <div class="icon_container" (click)="removeElementOfTopFiveInStepOne(item)">
                                <span class="material-icons">delete</span>
                                <div class="delete_text">Delete</div>
                            </div>
                        </div>
                        <!-- <button pButton type="button" label="Confirm"></button> -->

                    </div>
                </div>
                <ibdc-alert *ngIf="this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') > 4" [options]="{htmlText: 'Please save to confirm top 5', type:'info'}"></ibdc-alert>

            </div>

            <div class="step_two" *ngSwitchCase="2">
                <div *ngFor="let riskAssessment of this.managementPlan?.riskassessment" style="margin-top: 40px;">
                    <app-risk-assessment-item [riskAssessment]="riskAssessment" [managementPlan]="this.managementPlan" [risksList]="this.risksList">
                    </app-risk-assessment-item>
                </div>
            </div>
            <div *ngSwitchDefault>

            </div>
        </div>
        <div class="justify_content_end" [hidden]="(this._dataValidatorsService.countAtributeBooleanInArray(this.managementPlan?.riskassessment,'selected') != 5 && this.stepNumber == 1)" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button
                [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}">
            </ibdc-save-button>
        </div>

    </form>
</div>
