.col_num{
    text-align: center !important;
    width: 100px;
}

.card-container{
    border-radius: 10px;
    overflow: hidden;
}

.alert{
    background-color: #ffd8d8;
}

.routerInit{
    cursor: pointer;
    &:hover{
       font-weight: bold;
    }
}