<div class="stage" *ngFor="let stage of this.userMenu; let i=index" [hidden]="stage.stageId == 2">
    <div class="stage-title" [ngClass]="{'activeSection': this._menuService.activeClassByRoute([stage.description],this.router.routerState.snapshot.url)}"
        (click)="this._menuService.toggleExpand(sectionsList)">
        <span>{{stage.description}}</span>
    </div>

    <div #sectionsList class="stage-sections"
        [ngClass]="{'expandIbd': this._menuService.activeClassByRoute([stage.description],this.router.routerState.snapshot.url),'collapseIbd': !this._menuService.activeClassByRoute([stage.description],this.router.routerState.snapshot.url)}"
        [@expandable]="sectionsList.classList.contains('collapseIbd')?'collapse':'expand'">
        <br>
        <app-menu-section *ngIf="stage?.sections?.length" [stage]="stage" [sections]="stage.sections"></app-menu-section>
    </div>
    
    <br>

    <div class="submitButtonInitiative" *ngIf="usrAvailableSubm && (this.userMenu.length-1 <= i)">
        <button pButton type="button" (click)="onSubmitt()" label="Submit Initiative" class="p-button-rounded p-button-success"></button>
    </div>

    <div class="submitButtonInitiative" *ngIf="currentUser?.roles[0].acronym == 'ASSESS'">
        <button pButton type="button" (click)="showDialogSubStasModal()" label="Assess Initiative" class="p-button-rounded p-button-info"></button>
    </div>

 
</div>
