
<div>
    <div class="header section_title ibdc_green_gradient" (click)="this.collapse = !this.collapse">
        <div class="title">
            <ng-content select="[title]"></ng-content>
        </div>
        <div class="icon">
            <i class="material-icons expand_more_icon" [style.transform]="'rotate('+(this.collapse?0:180)+'deg)'" [ngStyle]="{'opacity': 1}">expand_more</i>
        </div>
    </div>
    <div class="body" [style.padding]="this.collapse?'0px':'5px'" [@expandable]="(this.collapse?'collapse':'expand')">
        <ng-content select="[content]"></ng-content>
    </div>
</div>
