.header{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    .title{
        align-self: center;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .expand_more_icon{
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
            font-size: 30px;
            user-select: none;
        }
    }
}

.body{
    overflow: hidden;
}