.header{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    z-index: 1;
    position: relative;
    .title{
        align-self: center;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .expand_more_icon{
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
            font-size: 30px;
            user-select: none;
        }
    }
}

.body{
    margin-top: -5px;
    overflow: hidden;
    border: 2px solid rgb(91,189,147);
    z-index: 0;
    position: relative;
    border-radius:0px 0px 5px 5px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}