.add_button_container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  cursor: pointer;
  .add_button_content {
    transition: all ease 0.3s;
    &.primary {
      background-color: #4fb852;
      i {
        color: #4fb852;
      }
      &:hover {
        background-color: #5cc560;
      }
    }
    &.secondary {
      background-color: #6e96fbc7;
      i {
        color: #6e95fb;
      }
      &:hover {
        background-color: #6e96fbec;
      }
    }

    // padding: 10px;
    border-radius: 20px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    &:hover {
      transition: all ease 0.3s;

      .name {
        padding-right: 20px;
        transition: all ease 0.3s;
        color: white;
      }
    }

    .name {
      transition: all ease 0.3s;
      margin-left: 10px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      color: white;
      padding-left: 10px;
      font-size: 1.1em;
    }
    .icon_container {
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 20px 5px 20px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
