<!-- <div class="custom_breadcrumb">
    <span class="items animate__animated animate__fadeInDown" *ngFor="let section of sectionsList; let i = index">
    <span [ngStyle]="{'color': i==0?'#ffffffa6':'white','cursor':i==0?'default':'pointer'}">{{section.routeName}}</span> 
    <span *ngIf="i < sectionsList.length-1" class="material-icons">chevron_right</span></span>
</div>
<br> -->
<div class="custom_breadcrumb">
    <div class="items animate__animated animate__fadeInDown" *ngFor="let section of sectionsData; let i = index">
        <div class="text" [ngStyle]="{'color': i==0?'#ffffffa6':'white','cursor':i==0?'default':'pointer'}">{{section.name}}</div>
        <span *ngIf="i < sectionsData?.length-1" class="material-icons">chevron_right</span>
    </div>
</div>
