<h1 mat-dialog-title class="background-color-primary-3"> {{tabNumber==0?'Manage access to the this initiative':'Manage access general'}}
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="botton_close" mat-dialog-close>cancel</mat-icon>
</h1>
<div class="dialog_cont">

    <div class="custom-container-dialog">

        <mat-tab-group [(selectedIndex)]="tabNumber">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon style="margin-right: 8px;" class="tab-icon">person_add</mat-icon>
                    Assign coordinators
                </ng-template>


                <!-- <br> -->
                <div class="custom-container-dialog">
                    <br>
                    <div class="row" style="margin: 0px 50px;">

 
                        <div class="col-sm-12" *ngIf="showForm">

                            <ibdc-select-multiple [options]="{
                                required:false,
                                inputTitle:'Please select users to enable access to this initiative and assign each users a role',
                                selectItemName:'firstN_lastN_email',
                                selectList: this._maVariablesService.allUsers,
                                selectItemId:'userId',
                                frontendSearchAttribute:'firstN_lastN_email',
                                readOnlyVariable: this._initiativesService.initiative.readonly,
                                hideSavedList: true,
                                savedList:{
                                    list:this.selectedUsers,
                                    selectItemId:'userId',
                                    selectItemName:'firstN_lastN_email',
                                    idToSave:'id',
                                    labelName:'regions'
                                }}">
                            </ibdc-select-multiple>
                              
                               <!-- <ibdc-select-multiple [options]="{
                                required:false,
                                inputTitle:'Please select users to enable access to this initiative and assign each users a role',
                                selectItemName:'firstN_lastN_email',
                                selectItemId:'userId',
                                frontendSearchAttribute:'firstN_lastN_email',
                                readOnlyVariable: this.initiativesSvc.initiative.readonly,
                                hideSavedList: true,
                                savedList:{
                                    list:this.selectedUsers,
                                    selectItemId:'userId',
                                    selectItemName:'firstN_lastN_email',
                                    idToSave:'id',
                                    labelName:'regions'
                                },
                                service:{
                                    serviceTS:this.initiativesSvc,
                                    functionName:'getAllUsers',
                                    objectName:['response','users']
                                }
                               }"></ibdc-select-multiple> -->

                        </div>
                        <!-- <div class="col-12">
                            <ibdc-alert [options]="{htmlText: 'Please assign role if you want to keep the users assigned to this initiative', type:'info'}"></ibdc-alert>
                        </div> -->
                        <div class="col-sm-12">
                            <h2 class="color-secondary">Users with editing access to this initiative.</h2>
                            

                            <app-ma-user-card-list (onSelectOptionEvent)="validate_repeat_leads()" [roles]="allRoles" [users]="selectedUsers"></app-ma-user-card-list>


                            <!-- <div class="scroll_container">


                                <br><br>
                                <mat-accordion class="example-headers-align" *ngIf="rolesLoaded && usersLoaded">
                                    <app-edit-rol-user *ngFor="let user of selectedUsers" [user]="user" [roles]="allRoles" [activeWithUserId]="4"  initiativeId (reload)="getUsersByInitiative()"></app-edit-rol-user>
                                </mat-accordion>

                            </div> -->
                        </div>
                        <div class="col-sm-12">
                            <div class="update_roles_button_container">
                                <button [disabled]="this.updateRolesButtonDisabled" (click)="assignRolesOrUpdate()" pButton pRipple  class="update_roles_button p-button-success">
                                    Update roles
                                </button>
                            </div>
                            <br><br><br><br>
                        </div>
                    </div>

                </div>




            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon style="margin-right: 8px;" class="tab-icon">add_circle_outline</mat-icon>
                    Register users
                </ng-template>


                <app-create-users [allRoles]="allRoles" (firstTab)="firstTab();" (realoadRoles)="reloadSelectRoleComp()"></app-create-users>

            </mat-tab>
        </mat-tab-group>
    </div>

</div>


<!-- 
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="addCoordinator()"><mat-icon>person_add</mat-icon><strong>Add coordinator</strong></button>
  <button mat-button><mat-icon>add_circle_outline</mat-icon><strong>Create coordinator</strong></button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Close</button>
</div>
 -->