<h2 mat-dialog-title>Year mapping</h2>
<mat-dialog-content>
    <p class="description-field"><i>Please indicate a range of the target values for this indicator</i></p>
    <form [formGroup]="_requests.projectionBenefitsRangeCs">
        <div formArrayName="range">
            <div class="projection-container" *ngFor="let r of _requests.range.controls; index as i">
                <div class="range" [formGroupName]="i">
                    <mat-form-field>
                        <p><strong>Select year: </strong><span class="asterisk">* </span></p>
                        <mat-select formControlName="year">
                            <mat-option value="1">2021</mat-option>
                            <mat-option value="2">2022</mat-option>
                            <mat-option value="3">2023</mat-option>
                            <mat-option value="4">2024</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <p><strong>Low scenario (number): </strong><span class="asterisk">* </span></p>
                        <input type="number" matInput required formControlName="low" />
                    </mat-form-field>
                    <mat-form-field>
                        <p><strong> High scenario (number): </strong><span class="asterisk">* </span></p>
                        <input type="number" matInput required formControlName="high" />
                    </mat-form-field>
                    <div class="remove-range">
                        <mat-icon (click)="_requests.removeRangeProjection(i)">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="add-range">
        <button type="submit" mat-raised-button class="add-range-button" (click)="_requests.addRange()">
            add ranges and years
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="close" mat-button mat-dialog-close>close</button>
    <button class="save" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="_requests.saveIndicators()">save</button>
</mat-dialog-actions>