<h2 mat-dialog-title class="background-color-primary">Year mapping</h2>
<mat-dialog-content>
    <p class="description-field"><i>Please indicate a range of the target values for this indicator</i></p>
    <app-projection-time-frame [data]="item" *ngFor="let item of timeFrames"></app-projection-time-frame>
    <div class="add-range">
        <button type="submit" mat-raised-button color="primary" >
            add ranges and years
        </button>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="close" mat-button mat-dialog-close>close</button>
    <button class="save" mat-button [mat-dialog-close]="true" cdkFocusInitial >save</button>
</mat-dialog-actions>