<section-title name="Innovations"></section-title>
<div class="section-container animate__animated animate__fadeIn">
    
    <ibdc-alert [options]="{text: 'List five key Innovations that the Initiative expects to develop and/or scale with partners during the period 2022-2024. Formulate Innovations as tangible ‘things’ (a product, a technology, a service, a business strategy or public policy strategy) that can be assessed for its stage of development and use.', type:'info'}">
    </ibdc-alert>

    <div class="innovations-list">
        <div class="innovations" *ngFor="let innovation of this.innovationsList; let i=index" >
            
            <ibdc-text-area-field 
                [inputRequired]="i==0?true:false"
                inputTitle="innovation {{i+1}}"
                [objectItem]="innovation" 
                [objectAtributteName]="'value'">
            </ibdc-text-area-field>
            <app-button-edit-or-delete (click)="removeInnovation(innovation)" [ngCustomStyle]="{'border-top-right-radius':'7px','margin':'3px 3px 0px 0px'}" margin="4" type="delete" (action)="deleteCurrentWP()"></app-button-edit-or-delete>

        </div>

        <br>
        <app-add-button *ngIf="this.innovationsList.length < 5" name="Add innovation" (click)="addInnovation()"></app-add-button>

    </div>

</div>

<div (click)="saveSection()">
    <ibdc-save-button
        [options]="{readOnlyVariable: this._initiativesService.initiative.readonly, remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}">
    </ibdc-save-button>
</div>