.container {
    padding: 0 3rem;
}

.menu-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.8em;
    font-weight: bold;
    padding: 1rem 0;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

mat-panel-title {
    font-weight: bold;
}

.menu-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 16em;
}

.list-option {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 4px 0;
    cursor: pointer;
}

.isActive {
    color: #fff;
}

p:hover {
    background: #0779a4;
    color: #fff;
}

mat-list-item {
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    button {
        position: absolute;
        right: 0;
    }
    button.valid {
        color: #4caf50;
    }
    button.invalid {
        color: #c5c5c5;
    }
}

mat-list-item:focus {
    outline: none;
}

.add-container {
    display: flex;
}

.add-button {
    background-color: #6aa84f;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-size: 1.2em;
    margin: 1rem 0;
}

.add-button:hover {
    background-color: #7bc45d;
}

.menu_items:hover{
    background-color: rgb(224, 224, 224);
  }

// mat-expansion-panel{
//     background: rgb(73,82,81);
//     background: linear-gradient(139deg, rgba(73,82,81,1) 0%, rgba(58,63,69,1) 35%, rgba(49,52,57,1) 100%);
//     mat-panel-title{
//         color: rgb(241, 241, 241);
//     }
//     mat-list {
//         mat-list-item{
//             color: rgb(207, 207, 207);

//         }
//     }

// }
// .mat-expansion-panel:hover  .mat-expansion-indicator::after,
// .mat-expansion-panel:focus  .mat-expansion-indicator::after{
//   color: yellow;
// }

// .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
//     color: white !important;
// }

// ::ng-deep .specific-class > .mat-expansion-indicator:after {
//     color: white;
//   }