.not_impact_areas {
    // text-align: center;
    display: flex;
    justify-content: center;
    p {
        background-color: #ffffffef;
        padding: 4px 15px;
        width: auto;
        border-radius: 20px;
        color: rgb(56, 56, 56);
    }
}
.mat-expansion-indicator {
    color: white !important;
}
.boxs {
    width: 100px;
    background-color: cyan;
}

@media only screen and (max-width: 1300px) {
    .right_container {
        padding: 5px 10px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1300px) {
    .right_container {
        padding: 10px 40px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1550px) {
    .right_container {
        padding: 10px 40px 0px;
    }
}

.menu {
    width: 400px;
    max-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
    color: white;
    background-color: var(--ibdc-black-1);
    padding: 8px 0px 8px 8px;
    .menu-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.5em;
        font-weight: bold;
        padding: 1rem 0;
    }
    .menu_content{
        overflow-y: scroll;
        padding-bottom: 100px;
        height: calc(100% - 110px);
        border-bottom: 3px solid #2b2b2b;
    }
    .stages {
        height: auto;
        border: red 1px solid;
        .stage_item {
            cursor: pointer;
            // padding: 5px 10px;
            border-radius: 8px;
            // height: 0px;
            background-color: red;
            &:hover {
                background-color: gray;
                // height: 100%;
                .sections {
                    height: 100px;
                }
            }
        }
    }

    .sections {
        // height: 0px;
        max-height: 0;
        transition: max-height cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s !important;
        // transition: all ease .3s;
        overflow: hidden;
        .section_title {
            font-weight: 700;
            position: relative;
            margin-bottom: 20px;
            .number {
                position: absolute;
                top: -5px;
                left: -40px;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                border: 2.9px white solid;
                // display: flex;
                text-align: center;
                vertical-align: middle;
                padding-top: 2px;
            }
        }
    }

    // .subSections{
    //     height: 0px;
    //     overflow: hidden;
    //     .subSection_title{
    //         margin-left: 10px;
    //         font-weight: 400;
    //     }
    // }
}

/* width */
.menu_content::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
}

/* Track */
.menu_content::-webkit-scrollbar-track {
    background: #00000063;
    border-radius: 30px;
}

/* Handle */
.menu_content::-webkit-scrollbar-thumb {
    background: #818181b4;
    border-radius: 30px;
}

/* Handle on hover */
.menu_content::-webkit-scrollbar-thumb:hover {
    background: #818181b4;
    border-radius: 30px;
}

///////////////////////////

.container {
    padding: 0 3rem;
}



.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.stage_title {
    font-size: 1.1em !important;
}
.stage__section_title {
    font-weight: 500;
    color: #727272;
}
mat-panel-title {
    font-weight: bold;
}

.menu-options {
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 16em;
}

.list-option {
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 4px 0;
    cursor: pointer;
}

.isActive {
    color: #fff !important;
    .stage__section_title {
        color: #fff !important;
    }
}

p:hover {
    color: #fff;
}

mat-list-item {
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    button {
        position: absolute;
        right: 0;
    }
}

button.valid {
    color: #4caf50;
}
button.invalid {
    color: #c5c5c5;
}

mat-list-item:focus {
    outline: none;
}

.add-container {
    display: flex;
}

.add-button {
    background-color: #6aa84f;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-size: 1.2em;
    margin: 1rem 0;
}

.add-button:hover {
    background-color: #7bc45d;
}

.menu_items {
    transition: all 0.3s ease-in-out;
}

.menu_items:hover {
    background-color: #e0e0e0;
}

.diasbled_text {
    color: rgb(196, 196, 196);
}

.mat-icon-no-color {
    position: relative;
}
.mat-icon-no-color_new {
    position: absolute;
    right: 0;
    top: 0;
}

.icon_under_construction {
    position: absolute;
    right: 0;
    margin-right: 50px;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}

.section_container {
    $y: 0px;
    $x: 0px;
    $blur: 7px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: inset $x $y $blur #dddddd, inset $x $y $blur #dddddd;
    margin: 0px 10px;
}

.disabledActions {
    pointer-events: none;
    cursor: default;
}

.to_Hover_color:hover {
    transition: all 0.2s ease-in-out;
    // background-color: rgb(216, 228, 250) !important;
}

.subSections_color {
    color: rgb(100, 100, 100) !important;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.statuses-container {
    margin-top: 5%;
    // .status-card {
    //     background-color: #00000063 !important;
    // }
    .status-card.clicked{
        border: ridge #9292f3;
    }
    .status-card {
        background: #ffffff;
        color: #495057;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        border-radius: 3px;
        padding: 1rem;
        display: flex;
        margin-bottom: 5px;
        cursor: pointer;
        h2, h4 {
            margin-bottom: 0;
        }
        .editing{
            background-color: yellow;
        }
        .on_hold{
            background-color: blue;
        }
        .submitted{
            background-color: orange;
        }
        .approved{
            background-color: green;
        }
        
        .icon-container {
            width: 15vh;
            height: 15vh;
            border-radius: 50%;
            margin-right: 5vh;
            span {
                font-size: 10vh;
                color: #dddddd;
            }
        }
        .description-container {
            width: fit-content;
        }
    }
}
