    <div  class="menu">
         <!-- stages list -->
        <div  class="stage" *ngFor="let stage of this._dataControlService.userMenu;" [hidden]="stage.stageId == 2">
            <div class="stage-title" [ngClass]="{'activeSection': activeClassByRoute([stage.description])}" (click)="toggleExpand(sectionsList)">
                <span>{{stage.description}}</span>
            </div>
            <div #sectionsList class="stage-sections" [ngClass]="{'expandIbd': activeClassByRoute([stage.description]),'collapseIbd': !activeClassByRoute([stage.description])}" [@expandable]="sectionsList.classList.contains('collapseIbd')?'collapse':'expand'">
                <br>
                <!-- sections list -->
                <div class="stage-section" *ngFor="let section of stage.sections; let i = index">
                    <div class="number-and-title-container" [ngClass]="{'activeSection': activeClassByRoute([stage.description,section.description]),'noActiveSection': !activeClassByRoute([stage.description,section.description])}" 
                        (click)="toggleExpand(subSectionsList);menuNavigation(section.active,stage.description,section.description,true,section.subsections)">
                        <div class="number">{{i+1}}</div>
                        <span class="stage-section-title" [ngStyle]="{'margin-right':'2em'}" >{{section.display_name}}</span>
                        <div class="status_icons">
                            <span [style.color]="section.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'" class="material-icons-outlined material-icons" *ngIf="section.visible">verified</span>
                            <img *ngIf="!section.visible" class="icon-under-contruction" src="/assets/images/under-construction.png" alt="" srcset="">
                        </div>

                    </div>
                    <div #subSectionsList  class="sub-sections" [ngClass]="{'expandIbd': activeClassByRoute([section.description]),'collapseIbd': !activeClassByRoute([section.description])}" [@expandable]="subSectionsList.classList.contains('collapseIbd')?'collapse':'expand'">
                        <!-- sub sections list -->
                        <div class="sub-section-container" *ngFor="let subSection of section.subsections" [hidden]="subSection.block == true">
                            <div class=" {{subSection.dynamicList?'sub-section-with-dynamicList':'sub-section'}}"  (click)="menuNavigation(subSection.active,stage.description,section.description,false,subSection.description)">
                                <span class="subsection-title" [ngClass]="{'activeSection': activeClassByRoute([subSection.description])}">{{subSection.display_name}}</span>
                                <div class="status_icons">
                                    <span style="margin-right: 8px;" [style.color]="subSection.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'" class="material-icons-outlined material-icons" *ngIf="subSection.visible && (subSection.subSectionId != 12)">check_circle</span>
                                    <img style="margin-right: 8px;" *ngIf="!subSection.visible" class="icon-under-contruction" src="/assets/images/under-construction.png" alt="" srcset="">
                                </div>
                            </div>
                            <div class="dynamicList_block_container" *ngIf="subSection.dynamicList  || subSection.dynamicListSubSection">
                                <div class="left_line"></div>
                                <div *ngIf="subSection.dynamicList">
                                    <div class="dynamicListButton order_first" *ngFor="let item of sortAlphabetically(subSection?.dynamicList)" (click)="dynamicListNavigation(item.id,stage.description,section.description,item.frontRoute)">
                                        <div class="dynamicListButton_texts">
                                          <div class="point"></div>
                                          <span [ngClass]="{'activeSection_dynamicList': item.activeSection}">{{item.showName||'(Unnamed)'}}</span>
                                        </div>
                                        <span style="margin-right: 8px;" [style.color]="item.fieldsCompleted || item.validateWP?'#469e49':'#a8a8a8'" class="material-icons-outlined material-icons">assignment_turned_in</span>
                                    </div>
                                </div>

                                <!-- <div *ngIf="subSection.subSectionId === 16" style="border-top: 1px solid white; width: 90%; margin-bottom: 5px;"></div> -->
                                <div *ngIf="subSection.subSectionId === 16" class="dynamicListButton order_second" [routerLink]="partnersNotRelatedRoute()" routerLinkActive="activeSection">
                                    <div class="dynamicListButton_texts" >
                                        <div class="point"></div>
                                        <span>{{'Partners not related to any Impact Area'||'(Unnamed)'}}</span>
                                    </div>
                                    <!-- <span style="margin-right: 8px;" [style.color]="true?'var(--ibdc-secondary-color)':'#d3d3d3'" class="material-icons-outlined material-icons">assignment_turned_in</span> -->
                                </div>
                                <!-- <div *ngIf="subSection.subSectionId === 16" routerLink="/initiatives/2/stages/full-proposal/impact-statements/impact-areas/partners-no-impact-area" class="not_impact_areas"><p>Partners not related to any Impact Area</p> </div> -->
                                <div *ngIf="subSection.dynamicListSubSection">
                                    <div *ngFor="let item of subSection.dynamicListSubSection" class="dynamicListButton order_second" [routerLink]="dynamicListSubSectionNavigation(stage.description,section.description,item.frontRoute)" routerLinkActive="activeSection">
                                        <div class="dynamicListButton_texts" >
                                            <div class="point"></div>
                                            <span>{{item.showName||'(Unnamed)'}}</span>
                                        </div>
                                        <!-- <span style="margin-right: 8px;" [style.color]="true?'var(--ibdc-secondary-color)':'#d3d3d3'" class="material-icons-outlined material-icons">assignment_turned_in</span> -->
                                    </div>
                                </div>

                                <div *ngIf="subSection.previewButton"
                                      class="dynamicListPreviewButton preview" 
                                      [routerLink]="dynamicListSubSectionNavigation(stage.description,section.description,subSection.previewButton.frontRoute)" routerLinkActive="activeSection" >
                                    <div class="dynamicListButton_texts" >
                                        <div class="point"></div>
                                        <span>{{subSection.previewButton.showName||'(Unnamed)'}}</span>
                                    </div>
                                    <span style="margin-right: 8px;" [style.color]="'#a8a8a8'" class="material-icons-outlined material-icons">analytics</span>
                                </div>

                           
                           
                            </div>

                            <!-- <p *ngFor="let item of subSection.dynamicListSubSection">********** {{item.showName}} **********</p> -->

                    </div>
                    
                </div>
            </div>
        </div>
    
        <div class="submitButtonInitiative">
            <button pButton type="button" label="Submit initiative" class="p-button-rounded p-button-success" disabled="true"></button>
        </div>

    </div>


















    <mat-accordion style="position: fixed; right: 0; width: 400px; z-index: 100; top: 0;" *ngIf="false">
        <mat-expansion-panel [expanded]="stage.active == true" *ngFor="let stage of stages;" [disabled]="stage.active == false">
            <mat-expansion-panel-header>
                <mat-panel-title >
                    <span class="stage_title">{{stage.description}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>




            <span *ngIf="currentStageName == 'concept'">
                <mat-list class="menu-options row" *ngFor="let meta of stage.grouped">
                    <mat-list-item class="menu_items" routerLinkActive="isActive background-color-primary-3" [routerLink]="this.parseStageUrl(stage,meta.title)" >
                        <span  class="stage__section_title">{{meta.title}}</span>
                        <button mat-icon-button class="mat-icon-no-color"
                            [ngClass]="{'valid': validateSubMenuForm(stage.description, meta.title) === 'VALID','invalid': validateSubMenuForm(stage.description, meta.title) != 'VALID'}"
                            aria-label="Verified icon">
                            <mat-icon>verified</mat-icon>
                            <img class="icon_under_construction" *ngIf="validate_under_construction(meta.title)" src="/assets/images/under-construction.png" alt="" srcset="">
                        </button>
                    </mat-list-item>
                <div [ngClass]="{'section_container':  meta.title == 'Work Packages'}">
    
    
                    <div *ngIf="meta.title == 'Work Packages'&& this.workPackagesList.length >0">
                        <mat-list-item *ngFor="let item of   this.workPackagesList; let i = index" class="menu_items" (click)="goToWp(item.id)"  routerLinkActive="isActive background-color-primary-3" routerLink="`/initiatives/{{this.initiativesSvc.initvStgId}}/stages/concept/work-package/{{item.id}}" routerLinkActive="isActive background-color-primary-3" >
                            <span  class="stage__section_title"> <strong>{{(item.acronym||'unnamed')|uppercase}}</strong></span>
                            <button mat-icon-button class="mat-icon-no-color"
                                [ngClass]="{'valid': validateSubMenuForm(stage.description, meta.title) === 'VALID','invalid': validateSubMenuForm(stage.description, meta.title) != 'VALID'}"
                                aria-label="Verified icon">
                                <mat-icon>verified</mat-icon>
                            </button>
                        </mat-list-item>
                    </div>
    
                </div>
    
            </mat-list>
            </span>
            <mat-accordion  *ngIf="currentStageName != 'concept'">
                <mat-expansion-panel [hideToggle]="!meta.subSections" [disabled]="!meta.subSections" *ngFor="let meta of stage.grouped ">
                    <!-- no subesection -->
                    <mat-expansion-panel-header *ngIf="meta.subSections" class="to_Hover_color" >
                      <mat-panel-title  class="subSections_color" >
                          <span [style.width]="'85%'">{{meta.title}}</span>
                      </mat-panel-title>

                      <button mat-icon-button style="margin-right: 40px;" class="mat-icon-no-color_new"
                      [ngClass]="{'valid': validateSubMenuForm(stage.description, meta.title) === 'VALID','invalid': validateSubMenuForm(stage.description, meta.title) != 'VALID'}"
                      aria-label="Verified icon">
                      <mat-icon>verified</mat-icon>
                      <img class="icon_under_construction" *ngIf="validate_under_construction(meta.title)" src="/assets/images/under-construction.png" alt="" srcset="">
                      </button>
                      
                    </mat-expansion-panel-header>
                    <!-- have subsections -->
                    <mat-expansion-panel-header *ngIf="!meta.subSections" class="to_Hover_color" routerLinkActive="isActive background-color-primary-3" [routerLink]="'/initiatives/'+this.initiativesSvc.initiative.id+'/stages/full-proposal/'+meta.route">
                      <mat-panel-title  class="subSections_color" >
                        <span [style.width]="'85%'">{{meta.title}}</span>
                      </mat-panel-title>

                      <button mat-icon-button class="mat-icon-no-color_new"
                      [ngClass]="{'valid': validateSubMenuForm(stage.description, meta.title) === 'VALID','invalid': validateSubMenuForm(stage.description, meta.title) != 'VALID'}"
                      aria-label="Verified icon">
                      <mat-icon>verified</mat-icon>
                      <img class="icon_under_construction" *ngIf="validate_under_construction(meta.title)" src="/assets/images/under-construction.png" alt="" srcset="">
                      </button>


                    </mat-expansion-panel-header>

                    <mat-selection-list #shoes [multiple]="false" *ngIf="meta.subSections">
                        <mat-list-option *ngFor="let subSection of meta.subSections" [value]="subSection.title"  routerLinkActive="isActive background-color-primary-3" [routerLink]="'/initiatives/'+this.initiativesSvc.initvStgId+'/stages/full-proposal/'+subSection.route">
                          <span style="width: 80%;">{{subSection.title}}</span>
                          
                      <button mat-icon-button class="mat-icon-no-color_new"
                      [ngClass]="{'valid': validateSubMenuForm(stage.description, meta.title) === 'VALID','invalid': validateSubMenuForm(stage.description, meta.title) != 'VALID'}"
                      aria-label="Verified icon">
                      <mat-icon>verified</mat-icon>
                      <img class="icon_under_construction" *ngIf="validate_under_construction(subSection.title)" src="/assets/images/under-construction.png" alt="" srcset="">
                      </button>

                        </mat-list-option>
                      </mat-selection-list>
                  </mat-expansion-panel>
            </mat-accordion>
            














           










        </mat-expansion-panel>
    </mat-accordion>
