<div class="custom_card" #indicatorBlock>
    <div class="top_bar">
        {{getIndicatorName(indicatorsListPOBSavediItem?.impactAreaIndicator) || ''}}
    </div>
    
    <app-button-edit-or-delete *ngIf="!this._initiativesService.initiative.readonly" [ngCustomStyle]="{'margin-top':'40px'}" type="delete" (action)="removeindicatorBlock(index,indicatorsListPOBSavediItem,indicatorBlock)" [confirmDeleteModal]="true"></app-button-edit-or-delete>
 
    <br>
    <div class="row">
        <div class="col-6">
            <ibdc-select-ngmodel-no-repeat [options]="
            {
             required:true,
             inputTitle:'Choose a breadth indicator '+(index+1),
             item: getIndicatorItem(indicatorsListPOBSavediItem),   
             itemName:'impactAreaIndicatorName',
             selectList: this.indicatorsList,
             itemId:'impactAreaIndicator',
             frontendSearchAttribute:'impactAreaIndicatorName',
             readOnlyVariable: this._initiativesService.initiative.readonly
            }"></ibdc-select-ngmodel-no-repeat>
        </div>
        <div class="col-6 center_metadata">
            <div class="metada_data_box">
                <p><span class="metadata-title">Target  year:</span> {{getIndicatorMetaData(indicatorsListPOBSavediItem.impactAreaIndicator)?.targetYear || 'Not defined'}}</p>
                <p><span class="metadata-title">Unit:</span> {{getIndicatorMetaData(indicatorsListPOBSavediItem.impactAreaIndicator)?.targetUnit || 'Not defined'}}</p>
                <p><span class="metadata-title">Overall target value:</span> {{getIndicatorMetaData(indicatorsListPOBSavediItem.impactAreaIndicator)?.value || 'Not defined'}}</p>
            </div>
        </div>
        <div class="col-12" *ngIf="showDepthScale && this.pobImpactAreaForm.value.impactAreaIndicator">
            <!-- <ibdc-select [options]="
            {
             required:true,
             inputTitle:'Choose a depth scale',
             form:pobImpactAreaForm,
             formControlId:'depthScaleId',
             formControlName:'depthScaleName',
             selectItemName:'depthScaleName',
             selectItemId:'depthScaleId',
             frontendSearchAttribute:'depthScaleName',
             readOnlyVariable: this._initiativesService.initiative.readonly,
             selectList: this.depthScalesList
            }">
            ></ibdc-select> -->

            <ibdc-select-multiple [options]="{
                inputTitle:'Choose multiple depth scale',
                selectList: this.depthScalesList,
                selectItemName:'depthScaleName',
                selectItemId:'depthScaleId',
                hideSavedList: true,
                shadow: false,
                frontendSearchAttribute:'acronym_name',
                readOnlyVariable: this._initiativesService.initiative.readonly,
                savedList:{
                    list: this.indicatorsListPOBSavediItem.depthScaleList,
                    selectItemId:'depthScaleId',
                    selectItemName:'depthScaleName',
                    idToSave:'depthScaleId',
                    labelName:'depthScaleName'
                }
            }"></ibdc-select-multiple>

            <div *ngFor="let depthScaleItem of this.indicatorsListPOBSavediItem.depthScaleList">
                <app-multiple-select-item 
                [object]="depthScaleItem"
                [attr]="'name'"
                ></app-multiple-select-item>
            </div>
            
        </div>
    </div>
    <hr *ngIf="showDimensions && (this.pobImpactAreaForm.value.depthScaleId !== 4 && this.pobImpactAreaForm.value.depthScaleId)">
    <!-- showDimensions && this.pobImpactAreaForm.value.depthScaleId !== 4 -->
    <div class="second_form"   *ngIf="showDimensions && (this.pobImpactAreaForm.value.depthScaleId !== 4 && this.pobImpactAreaForm.value.depthScaleId)">
        <br>
        <app-pob-dimension
        [dimensionsList]="dimensionsList"
        [depthDescriptionsList]="depthDescriptionsList"
        [indicatorsList]="indicatorsList"
        [indicatorsListPOBSavediItem]="indicatorsListPOBSavediItem"
        ></app-pob-dimension>
        <br>
    </div>
    <hr>
    <div class="third_form " >
        <app-pob-narrative [pobImpactAreaForm]="pobImpactAreaForm"></app-pob-narrative>
    </div>
</div>
<br>

