<div class="local_container" [style.backgroundColor]="index % 2 == 0 ? 'white' : 'rgb(244 245 245)'">

    <div class="row-category">
       <ibdc-select-field
          [readOnlyVariable]="this._initiativesService.initiative.readonly"
          [objectItem]="this.initiativeTeamItem"  [objectAtributteName]="'category'" selectableListAtributteName = 'categoryName'
          [selectableList]="[{id:1,categoryName:'Research'},{id:2,categoryName:'Research support'}]"
        ></ibdc-select-field>
    </div>
    <div class="row-area_expertise">
        <ibdc-input-field [readOnlyVariable]="this._initiativesService.initiative.readonly" [objectItem]="this.initiativeTeamItem"  [objectAtributteName]="'area_expertise'"></ibdc-input-field>
    </div>
    <div class="row-key_accountabilities">
        <!-- <ibdc-input-field [readOnlyVariable]="this._initiativesService.initiative.readonly" [objectItem]="this.initiativeTeamItem"  [objectAtributteName]="'key_accountabilities'"></ibdc-input-field> -->
        <textarea *ngIf="!this._initiativesService.initiative.readonly" [(ngModel)]="this.initiativeTeamItem['key_accountabilities']" rows="2"></textarea>
        <p *ngIf="this._initiativesService.initiative.readonly">{{this.initiativeTeamItem['key_accountabilities']}}</p>
    </div>

 
    <app-button-edit-or-delete *ngIf="!this._initiativesService.initiative.readonly" type="delete" (action)="deleteCurrentInitiativeTeamItem()"></app-button-edit-or-delete>
   
</div>




