.local_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    position: relative;
    padding: 10px 10px;
    div[class*="row"]{
        color: rgb(78, 78, 78);
    }
}

.row-area_expertise,.row-category{
    padding-right: 15px;
}

textarea{
    border: 1px solid #e4e4e4;
    color: #474747;
    line-height: 20px;
    min-height: 40px;
    outline: none;
    padding: 5px 0 5px 5px;
    width: 100%;
}