<section-title name="General information"></section-title>
<div class="section-container animate__animated animate__fadeIn">
    <form [formGroup]="summaryForm" (ngSubmit)="upsertGeneralInfo()" class="general-information-form"
        *ngIf="showForm">
        <div class="row">
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Initiative name', form:summaryForm, formControlName:'name'
                    ,readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1,maxWords:50}">
                </ibdc-textarea>
            </div>

            <div class="col-sm-6" >
                <mat-card>
                    <div class="row icon_cont">
                        <div class="col-sm-6">
                            <ibdc-simple-text [options]="{inputTitle:'Lead name', value:leads.lead_name||'Not available'}"></ibdc-simple-text>
                        </div>
                        <div class="col-sm-4">
                            <ibdc-simple-text [options]="{inputTitle:'Lead email', value:leads.lead_email||'Not available'}"></ibdc-simple-text>
                        </div>
                        <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                        
                    </div>
                </mat-card>
                <br>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-6">
                <mat-card>
                    <div class="row">
                        <div class="col-sm-6">
                            <ibdc-simple-text [options]="{inputTitle:stageName=='proposal'?'Deputy name':'Co-Lead name', value:leads.co_lead_name||'Not available'}"></ibdc-simple-text>
                        </div>
                        <div class="col-sm-4">
                            <ibdc-simple-text [options]="{inputTitle:stageName=='proposal'?'Deputy email':'Co-Lead email', value:leads.co_lead_email||'Not available'}"></ibdc-simple-text>
                        </div>
                        <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Co-Lead')" type="button" mat-icon-button color="primary" class="floating_icon" aria-label="Example icon button with a home icon">
                            <mat-icon >edit</mat-icon>
                        </button>
                    </div>
                </mat-card>
                <br>
            </div>
            <div class="col-sm-12"></div>
            <!-- <div class="col-sm-12" *ngIf="showFormActionArea">

                <ibdc-select [options]="
            {
             required:true,
             inputTitle:'Primary CGIAR Action Area',
             form:summaryForm,
             formControlId:'action_area_id',
             description:'Indicate to which CGIAR Action Area this initiative is contributing to',
             selectList:this.actionAreas,
             selectItemName:'index_name',
             selectItemId:'id',
             readOnlyVariable: this._initiativesService.initiative.readonly
            }">
                    ></ibdc-select>

            </div> -->
            <div class="col-sm-6">
                <ibdc-select [options]="
                {
                 required:true,
                 inputTitle:'Primary CGIAR Action Area',
                 form:summaryForm,
                 formControlId:'action_area_id',
                 selectItemName:'index_name',
                 selectItemId:'id',
                 frontendSearchAttribute:'index_name',
                 readOnlyVariable: this._initiativesService.initiative.readonly,
                 service:{
                     serviceTS:this._initiativesService,
                     functionName:'getActionAreas'
                 }
                }">
                ></ibdc-select>
            </div>
            <div class="col-sm-6">
                <ibdc-input
                    [options]="{inputTitle:'Budget (USD)', form:summaryForm, formControlName:'budget_value'
                    ,readOnlyVariable: this._initiativesService.initiative.readonly, type:'number'}">
                </ibdc-input>
            </div>
            <!-- <div class="col-sm-6" *ngIf="showBudget">
                <ibdc-textarea
                    [options]="{inputTitle:'Budget (USD)', form:budgetForm, formControlName:'value'
                    ,readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1}">
                </ibdc-textarea>
            </div> -->
            <div class="col-sm-12">
                <app-geographic-scope [localForm]="this.summaryForm" [regionsSelectedList]="this.geographicScope.regions" [countriesSelectedList]="this.geographicScope.countries"></app-geographic-scope>
            </div>

        </div>

        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

        <div class="general-information-save" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{ readOnlyVariable: this._initiativesService.initiative.readonly}" ></ibdc-save-button>
            <!-- [underConstruction] = "_dataControlService.general_information.secondLeadEmail == 'Deputy email' " -->
        </div>
    </form>
    <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='general-information'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>
</div>
