.general-information-full-width {
    width: 100%;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.asterisk {
    color: #ff0000;
}

.readonly_text,.readonly_text_title{
    margin: 0;
}

mat-form-field{
    width: 100%;
}

.autocomplete-item {
    height: 50px;
    font-size: 1em;
}
  