
<span [ngSwitch]="true">


    <div *ngSwitchCase="true">
        <div class="general_file_container">

            <div class="row">
                <div class="col-4">
                    <p class="readonly_text_title"><strong class="color-secondary">{{options.inputTitle}}: </strong><span
                        class="asterisk">* </span></p>
                    <p class="readonly_text">{{options.description}}</p>
                    <div class="upload-container" *ngIf="!this._initiativesService.initiative.readonly">
                        <mat-icon color="accent">cloud_upload</mat-icon>
                        Click here to choose a file or drag it here
                        <input class="nonstylefile" #attachments type="file" required (change)="onSelectFiles($event)" #fileInput
                            multiple="true">
                    </div>
    
    
                </div>
                <div class="col-8">
                    <div class="files_list_container_scroll">
                        <mat-list>
                            <!-- <div mat-subheader><strong>Saved files</strong></div> -->
                        <mat-list-item  *ngFor="let file of filesToUpload; let index = index " [hidden]="filesToUpload.length == 0 && !this._initiativesService.initiative.readonly">
                            <mat-icon mat-list-icon>folder</mat-icon>
                            <div mat-line><strong>{{file.name ? file.name : file}}</strong></div>
                            <div mat-line>{{file.updated_at|date}}</div>
                            <button *ngIf="!this._initiativesService.initiative.readonly" type="button" class="delete_icon" (click)="dialogConfirmDeleteTosave(index, filesToUpload)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon color="warn">delete</mat-icon>
                          </button>
                          </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchDefault>

        <p><strong class="color-secondary">{{options.inputTitle}}: </strong><span class="asterisk">* </span></p>
        <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i>
        </p>
        here is de view file
        <br>
        <br>

    </div>
</span>