
@import '~@angular/material/theming';

.general-information-full-width {
    width: 100%;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.asterisk {
    color: #ff0000;
}

.readonly_text,.readonly_text_title{
    margin: 0;
}

mat-form-field{
    width: 100%;
}

.autocomplete-item {
    height: 50px;
    font-size: 1em;
}
  
.general_file_container{
    @include mat-elevation(3);
    border-radius: 10px;
    padding: 30px;
}

.upload-container {

    // background-color: brown;
    width: 100%;
    height: 200px;


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

    flex-direction: column;

    border: 2px dotted #b1b0b0;
    background-color: #FAFAFA;
    .nonstylefile {
        position: absolute;
        text-decoration: none;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

.files_list_container_scroll{
    overflow-y: scroll;
    width: 100%;
    $height: 250px;
    max-height:  $height;
    height:  $height;
    padding: 10px;
    border: 1px solid #014d6663;
    border-radius: 10px 0px 0px 10px;
}


  /* width */
  .files_list_container_scroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
  }
  
  /* Track */
  .files_list_container_scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 30px;
  }
   
  /* Handle */
  .files_list_container_scroll::-webkit-scrollbar-thumb {
    background: #025c7a; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .files_list_container_scroll::-webkit-scrollbar-thumb:hover {
    background: #014d66; 
    border-radius: 30px;
  }

//   .files_list_container_scroll{
//     max-height: 70vh; 
//     overflow: auto;
//   }