<form [formGroup]="workPackageForm" (ngSubmit)="SaveGeneralInformation()" class="narratives-form" *ngIf="showform">
    <br>
    <div class="animate__animated form animate__fadeIn form_animation" *ngIf="showform">
        
        <ibdc-textarea  
        [options]="{form:workPackageForm,formControlName:'acronym',inputTitle:'Short name'}">
        </ibdc-textarea>

        <ibdc-textarea  
        [options]="{form:workPackageForm,maxWords:50,formControlName:'name',inputTitle:'Name'}">
        </ibdc-textarea>

        <ibdc-textarea  
        [options]="{form:workPackageForm,maxWords:500,formControlName:'pathwayContent',inputTitle:'Ensure both science/research and innovation/impact pathway content'}">
        </ibdc-textarea>

        <ibdc-textarea  
        [options]="{form:workPackageForm,maxWords:500,formControlName:'results',inputTitle:'Results'}">
        </ibdc-textarea>    
    </div>
    <br>
    <div class="narratives-save">
        <ibdc-save-button [options]="{ readOnlyVariable: this._initiativesService.initiative.readonly}" ></ibdc-save-button>
    </div>
</form>