<section-title name="Initiative team" ></section-title>

<div class="section-container animate__animated animate__fadeIn">


    <form>

        <div class="table_edit">
            
            <div class="te_header">
                <div class="title">category</div>
                <div class="title">Area expertise</div>
                <div class="title">Key accountabilities</div>
            </div>

            <div class="te_content" *ngIf="this.dataLoaded">
                <div *ngFor="let iniItem of this.initiativeTeamData?.initvTeam; let i=index" [hidden]="!iniItem.active">
                    <app-initiative-team-item [initiativeTeamItem]="iniItem" [index]="i" [all]="this.initiativeTeamData?.initvTeam"></app-initiative-team-item>
                </div>
            </div>
            <div class="center_flex addItiativeTeamItem">
                <button pButton type="button" label="Add initiative team item" icon="pi pi-plus-circle"  (click)="addInitiativeTeamItem()"></button>
            </div>
            
        </div>

    </form>

    <div (click)="saveSection()" class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
        <ibdc-save-button
            [options]="{readOnlyVariable: _initiativesService.initiative.readonly, remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}">
        </ibdc-save-button>
    </div>

</div>







<!-- <div class="section-container animate__animated animate__fadeIn">


    <div class="row">
        <div class="col-12">
            <app-section-alerts-pack [extraValidation]="this._dataValidatorsService.validateFilesArray(this.filesList,this.filesSavedList)" ></app-section-alerts-pack>
            <ibdc-alert [options]="{htmlText: this._dataControlService.fileSteps, type:'info'}"></ibdc-alert>
        </div>
        <div class="col-12">
            <br>

            <div class="ibdc_button_template_container">
                <a [href]="this.templatesUrlBase+'/templates/Section 9.1 - Initiative Team - Submission Tool Template.xlsx'"
                    target="_blank" class="ibdc_button_template">
                    Download template
                </a>
            </div>
        </div>
    </div>
    <br>

    <form (ngSubmit)="saveSection()">

        <ibdc-upload-files *ngIf="showForm" [options]="{
            inputTitle:'Provide document(s)',filesList:this.filesList,filesSavedList:this.filesSavedList}">
        </ibdc-upload-files>

        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
        </div>
    </form>


</div> -->