// .general-information-container {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     width: 90%;
//     margin: 1rem auto;
// }
  
.general-information-title {
    font-size: 1.4em;
    padding: 1rem 0;
}
  
.general-information-form {
    width: 100%;
}
    
.general-information-full-width {
    width: 100%;
}


.asterisk {
    color: #ff0000;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}
  
.general-information-save {
    display: flex;
    justify-content: flex-end;
}
  

.icon_cont{
    position: relative;
}

.floating_icon{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
}