<section-title name="General information"></section-title>

<div class="section-container animate__animated animate__fadeIn">
    <app-section-alerts-pack [sectionForm]="summaryForm" [extraValidation]="this._dataValidatorsService.wordCounterIsCorrect(this.summaryForm.get('name').value, 50) && this.validateBudget()"></app-section-alerts-pack>
    <br>
    <div class="sekeletons_load" *ngIf="!showForm">
        <app-general-information-skeleton></app-general-information-skeleton>
    </div>
    <!-- <form [formGroup]="summaryForm" (ngSubmit)="getSummary()" class="general-information-form" -->
        <form [formGroup]="summaryForm" (ngSubmit)="upsertGeneralInfo()" class="general-information-form"
        *ngIf="showForm">
        <div class="row">

            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Initiative name', form:summaryForm, formControlName:'name'
                    ,readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1,maxWords:50}">
                </ibdc-textarea>
            </div>

            <div class="col-sm-12" *ngIf="stageName == 'pre-concept'" >
                <ibdc-textarea
                    [options]="{inputTitle:'Short format', form:summaryForm, formControlName:'shortFormat'
                    ,readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1,maxWords:50}">
                </ibdc-textarea>
            </div>

            <div class="col-12">

                <div class="leads_grid">
                    <div>
                        <mat-card>
                            <div class="lead_content_grid">
                                <div>
                                    <ibdc-simple-text [options]="{inputTitle:'Lead name', value:leads.lead_name||'Not available'}"></ibdc-simple-text>
                                </div>
                                <div>
                                    <ibdc-simple-text [options]="{inputTitle:'Lead email', value:leads.lead_email||'Not available'}"></ibdc-simple-text>
                                </div>
                                <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Lead')" type="button" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                    <mat-icon >edit</mat-icon>
                                </button>
                                
                            </div>
                        </mat-card>
                        <br>
                    </div>
    
                    <div>
                        <mat-card>
                            <div class="lead_content_grid">
                                <div>
                                    <ibdc-simple-text [options]="{inputTitle:stageName=='proposal'?'Deputy name':'Co-Lead name', value:leads.co_lead_name||'Not available'}"></ibdc-simple-text>
                                </div>
                                <div>
                                    <ibdc-simple-text [options]="{inputTitle:stageName=='proposal'?'Deputy email':'Co-Lead email', value:leads.co_lead_email||'Not available'}"></ibdc-simple-text>
                                </div>
                                <button *ngIf="!_initiativesService.initiative.readonly" (click)="openDialog();setExpandWithUserId('Co-Lead')" type="button" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                    <mat-icon >edit</mat-icon>
                                </button>
                            </div>
                        </mat-card>
                        <br>
                    </div>
                </div>

            </div>

     
            <div class="col-sm-12"></div>
            <!-- <div class="col-sm-12" *ngIf="showFormActionArea">

                <ibdc-select [options]="
            {
             required:true,
             inputTitle:'Primary CGIAR Action Area',
             form:summaryForm,
             formControlId:'action_area_id',
             description:'Indicate to which CGIAR Action Area this initiative is contributing to',
             selectList:this.actionAreas,
             selectItemName:'index_name',
             selectItemId:'id',
             readOnlyVariable: this._initiativesService.initiative.readonly
            }">
                    ></ibdc-select>

            </div> -->
            <div class="col-sm-6">
                <ibdc-select [options]="
                {
                 required:true,
                 inputTitle:'Primary CGIAR Action Area',
                 form:summaryForm,
                 formControlId:'action_area_id',
                 selectItemName:'index_name',
                 selectItemId:'id',
                 frontendSearchAttribute:'index_name',
                 readOnlyVariable: this._initiativesService.initiative.readonly,
                 service:{
                     serviceTS:this._initiativesService,
                     functionName:'getActionAreas'
                 }
                }">
                ></ibdc-select>
            </div>
            <div class="col-sm-6" *ngIf="this.stageName != 'pre-concept'">
                <div style="height: 20px;"></div>
                <ibdc-textarea
                [options]="{inputTitle:'Budget (USD)', form:summaryForm, formControlName:'budget_value'
                ,readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1}">
               </ibdc-textarea>
            </div>

            <div class="col-12" *ngIf="stageName != 'pre-concept'">
                <div class="blue_border">
                    <section-sub-title name="Geographic scope summary"></section-sub-title>
                    <div class="local_container">
                        <div class="data_list">
                            <div class="list_name">
                                Regions
                            </div>
                            <div class="full_list">
                                <div [hidden]="!this.regionsList.length" class="element" *ngFor="let item of this.regionsList; let i=index">
                                    {{i+1}}. {{item.name}}
                                </div>
                                <app-text-not-data [hidden]="this.regionsList.length" text="There are not Regions data"></app-text-not-data>
                            </div>
                        </div>
                        <div class="rule"></div>
                        <div class="data_list">
                            <div class="list_name">
                                Countries
                            </div>
                            <div class="full_list">
                                <div [hidden]="!this.countriesList.length" class="element" *ngFor="let item of this.countriesList; let i=index">
                                    {{i+1}}. {{item.name}}
                                </div>
                                <app-text-not-data [hidden]="this.countriesList.length" text="There are not Countries"></app-text-not-data>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

        <div class="general-information-save" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
            <!-- [underConstruction] = "_dataControlService.general_information.secondLeadEmail == 'Deputy email' " -->
        </div>
    </form>
    <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='general-information'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>
</div>
