.read-more-container{
    .all-text{
        position: relative;
        overflow: hidden;
        .local-filter{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100px;
            pointer-events: none;
        }
    }
    .read-more-button{
        cursor: pointer;
        margin-top: 7px;
        background-color: #5cc560;
        text-align: center;
        color: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 500;
        padding: 6px;
        color: white;
        border-radius: 0px 0px 15px 15px;
        transition: all .3s ease-out;

        i{
            transition: all .3s ease-out;
            font-size: 20px;
            transform: rotate(0deg);

        }
    }
}

.rotate-icon{
    background-color: #b6b6b6 !important;
    color: white;
    i{
        transform: rotate(180deg) !important;
    }
}