<div class="information-button">
    <i class="material-icons">info</i>
    <div class="content custom_scroll">
        How to edit toc: <a href="https://www.youtube.com/watch?v=s-h_YFKop9k">https://www.youtube.com/watch?v=s-h_YFKop9k</a>
        <img src="https://cdn.pixabay.com/photo/2020/05/30/10/08/video-conference-5238383_960_720.jpg" alt="" srcset="">
        <img src="https://cdn.pixabay.com/photo/2020/05/30/10/08/video-conference-5238383_960_720.jpg" alt="" srcset="">
        <img src="https://cdn.pixabay.com/photo/2020/05/30/10/08/video-conference-5238383_960_720.jpg" alt="" srcset="">

    </div>
</div>