<div [ngSwitch]="options.readonly">
    <!-- <div *ngSwitchCase="false || null">
    </div> -->

    <div *ngSwitchCase="true">

        <p class="readonly_text_title"><strong class="color-primary">{{options.inputTitle}}: </strong><span class="asterisk">* </span></p>
        <p class="readonly_text">{{options.form.value[options.formControlName]||'Not available'}}</p>
        <br>
    </div>

    <div *ngSwitchDefault>

        <div [ngSwitch]="options.editText">

        <div *ngSwitchCase="true">
            <div class="editText">
            
                <p><strong class="color-primary">{{options.inputTitle}}: </strong><span [hidden]="options.required === false" class="asterisk">* </span></p>
                <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i></p>
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="editor"  [formControl]="textareaInput" (ngModelChange)="setValue()"></ngx-editor>
            <mat-form-field class="general-information-full-width mat-form-field-aux">
                <textarea  type="text"  matInput required [hidden]="true" [hidden]="true" style="position: absolute;"></textarea>
                <mat-hint align="start" *ngIf="options.maxWords"><strong>Max {{options.maxWords}} words</strong> </mat-hint>
                <mat-hint align="end" *ngIf="options.maxWords"><strong><span [style.color]="words <= options.maxWords?'':'red'">{{words}}</span> / {{options.maxWords}}</strong></mat-hint>
            </mat-form-field>
            </div>
            <br>
        </div>

        <div *ngSwitchDefault>
            <mat-form-field class="general-information-full-width">

                <p><strong class="color-primary">{{options.inputTitle}}: </strong><span [hidden]="options.required === false" class="asterisk">* </span></p>
                <p *ngIf="options.description" class="description-field "><i>{{options.description}}</i></p>
                <textarea  type="text" [formControl]="textareaInput" matInput required (ngModelChange)="setValue()" cdkTextareaAutosize></textarea>
                <mat-hint align="start" *ngIf="options.maxWords"><strong>Max {{options.maxWords}} words</strong> </mat-hint>
                <mat-hint align="end" *ngIf="options.maxWords"><strong><span [style.color]="words <= options.maxWords?'':'red'">{{words}}</span> / {{options.maxWords}}</strong></mat-hint>
                
                <mat-error align="start" *ngIf="textareaInput.hasError('maxWords')">
                    <strong>Max {{options.maxWords}} words</strong> 
                </mat-error>
                <mat-error  align="end" *ngIf="textareaInput.hasError('maxWords')">
                    <strong>{{words}} / <span [style.color]="words <= options.maxWords?'':'black'">{{options.maxWords}}</span></strong>
               
                </mat-error>
                <mat-error *ngIf="textareaInput.hasError('required')">
                    The <strong>{{options.inputTitle}}</strong> is required
                </mat-error>
               
            </mat-form-field>
        </div>
        
        </div>
    </div>

</div>




