
<div [formGroup]="formTextarea">




<div [ngSwitch]="options.readonly">
    <!-- <div *ngSwitchCase="false || null">
    </div> -->

    <div *ngSwitchCase="true">

        <p class="readonly_text_title"><strong>{{options.inputTitle}} </strong></p>
        <p class="readonly_text">{{options.form.value[options.formControlName]}}</p>

    </div>

    <div *ngSwitchDefault>

        <mat-form-field class="general-information-full-width">
            <p><strong>{{options.inputTitle}} </strong><span [hidden]="!options.required" class="asterisk">* </span></p>
            <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i></p>
            <input type="text" formControlName="text" matInput required (ngModelChange)="setValue()"/>
        </mat-form-field>

    </div>

    </div>



</div>