<section-title name="Capacity Development" ></section-title>
<form  (ngSubmit)="saveSection()" class="general-information-form">
    <div class="section-container animate__animated animate__fadeIn" >
        <div class="row" *ngIf="showForm">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="secionForm"></app-section-alerts-pack>
            </div>
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Capacity development',readOnlyVariable: this._initiativesService.initiative.readonly, form:secionForm,editText:true, formControlName:'example', maxWords:250,
                    description:'Summary of training-oriented capacity development activities, including for junior staff and external partners. Note that training # 1 – 3 will be funded by CGIAR. Initiatives are not expected to cover training costs for #1 – 3. 1. Confirm Initiative team leaders and managers will complete training on inclusive leadership within 3 months of launch. 2. Confirm that, within 6 months of launch, the Initiative team members will complete training on gender, diversity and inclusion, including on whistleblowing and how to report concerns. 3. Confirm that the Initiative kick-off will include an awareness session on CGIAR’s values, code of conduct and range of learning opportunities available within CGIAR. 4. Note development opportunities available for junior level Initiative team members, partners and stakeholders, for example: Mentorship, Internships/scholarships with representation of emerging professionals from under-represented groups.'}">
                </ibdc-textarea>
            </div>

        </div>
        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>

        </div>
    </div>
    
    
</form>