<div class="narratives-container animate__animated animate__fadeIn">
    <strong class="narratives-title color-primary-3">Narratives</strong>
    <form [formGroup]="narrativesForm" (ngSubmit)="updateNarratives()" class="narratives-form" *ngIf="showForm">

        <ibdc-textarea  
        [options]="{form:narrativesForm,formControlName:'challenge',maxWords:500,inputTitle:'Challenge statement',editText:localEditText,
         description:'Concise statement on the global and regional challenge the Initiative will tackle, and why science/research is needed',
         readOnlyVariable: this.initiativesSvc.initiative.readonly
        }">
        </ibdc-textarea>

        <ibdc-textarea  
        [options]="{form:narrativesForm,formControlName:'objectives',maxWords:500,inputTitle:'Measurable objectives',editText:localEditText,
         description:'Concise, preferably quantitative, objective statement',
         readOnlyVariable: this.initiativesSvc.initiative.readonly
        }">
        </ibdc-textarea>
        
        <ibdc-textarea  
        [options]="{form:narrativesForm,formControlName:'results',maxWords:250,inputTitle:'Results',editText:localEditText,
         description:'Expanding if/where needed on the objective statement, to give intended outcomes relevant to the challenge, plus intended impacts mapped to 5 CGIAR SDG-related Impact Areas'
         ,readOnlyVariable: this.initiativesSvc.initiative.readonly
        }">
        </ibdc-textarea>

        <ibdc-textarea  
        [options]="{form:narrativesForm,formControlName:'highlights',maxWords:250,inputTitle:'Highlights', editText:localEditText,
         description:'Brief note to highlight any significant choices and/or original contribution in terms of challenge, objective, results and/or activities',
         readOnlyVariable: this.initiativesSvc.initiative.readonly
        }">
        </ibdc-textarea>

        <div class="narratives-save">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember:5}"></ibdc-save-button>
        </div>
        <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='narratives'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>
    </form>
</div>



        <!-- <mat-form-field class="narratives-full-width">
            <p><strong>Challenge statement: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Concise statement on the global and regional challenge the Initiative will tackle, and why science/research is needed</i></p>
            <textarea matInput type="text" formControlName="challenge" required  #text cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            <mat-hint align="start"><strong>Max 500 words</strong> </mat-hint>
            <mat-hint align="end"><strong>{{words}} / 500</strong></mat-hint>
        </mat-form-field> -->


        <!-- <mat-form-field class="narratives-full-width">
            <p><strong>Measurable objectives: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Concise, preferably quantitative, objective statement</i></p>
            <textarea matInput type="text" formControlName="objectives" required  #text cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field> -->

        <!-- <mat-form-field class="narratives-full-width">
            <p><strong>Results: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Expanding if/where needed on the objective statement, to give intended outcomes relevant to the challenge, plus intended impacts mapped to 5 CGIAR SDG-related Impact Areas</i></p>
            <textarea matInput type="text" formControlName="results" required  #text cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field> -->

        <!-- <mat-form-field class="narratives-full-width">
            <p><strong>Highlights: </strong><span class="asterisk">* </span></p>
            <p class="description-field"><i>Brief note to highlight any significant choices and/or original contribution in terms of challenge, objective, results and/or activities</i></p>
            <textarea matInput type="text" formControlName="highlights" required  #text cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field> -->