<section-title name="Table B"></section-title>

<div class="section-container animate__animated animate__fadeIn">
    <!-- <ibdc-alert [options]="{htmlText: this.htmlText, type:'info'}"></ibdc-alert> -->
    <div class="center_flex" style="margin: 30px 0;">
        <app-edit-toc-button (click)="this._utilsService.goToEditToc()"></app-edit-toc-button>
    </div>

    <br>
    <div class="box ibd-shadow-2">
        <div class="title">
            Action Area outcomes
        </div>
        <div class="no-data" *ngIf="!tableBData?.action_areas_outcomes_indicators?.length">
            No information
        </div>
        <!-- <div class="result_title">
            <div style="font-size: 11px;"><strong style="margin-right: 5px; font-size: 14px;">Outcome name:</strong>Lorem ipsum</div>
       </div> -->
        <div class="values">
            <div *ngFor="let actionAreasOutcomesIndicator of tableBData?.action_areas_outcomes_indicators" class="value-item box ibd-shadow-1">
                <div><strong>Action area name: </strong>{{actionAreasOutcomesIndicator?.action_area_name}}</div>
                <div class="outcome_statement"><strong>Outcome statement: </strong>{{actionAreasOutcomesIndicator?.outcome_statement}}</div>
                <div class="outcome_indicator_statement"><strong>Outcome indicator statement: </strong>{{actionAreasOutcomesIndicator?.outcome_indicator_statement}}</div>
            </div>
        </div>
    </div>
</div>