<app-navbar></app-navbar>
<p>create-initiative works!</p>
<div class="initiative-container">
    <div class="menu-container">
        <app-menu></app-menu>
        <div class="button-container">
            <button type="submit" (click)="_auth.submitForm()" [disabled]="_auth.generalInformationForm.invalid"
                mat-raised-button class="submit-button">
                Submit
            </button>
        </div>
    </div>

    <mat-card class="card-container">
        <div class="initiative-identification">ID: 1</div>
        <router-outlet></router-outlet>
    </mat-card>


</div>