<section-title name="Top 5 Key Scaling Partner Organizations"></section-title>
<div class="section-container animate__animated animate__fadeIn">
    <ibdc-alert [options]="{text: 'Identify key scaling partner organization types and provide examples/ names of specific partner organizations that you expect could or will play a key role in your Initiative.  Refer to the guidance for definitions and partner typologies.', type:'info'}"> </ibdc-alert>
    <ibdc-select-multiple [options]="{
        hideSavedList: true,
        inputTitle:'Partners',
        description: 'Select top 5 Key Scaling Partner Organizations',
        selectList: [],
        selectItemName:'risks_achieving_impact',
        selectItemId:'idBd',
        frontendSearchAttribute:'risks_achieving_impact',
        readOnlyVariable: false,
        savedList:{
            list: [],
            selectItemId:'idBd',
            selectItemName:'risks_achieving_impact',
            idToSave:'idBd',
            labelName:'regions'
        }
        }"></ibdc-select-multiple>
</div>
