mat-button-toggle-group {
  margin: 0 0 12px 12px;
}

p {
  color: #0779A4;
}

.geographic-scope-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto;
}

.geographic-scope-form {
  margin: 1rem auto;
  width: 100%;
}

.normal-button {
  background-color: #eeeeee;
  text-decoration: none;
  color: #000000;
  margin: 0 0.5rem 0 0;
  outline: none;
}

.yes-button {
  background-color: #7bc45d;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem 0 0;
}

.no-button {
  background-color: #cc0000;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem 0 0;
}

// .yes-button:focus {
//   background-color: #7bc45d;
//   color: #ffffff;
// }



// .no-button {
//   background-color: #eeeeee;
//   text-decoration: none;
//   color: #000000;
//   margin: 0 0 0 0.5rem;
//   outline: none;
// }

// .no-button:focus {
//   background-color: #cc0000;
//   color: #ffffff;
// }
  
.geographic-scope-full-width {
  width: 100%;
}

.geographic-scope-save {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  background-color: #0779A4;
  text-decoration: none;
  color: #fff;
  width: 100px;
}