.general-information-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto;
}

.general-information-title {
  font-size: 1.4em;
  padding: 1rem 0;
}

.general-information-form {
  width: 100%;
}
  
.general-information-full-width {
  width: 100%;
}

.general-information-save {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  text-decoration: none;
  color: #fff;
  width: 100px;
}