<section-title name="Table A" ></section-title>
<app-ia-visual-reference [impactAreId]="this.currentImpactAreaId" ></app-ia-visual-reference>
<div class="section-container animate__animated animate__fadeIn">

    <div class="local_grid">

        <div class="box ibd-shadow-2">
            <div class="title">
                Collective global 2030 targets
            </div>
            <div class="no-data" *ngIf="!tableAData?.globalTargets.length">
                No information
            </div>
            <div class="values">
                <div *ngFor="let globalTarget of tableAData?.globalTargets" class="value-item box ibd-shadow-1">{{globalTarget.target}}</div>
            </div>
        </div>
    
        <div class="box ibd-shadow-2">
            <div class="title">
                Common impact indicators
            </div>
            <div class="no-data" *ngIf="!tableAData?.globalTargets.length">
                No information
            </div>
            <div class="values">
                <div *ngFor="let impactAreasIndicator of tableAData?.impactAreasIndicators" class="value-item box ibd-shadow-1">{{impactAreasIndicator.indicatorStatement}}</div>
            </div>
        </div>
    
        <div class="box ibd-shadow-2">
            <div class="title">
                SDG Targets
            </div>
            <div class="no-data" *ngIf="!tableAData?.globalTargets.length">
                No information
            </div>
            <div class="values">
                <div *ngFor="let sdgTarget of tableAData?.sdgTargets" class="value-item box ibd-shadow-1">{{sdgTarget.sdg_target}}</div>
            </div>
        </div>

    </div>
    
</div>