.box_container{
    padding: 10px;
    width: 100%;

 }

form{
    position: relative;
    box-shadow: 0 10px 20px #087b8327, 0 6px 6px #087b8328;
    width: auto;
    border-radius: 10px; 
    border: solid 3px #087b8362;
    overflow: hidden;
    .local_container{
        
        padding: 25px;

    
    }
 }


 .geographic-scope-title{
     width: 100% !important;
     text-align: center;
     font-size: 1.2em;
 }

 .disabled {
     &::after{
         content: '';
         z-index: 4;
         position: absolute;
         width: 95%;
         height: 100%;
         top: 0;
         border-radius: 5px;
     }

     & > p{
         color: gray !important;
     }
 }

 :host ::ng-deep .disabled div ibdc-select-multiple span div div div a p strong{
    color: gray !important;
}

:host ::ng-deep .disabled div ibdc-select-multiple span div div div div p strong{
    color: gray !important;
}