<section-title name="Innovation Packages and Scaling Readiness Plan" ></section-title>
<form  (ngSubmit)="saveSection()" class="general-information-form">
    <div class="section-container animate__animated animate__fadeIn" >
        <div class="row" *ngIf="showForm">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="secionForm" [extraValidation]="this.extraValidation"></app-section-alerts-pack>
            </div>
            <div class="col-sm-12" >
                <ibdc-textarea
                    [options]="{inputTitle:'Innovation Packages and Scaling Readiness Plan',readOnlyVariable: _initiativesService.initiative.readonly, form:secionForm,editText:true, formControlName:'key_principles', maxWords:250,
                    description:'Provide narrative that covers:1. How key principles of the Innovation Packages and Scaling Readiness approach will be integrated into the Initiative between 2022-2024, and how this is expected to add value to the Initiative, 2. Indicate the dedicated capacity and budget to embed key principles of the Innovation Package and Scaling Readiness approach into the Initiative between 2022-2024, and associated Management Plan and MELIA activities, over the course of the Initiative.'}">
                </ibdc-textarea>
            </div>

        </div>
        
    </div>

    <div class="section-container">
        <div class="row">
            <div class="col-12">
                <ibdc-alert [options]="{text: 'The following table summarizes the expected Innovation Packages and Scaling Readiness Tracks. ', 
                                        type:'info'}"></ibdc-alert>
            </div>
        </div>
    </div>
    
    <div class="section-container animate__animated animate__fadeIn">
        <div class="card-for-preview ibd-shadow-2">
            <div class="card">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 150px;"></th>
                            <th *ngFor="let th of configAtribute">{{th.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.body[0] | keyvalue">
                            <td>{{this.configIndex[item.key]}}</td>
                            <td *ngFor="let element of item.value | keyvalue">
                                <p-inputNumber [(ngModel)]="this.body[0][item.key][element.key].value" [ngModelOptions]="{standalone: true}" [showButtons]="true" [min]="0" [max]="100"></p-inputNumber>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
        <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember: this._dataControlService.minutesToRemeberSave}"></ibdc-save-button>
    </div>
</form>
