



<div class="item_top_five">
    <div class="txt_area_container">
        <!-- <ibdc-textarea [options]="{inputTitle:'Opportunity description', form:opportunityForm, formControlName:'opportunities_description',
        readOnlyVariable: this._initiativesService.initiative.readonly,initialParagraphs:1,maxWords:50}">
        </ibdc-textarea> -->
        <ibdc-text-area-field 
        inputTitle="Opportunity description" 
        [objectItem]="this.opportunity"  
        [objectAtributteName]="'description_risk'"
        ></ibdc-text-area-field>
    </div>
    <div class="icon_container" (click)="removeOpportunity()">
        <span class="material-icons">delete</span>
        <div class="delete_text">Delete</div>
    </div>
</div>