<p>narratives works!</p>
<div class="container">
    <div class="row">
        <form [formGroup]="_auth.narrativesForm">
            <div class="col">
                <mat-form-field class="full-width-input">
                    <input type="text" formControlName="challenge" matInput placeholder="Challenge" required />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width-input">
                    <input type="text" formControlName="objectives" matInput placeholder="Objectives" required />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width-input">
                    <input type="text" formControlName="results" matInput placeholder="Results" required />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width-input">
                    <input type="number" formControlName="activities" matInput placeholder="Activities" required />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width-input">
                    <input type="text" formControlName="highlights" matInput placeholder="Highlights" required />
                </mat-form-field>
            </div>
            <div class="col">
                <button type="submit" (click)="_auth.saveGeneralInformation()" mat-raised-button class="login-button">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>