<section-title name="Comparative advantage"></section-title>
<div class="section-container animate__animated animate__fadeIn">
    <form [formGroup]="contextForm" (ngSubmit)="upserInfo()" class="general-information-form">

        <div class="row">
            <div class="col-12">
                <app-section-alerts-pack [sectionForm]="contextForm"></app-section-alerts-pack>
            </div>
            <div class="col-sm-12" >
                <ibdc-textarea *ngIf="showfrom"
                    [options]="{inputTitle:'Comparative advantage', form:contextForm,readOnlyVariable: _initiativesService.initiative.readonly, editText:true, formControlName:'comparative_advantage',maxWords:250,
                    description:'Provide evidence of why and how CGIAR and the partnership arrangement will deliver a unique or more cost-effective set of results compared to other credible partnerships or service provider.'}">
                </ibdc-textarea>
            </div>
            <div class="col-sm-12">
                <ibdc-link-list [options]="{
                    inputTitle:'Provide any additional support document(s)',
                    descriptions:'Add urls',
                    readOnlyVariable: _initiativesService.initiative.readonly,
                    savedList:{
                        list:citationsList,
                        attributeDescription:'title',
                        attributeLink:'link'
                    }
                }"></ibdc-link-list>
            </div>


        </div>

        <div class="spacer" *ngIf="_initiativesService.initiative.readonly" style="margin-bottom: 100px;"></div>

        <div class="justify_content_end" *ngIf="!_initiativesService.initiative.readonly">
            <ibdc-save-button [options]="{readOnlyVariable: _initiativesService.initiative.readonly,remember:true, minutesToRemember:5}"></ibdc-save-button>
        </div>
    </form>
    <ngx-spinner bdColor="#00151da1" type="ball-triangle-path" [fullScreen]="false" name='spinner'><br><br><br><br><p style="font-size: 20px; color: white">Loading data...</p></ngx-spinner>
</div>