<div class="row">
    <div class="col-12">
        <p-skeleton width="100px" height="17px"></p-skeleton>
        <div style="margin-top: 8px;"></div>
        <p-skeleton height="30px"></p-skeleton>
    </div>

    <div class="col-12">
        <div style="margin-top: 20px;"></div>
        <p-skeleton width="50%" height="70px"></p-skeleton>
    </div>

    <div class="col-12">
        <div style="margin-top: 20px;"></div>
        <p-skeleton width="50%" height="70px"></p-skeleton>
    </div>

    <div class="col-12">
        <div style="margin-top: 20px;"></div>
    </div>

    <div class="col-6">
        <p-skeleton width="100px" height="17px"></p-skeleton>
        <div style="margin-top: 8px;"></div>
        <p-skeleton height="30px"></p-skeleton>
    </div>

    <div class="col-6">
        <p-skeleton width="100px" height="17px"></p-skeleton>
        <div style="margin-top: 8px;"></div>
        <p-skeleton height="30px"></p-skeleton>
    </div>

</div>

<br>
<br>
<br>