.general-information-full-width {
    width: 100%;
}
p strong {
    color: #0779A4;
}

.description-field {
    color: #666666;
    font-size: 0.8rem;
}

.asterisk {
    color: #ff0000;
}

.readonly_text,.readonly_text_title{
    margin: 0;
}