<mat-form-field appearance="standard" class="general-information-full-width">
    <p><strong>{{options.inputTitle}}: </strong><span class="asterisk">* </span></p>
    <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i>
    </p>
    <mat-select [formControl]="selectInput" (ngModelChange)="setValue()" >
        <mat-option *ngFor="let item of options.selectList" [value]="item[options.selectItemId]">{{item[options.selectItemName]}}
        </mat-option>
    </mat-select>
</mat-form-field>