
<span [ngSwitch]="this._initiativesService.initiative.readonly">
<div *ngSwitchCase="true">
    <br>
    <p class="readonly_text_title"><strong class="color-secondary">{{options.inputTitle}}: </strong><span class="asterisk">* </span></p>
    <p class="readonly_text">{{getSelectResult()||'Not available'}}</p>
</div>

<div *ngSwitchDefault>

    <mat-form-field appearance="standard" class="general-information-full-width" *ngIf="!options.service">
        <p><strong class="color-secondary">{{options.inputTitle}}: </strong><span class="asterisk">* </span></p>
        <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i>
        </p>
        <mat-select [formControl]="selectInput" (selectionChange)="setValue($event)" >
            <mat-option *ngFor="let item of options.selectList" [disabled]="disableOption(item)"  [value]="item[options.selectItemId]">{{item[options.selectItemName]}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field floatLabel="false" *ngIf="options.service" cdkFocusInitial>
        <p><strong class="color-secondary">{{options.inputTitle}}: </strong><span [hidden]="options.required === false" class="asterisk">* </span></p>
        <p *ngIf="options.description" class="description-field"><i>{{options.description}}</i></p>
        <input type="text" aria-label="Number" placeholder="Write to search" matInput [matAutocomplete]="auto" [(ngModel)]="searchText" (ngModelChange)="consumeService($event)" [disabled]="removeFocus">
        <mat-label [hidden]="true"></mat-label>
        <mat-autocomplete #auto="matAutocomplete">
            <cdk-virtual-scroll-viewport class="autocomplete-test-viewport"  itemSize="25" [ngStyle]="{'height': height}">
            
          <mat-option class="autocomplete-item"  *cdkVirtualFor="let option of selectList" [value]="option.name" (click)="removeFocusSelect();addOption(option)" [disabled]="disableOption(option)">
            <mat-icon aria-hidden="false" color="primary" aria-label="Example home icon">{{disableOption(option)?'radio_button_checked':'radio_button_unchecked'}}</mat-icon> {{option[options.selectItemName]}}
          </mat-option>
          <mat-option *ngIf="selectList.length == 0" [value]=""  [disabled]="false">
          <span class="color_message" *ngIf="searchText">No matches found...</span> <span class="color_message" *ngIf="!searchText ">Write something to filter</span> <mat-icon style="margin-left: 10px; position: relative; top: -2px;" class="color_message">{{searchText?'search_off':'keyboard'}}</mat-icon> 
          </mat-option>
        </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
    </mat-form-field>

</div>
</span>
