
  
  .card-signin {
    width: 500px;
    border: 0;
    border-radius: 3rem 3rem 1rem 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
  }
  
  .card_custom_header{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2em 2em 0 0;
  }
  
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin: 0;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  mat-form-field {
    display: block;
  }
  
  header {
    position: relative;
  }
  
  .note {
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: justify;
  }
  
  .one-header {
    font-size: 2em;
    color: #ffff;
    background-color: rgba(19,19,19,.4);
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 1rem 8rem;
  }
  
  .outline-font {
    font-weight: 100;
  }
  
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .full-width-input,
  button {
    width: 100%;
  }
  
  .separator {
    margin-bottom: 2rem;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(19,19,19,.4);
    color: white;
    text-align: center;
  }
  
  p {
    margin: 12px 0;
  }
  
  .absolute_floating_login{
    position: absolute;
    top: 0;
    transition: all .3s ease-in-out;
    // left: -50vw;
  }
  .absolute_floating_CP{
    position: absolute;
    top: 0;
    transition: all .3s ease-out;
    // left: 50vw;
  }
  
  .change-password-text{
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: .95em;
    font-weight: 300;
    &:hover{
      transition: all .3s ease;
      filter: opacity(.55);
    }
  }