<form class="form-signin" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

    <div class="row">
      <div class="col-6">
        <mat-form-field class="full-width-input  separator">
          <input text="text" formControlName="email" matInput placeholder="Email" required />
          <mat-error *ngIf="changePasswordForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('email').hasError('required')" >
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div style="margin-top: 5px;"></div>
  
        
        <mat-form-field class="full-width-input separator">
          <input [type]="hide ? 'password' : 'text'" formControlName="newPassword" matInput placeholder="New Password" required />
          <mat-error *ngIf="changePasswordForm.get('newPassword').errors?.minlength">
            The password must be longer than <strong>8</strong> characters 
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          <div mat-icon-button matSuffix>
            <mat-icon (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </div>
          <mat-error >
            <!-- {{ changePasswordForm.errorMessage }} -->
          </mat-error>
        </mat-form-field>
    

      </div>
      <div class="col-6">

        <mat-form-field class="full-width-input separator">
          <input [type]="hide ? 'password' : 'text'" formControlName="oldPassword" matInput placeholder="Current Password" required />
          <mat-error *ngIf="changePasswordForm.get('oldPassword').errors?.minlength">
            The password must be longer than <strong>8</strong> characters 
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          <div mat-icon-button matSuffix>
            <mat-icon (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </div>
          <mat-error >
            <!-- {{ changePasswordForm.errorMessage }} -->
          </mat-error>
        </mat-form-field>



  
        <mat-form-field class="full-width-input separator">
          <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput placeholder="Confirm Password" required />
          <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.minlength">
            The password must be longer than <strong>8</strong> characters 
          </mat-error>
          <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
            password is <strong>required</strong>
          </mat-error>
          <mat-error >Passwords are not the same</mat-error>
          <div mat-icon-button matSuffix>
            <mat-icon (click)="hide = !hide">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </div>
          <mat-error >
            <!-- {{ changePasswordForm.errorMessage }} -->
          </mat-error>
        </mat-form-field>
  
      </div>
    </div>

    <div class="button-change-password-container">
      <button [disabled]="changePasswordForm.invalid" mat-raised-button type="submit" color="primary">Change password</button>
    </div>
    <br>
    <p class="color-tertiary change-password-text" (click)="changeCard()"> Log in</p>
    <hr class="my-4">
    <div class="note">
      <span><strong>PLEASE NOTE:</strong> that by using the system, you consent to the information being used
        by the
        System Management Office. The information you input should therefore be complete and suitable for an
        external
        audience and funders.</span>
    </div>
  </form>