
<div>

    <div class="header section_title {{this._utilsService.validateCurrrentSection(this.customRouterLink) ? 'active_section' : '' }} {{ !this.collapse && this.haveContent || this._utilsService.validateCurrrentSection(this.customRouterLink) ? 'expanded':''}}" (click)="this.haveContent?this.collapse = !this.collapse : this._utilsService.navigate(this.customRouterLink)">
        <div class="title">
            <ng-content select="[title]"></ng-content>
        </div>
        <div class="icons">
            <div class="icon">
                <i class="material-icons expand_more_icon" [style.transform]="'rotate('+(this.collapse?0:180)+'deg)'" [ngStyle]="{'opacity': this.haveContent ? 1 : 0}">expand_more</i>
            </div>
            <div class="icon">
                <i class="material-icons-outlined material-icons"  [style.color]="fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'">beenhere</i>
            </div>
        </div>
    </div>
    
    <div class="body" [@expandable]="this.haveContent ? (this.collapse?'collapse':'expand') : null">
        <!-- <div class="line"></div> -->
        <div class="content" *ngIf="this.haveContent">
            <ng-content select="[content]"></ng-content>
        </div>
    </div>
    
</div>


<!-- sections list -->
<!-- <div class="stage-section" *ngFor="let section of this.sections; let i = index">
    <a *ngIf="!section.subsections.length" class="number-and-title-container noActiveSection" routerLinkActive="activeSection"
        [routerLink]="(stage.description == 'Full Proposal'?'full-proposal/':'pre-concept/')+section.description"
        (click)="this._menuService.toggleExpand(subSectionsList);">
    
        <div class="number">{{i+1}} </div>
        <span class="stage-section-title" [ngStyle]="{'margin-right':'2em'}">{{section.display_name}}</span>
        <div class="status_icons">
            <span [style.color]="section.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'"
                class="material-icons-outlined material-icons" *ngIf="section.visible">verified</span>
            <img *ngIf="!section.visible" class="icon-under-contruction" src="/assets/images/under-construction.png" alt=""
                srcset="">
        </div>
    
    </a>



    <div *ngIf="section.subsections.length" class="number-and-title-container noActiveSection" (click)="this._menuService.toggleExpand(subSectionsList);">

        <div class="number">{{i+1}}</div>
        <span class="stage-section-title" [ngStyle]="{'margin-right':'2em'}">{{section.display_name}}</span>
        <div class="status_icons">
            <span [style.color]="section.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'"
                class="material-icons-outlined material-icons" *ngIf="section.visible">verified</span>
            <img *ngIf="!section.visible" class="icon-under-contruction" src="/assets/images/under-construction.png"
                alt="" srcset="">
        </div>

    </div>

    <div #subSectionsList class="sub-sections"
        [ngClass]="{'expandIbd': this._menuService.activeClassByRoute([this.section.description],this.router.routerState.snapshot.url),'collapseIbd': !this._menuService.activeClassByRoute([this.section.description],this.router.routerState.snapshot.url)}"
        [@expandable]="subSectionsList.classList.contains('collapseIbd')?'collapse':'expand'">

        <app-menu-sub-section [stage]="stage" [section]="section"></app-menu-sub-section>
        <app-menu-sub-section-preview [section]="section"></app-menu-sub-section-preview>

    </div>



</div> -->