.header{
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    .title{
        align-self: center;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .expand_more_icon{
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
            font-size: 30px;
            user-select: none;
        }
    }

}
.body{
    display: grid;
    grid-template-columns: 5px 1fr;
    overflow: hidden;
    .line{
        height: auto;
        width: 5px;
        background-color: var(--ibdc-primary-color);
        justify-self: end;
    }
    .content{

    }
}

.active_section{
    background-color: var(--ibdc-primary-color);
}

// .stage-section{
//     margin-left: 10px;
//     position: relative;
//     margin-bottom: 15px;
//   //   display: flex;
//   .number-and-title-container.noActiveSection{
//       color: #ffffff;
//       transition: all ease .3s;
//       position: relative;
//       display: flex;
//       &:hover{
//           transition: all ease .3s;
//           color: white;
//           .number{
//               transition: all ease .3s;
//               border: 2.9px white  solid;
//               background-color: white;
//               color: rgb(41, 41, 41);
//           }
//           .stage-section-title{
//               border-bottom: 2px solid white; 
//               border-radius: 1px;
//               transition: all ease .3s;
//           }
//       }
//       .stage-section-title{
//           text-decoration: none;
//           transition: all ease .3s;
//           border-bottom: 2px solid rgba(0, 0, 0, 0);
//           // margin-right: 100px !important;     
//       }
//       .number{
//           transition: all ease .3s;
//           background-color: rgba(255, 255, 255, 0);
//           position: relative;
//           top: -5px;
//           // left: -40px;
//           min-width: 30px;
//           width: 30px;
//           height: 30px;
//           border-radius: 30px;
//           border: 2.9px #ffffffa6 solid;
//           // display: flex;
//           text-align: center;
//           vertical-align: middle;
//           padding-top: 2px;
//           margin-right: 10px;
//       }

//   }

//   .number-and-title-container.activeSection{
//       color: #ffffff;
//       transition: all ease .3s;
//       position: relative;
//       display: flex;
//       transition: all ease .3s;
//       color: white;
//       .stage-section-title{
//           border-bottom: 2px solid #85e788; 
//           border-radius: 1px;
//           transition: all ease .3s;
//       }
//       .number{
//           position: relative;
//           top: -5px;
//           min-width: 30px;
//           width: 30px;
//           height: 30px;
//           border-radius: 30px;
//           border: 2.9px #85e788 solid;
//           text-align: center;
//           vertical-align: middle;
//           padding-top: 2px;
//           margin-right: 10px;
//           background-color: #85e788;
//           color: #292929;
//       }

//   }


// }  

// .sub-sections{
//     padding-top: 10px;
//     overflow: hidden;
// }