        <!-- sections list -->
        <div class="stage-section" *ngFor="let section of this.sections; let i = index">
            <div class="number-and-title-container noActiveSection" routerLinkActive="activeSection"
                [routerLink]="section.subsections.length?'full-proposal/'+section.description+'/'+section?.subsections[0]?.description:'full-proposal/'+section.description"
                [class.disabled]="true" (click)="toggleExpand(subSectionsList);">

                <div class="number">{{i+1}}</div>
                <span class="stage-section-title" [ngStyle]="{'margin-right':'2em'}">{{section.display_name}}</span>
                <div class="status_icons">
                    <span [style.color]="section.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'"
                        class="material-icons-outlined material-icons" *ngIf="section.visible">verified</span>
                    <img *ngIf="!section.visible" class="icon-under-contruction"
                        src="/assets/images/under-construction.png" alt="" srcset="">
                </div>

            </div>
            <div #subSectionsList class="sub-sections"
                [ngClass]="{'expandIbd': this._menuService.activeClassByRoute([section.description],this.router.routerState.snapshot.url),'collapseIbd': !this._menuService.activeClassByRoute([section.description],this.router.routerState.snapshot.url)}"
                [@expandable]="subSectionsList.classList.contains('collapseIbd')?'collapse':'expand'">
                <!-- sub sections list -->
                <div class="sub-section-container" *ngFor="let subSection of section.subsections"
                    [hidden]="subSection.block == true">
                    <div class="noActiveSection {{subSection.dynamicList?'sub-section-with-dynamicList':'sub-section'}}"
                        routerLinkActive="activeSection"
                        [routerLink]="'full-proposal/'+section.description+'/'+subSection.description">

                        <span class="subsection-title"
                            [ngClass]="{'activeSection': this._menuService.activeClassByRoute([subSection.description],this.router.routerState.snapshot.url)}">{{subSection.display_name}}</span>
                        <div class="status_icons">
                            <span style="margin-right: 8px;"
                                [style.color]="subSection.fieldsCompleted?'var(--ibdc-secondary-color)':'#d3d3d3'"
                                class="material-icons-outlined material-icons"
                                *ngIf="subSection.visible && (subSection.subSectionId != 12)">check_circle</span>
                            <img style="margin-right: 8px;" *ngIf="!subSection.visible"
                                class="icon-under-contruction" src="/assets/images/under-construction.png" alt=""
                                srcset="">
                        </div>
                    </div>
                    LISTAS DINAMICAS

                </div>

                <div *ngIf="section?.previewButton" class="sectionPreviewButton preview"
                    routerLinkActive="activeSection"
                    [routerLink]="'full-proposal/'+section.description+'/'+section?.previewButton?.frontRoute">
                    <div class="previewButton_texts">
                        <div class="point"></div>
                        <span>{{section?.previewButton?.showName||'(Unnamed)'}}</span>
                    </div>
                    <span style="margin-right: 8px;" [style.color]="'#a8a8a8'"
                        class="material-icons-outlined material-icons">analytics</span>
                </div>

            </div>
        </div>