<form [formGroup]="workPackageForm" (ngSubmit)="saveGeographicScope()" *ngIf="showForm">
    <!-- <app-geographic-scope [workPackageData]="workPackageData"></app-geographic-scope> -->
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 horizontal_padding">
            <div class="geographic-scope-container">
                <div class="geographic-scope-form">
                    <p class="readonly_text_title"><strong class="color-secondary">¿Does the initiative have a global dimension?</strong><span class="asterisk">* </span></p>
                    <div class="edit" *ngIf="!this._initiativesService.initiative.readonly">
                        <div>
                            <button style="margin-right: 10px;" type="button" mat-raised-button [color]="this.workPackageForm.value.isGlobal?'accent':''"
                                (click)="setIsGlobal(true);">Yes</button>
                            <button type="button" mat-raised-button [color] = "!this.workPackageForm.value.isGlobal?'warn':''"
                                (click)="setIsGlobal(false);">No</button>
                        </div>
                    </div>
                    <div class="only_read" *ngIf="this._initiativesService.initiative.readonly">
                        <p>{{this.workPackageForm.get('isGlobal').value?'Yes':'No'}}</p>
                    </div>
                    <br>
                </div>
            </div>
            <br>
        </div>
        <div class="col-6 horizontal_padding">
            <div class="box_container">
                <custom-multiple-choice [options]="{
                    required:true,
                    inputTitle:'Select regions',

                    selectedList:this.regionsSelectedList,
                    selectItemName:'name',
                    selectItemId:'code',
                    selectedItemId:'code',
                    service:{
                        serviceTS:this._clarisaService,
                        functionName:'getRegions',
                        objectName:'regions',
                        frontendSearchAttribute:'name'
                    }
                   }"></custom-multiple-choice>
            </div>

        </div>
        <div class="col-6  horizontal_padding">
            <div class="box_container">
            <custom-multiple-choice [options]="{
                required:true,
                inputTitle:'Select countries',

                selectedList:this.countriesSelectedList,
                selectItemName:'name',
                selectItemId:'code',
                selectedItemId:'code',
                attributeNameToSearch:'name',
                service:{
                    serviceTS:this._initiativesService,
                    functionName:'getCLARISACountries',
                    objectName:'countries'
                }
               }"></custom-multiple-choice>
            </div>
        </div>
    </div>

    <br>
    <div class="narratives-save">
        <save-button></save-button>
    </div>
</form>