.general-information-form {
  width: 100%;
}
  
.general-information-full-width {
  width: 100%;
}

.general-information-save {
  display: flex;
  justify-content: flex-end;
}

.save-button {
  text-decoration: none;
  color: #fff;
  width: 100px;
}